<div class="mb-4 mt-1">
  @if (message) {
    <p style="margin-bottom: 2rem;">{{ message }}</p>
  }
  @if (showPrice) {
    <div class="mb-3">
      <p-floatlabel variant="on">
        <p-inputNumber
          class="w-100"
          styleClass="w-100"
          id="amount"
          currency="EUR"
          mode="currency"
          locale="es-ES"
          [(ngModel)]="price"
          [showButtons]="true"
          [min]="0"
        ></p-inputNumber>
        <label class="required" for="amount">Precio total de la actividad (€)</label>
      </p-floatlabel>
    </div>
  }
  <p-floatlabel variant="on">
    <label [ngClass]="{'required': required}" for="comment">{{ floatLabel }}</label>
    <app-form-text-area
      id="comment"
      [maxLength]="2047"
      [(ngModel)]="comment"
      rows="6"
      (isValid)="validText = $event"
    ></app-form-text-area>
  </p-floatlabel>
</div>
<app-save-buttons
  [showCancelButton]="true"
  (onCancel)="ref.close()"
  saveLabel="Actualizar"
  [saveDisabled]="disableUpdateButton()"
  (onSave)="submit()"
></app-save-buttons>
