<div class="container">
  <h1 class="text-center">Secciones Educativas</h1>
  <p-divider class="mb-1" align="left">
    <h2 class="text-center mb-0">Colonia</h2>
  </p-divider>
  <div class="d-flex flex-column mb-3">
    <div>
      <b>Unidad:</b> Colonia Garajonay
    </div>
    <div>
      <b>Educandas:</b> Castoras
    </div>
    <div>
      <b>Edades:</b> de 6 a 8 años (1º y 2º Primaria)
    </div>
    <div>
      <b>Marco simbólico:</b> La Vida en el Estanque
    </div>
    <div>
      <b>Lema:</b> “COMPARTIR”
    </div>
    <div>
      <b>Ley:</b> “El castor/a comparte con alegría y juega con todos“
    </div>
    <div>
      <b>Punto de reunión:</b> Madriguera
    </div>
  </div>
  <p>
    Los Castores son niños y niñas de 6 a 8 años. Es la edad de la máxima ilusión por descubrirlo todo. Es también la
    primera vez que salen de casa y comienzan a acercarse a los demás. Contemplan con curiosidad todo lo que les
    rodea, desarrollando la creatividad.
  </p>
  <p>
    Los castores se organizan en “Colonias” donde aprenden a vivir en grupo y a participar activamente de las
    actividades junto a otros de su misma edad. El lema “Compartir” fomenta la igualdad y la solidaridad entre ellos.
    A través de juegos y canciones van desarrollando rutinas y haciéndose responsables de sus acciones. El juego
    desarrolla la imaginación y la pone al alcance del adulto para hablar así el lenguaje del niño y educarle en
    diferentes áreas y responsabilidades.
  </p>
  <p>
    En esta edad es fundamental que vayan adquiriendo responsabilidades, tanto personales como colectivas.
  </p>
  <p>Desde la adquisición de hábitos de higiene corporal, hasta los conceptos de que “cada cosa tiene su sitio” o que
    todos debemos ayudar a recoger después de una actividad. Los castores, se van haciendo así personitas más
    autónomas, capaces de resolver situaciones y adquiriendo capacidades que les acompañarán el resto de su vida
    infantil, juvenil y adulta.
  </p>
  <p>
    Con las excursiones, campamentos y visitas educativas se consigue que el niño vaya poco a poco descubriendo el
    mundo que lo rodea, compartiendo esas experiencias no solo con los adultos sino con otros de su misma edad,
    desarrollando interés temprano en áreas que le gustan.
  </p>
  <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
    <img
      alt="Castores"
      src="assets/web-pages/quienes-somos/castores-1.jpg"
    >
    <img
      alt="Castores"
      src="assets/web-pages/quienes-somos/castores-2.jpg"
    >
    <img
      class="d-none d-lg-block"
      alt="Castores"
      src="assets/web-pages/quienes-somos/castores-3.jpg"
    >
    <img
      class="d-none d-xl-block"
      alt="Castores"
      src="assets/web-pages/quienes-somos/castores-5.jpeg"
    >
  </div>
  <br>
  <p-divider class="mb-1" align="left">
    <h2 class="text-center mb-0">Manada</h2>
  </p-divider>
  <div class="d-flex flex-column mb-3">
    <div>
      <b>Unidades:</b> Manadas Baobab y Waigunga
    </div>
    <div>
      <b>Educandas:</b> Lobatas
    </div>
    <div>
      <b>Edades:</b> de 8 a 11 años (3º a 5º de Primaria)
    </div>
    <div>
      <b>Marco simbólico:</b> El Libro de las Tierras Vírgenes
    </div>
    <div>
      <b>Lema:</b> “HAREMOS LO MEJOR”
    </div>
    <div>
      <b>Ley:</b> “El lobato/a sigue las huellas del Viejo Lobo y vive la manada con alegría”
    </div>
    <div>
      <b>Punto de reunión:</b> Cubil
    </div>
  </div>
  <p>
    Tras su paso por la Colonia y al cumplir los 8 años, niños y niñas entran a formar parte de la Manada de
    Lobatos.
  </p>
  <p>
    Su imaginación está al servicio de una incesante actividad y del juego, su medio de aprender. Su compromiso es
    “Haremos lo mejor”. De nuevo es el desarrollo de la imaginación la que permite al educador hablar un lenguaje
    accesible para el niño. En esta etapa los niños y niñas aprenden a convivir en pequeños grupos de seis, llamados
    “seisenas”, en las que se reparten responsabilidades y aprenden a trabajar juntos, desplegando sus hábitos
    sociales y responsabilizándose de su tarea.
  </p>
  <p>
    A través del juego, el niño aprende a quererse y respetarse, y a querer y respetar a los demás. Es a través del
    juego como va adquiriendo también sus propios valores personales que le acompañarán toda su vida.
  </p>
  <p>
    Por medio de talleres se inician en destrezas y habilidades, y a través de excursiones y campamentos, a
    desenvolverse por sí mismos de manera cada vez más autónoma. Los niños y niñas de una Manada de Lobatos se inician
    en el Gran Juego de la Vida con la ilusión de crecer sanos, fuertes, capaces de superarse y con ganas de descubrir
    el mundo.
  </p>
  <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
    <img
      alt="Lobatos"
      src="assets/web-pages/quienes-somos/lobatos-4.jpg"
    >
    <img
      alt="Lobatos"
      src="assets/web-pages/quienes-somos/lobatos-2.jpg"
    >
    <img
      class="d-none d-lg-block"
      alt="Lobatos"
      src="assets/web-pages/quienes-somos/lobatos-1.jpeg"
    >
    <img
      class="d-none d-xl-block"
      alt="Lobatos"
      src="assets/web-pages/quienes-somos/lobatos-3.jpg"
    >
  </div>
  <br>
  <p-divider class="mb-1" align="left">
    <h2 class="text-center mb-0">Scout</h2>
  </p-divider>
  <div class="d-flex flex-column mb-3">
    <div>
      <b>Unidades:</b> Tropas Scout Arteteifac y Autindana
    </div>
    <div>
      <b>Educandas:</b> Scouts
    </div>
    <div>
      <b>Edades:</b> de 11 a 14 años (6º de Primaria a 2º ESO)
    </div>
    <div>
      <b>Marco simbólico:</b> La Aventura
    </div>
    <div>
      <b>Lema:</b> “SIEMPRE LISTOS”
    </div>
    <div>
      <b>Ley:</b> Ley Scout
    </div>
    <div>
      <b>Punto de reunión:</b> Rincón de Patrulla
    </div>
  </div>
  <p>
    En la Sección Scout aspiran a estar “Siempre listos”, se trabaja en Patrullas, donde se potencia el compromiso
    personal. Eligen sus propios líderes y programan las actividades, con apoyo de sus educadores. Los chicos y chicas
    adquieren así sus propias responsabilidades y aprenden a valorar el trabajo en equipo.
  </p>
  <p>
    La imaginación deja paso a la sed de aventuras. El contacto directo con la Naturaleza y las destrezas para
    desenvolverse en el medio natural les permiten ir más allá en la formación de sí mismos y de su personalidad. A
    través de las “Especialidades”, los chicos aprenden destrezas individuales en áreas que más les motivan, abriendo
    así el camino de su formación profesional y de sus aficiones.
  </p>
  <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
    <img
      alt="Tropas"
      src="assets/web-pages/quienes-somos/scouts-1.jpeg"
    >
    <img
      alt="Tropas"
      src="assets/web-pages/quienes-somos/scouts-2.jpeg"
    >
    <img
      class="d-none d-lg-block"
      alt="Tropas"
      src="assets/web-pages/quienes-somos/scouts-3.jpg"
    >
    <img
      class="d-none d-xl-block"
      alt="Tropas"
      src="assets/web-pages/quienes-somos/scouts-4.jpg"
    >
  </div>
  <br>
  <p-divider class="mb-1" align="left">
    <h2 class="text-center mb-0">Esculta</h2>
  </p-divider>
  <div class="d-flex flex-column mb-3">
    <div>
      <b>Unidad:</b> Unidad Esculta Aridane
    </div>
    <div>
      <b>Educandas:</b> Escultas
    </div>
    <div>
      <b>Edades:</b> de 14 a 17 años (3º ESO a 1º de Bachillerato)
    </div>
    <div>
      <b>Marco simbólico:</b> Aborígenes Canarios
    </div>
    <div>
      <b>Lema:</b> “IMIDAGÜEN” (Unidad)
    </div>
    <div>
      <b>Ley:</b> Ley Scout
    </div>
    <div>
      <b>Punto de reunión:</b> Base
    </div>
  </div>
  <p>
    Este es un momento crucial para las ideas, los interrogantes y las ambiciones. Los chicos y las chicas empiezan a
    perfilar su personalidad definitiva.
  </p>
  <p>
    El grupo cobra enorme importancia y se hacen hombres y mujeres activos. No aceptan el ocio pasivo y dirigido que
    se oferta a los jóvenes. Elaboran sus propios proyectos, abiertos al servicio comunitario, se abren a la sociedad
    y afianzan su pertenencia y su responsabilidad ciudadana.
  </p>
  <p>
    Conciben sus propios “proyectos de cambio”, la “Empresa” o “Proyecto” desde la idea hasta la ejecución, la
    realizan
    con la supervisión y apoyo de los scouters de unidad. Se responsabilizan de sus acciones y se impulsan en su
    propia motivación.
  </p>
  <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
    <img
      alt="Esculta"
      src="assets/web-pages/quienes-somos/esculta-2.jpg"
    >
    <img
      alt="Esculta"
      src="assets/web-pages/quienes-somos/esculta-4.jpg"
    >
    <img
      class="d-none d-lg-block"
      alt="Esculta"
      src="assets/web-pages/quienes-somos/esculta-1.jpeg"
    >
    <img
      class="d-none d-xl-block"
      alt="Esculta"
      src="assets/web-pages/quienes-somos/esculta-3.jpg"
    >
  </div>
  <br>
  <p-divider class="mb-1" align="left">
    <h2 class="text-center mb-0">Clan</h2>
  </p-divider>
  <div class="d-flex flex-column mb-3">
    <div>
      <b>Unidad:</b> Clan Rover Idafe
    </div>
    <div>
      <b>Educandas:</b> Rovers
    </div>
    <div>
      <b>Edades:</b>de 17 a 21 años (desde 2º de Bachillerato o equivalente)
    </div>
    <div>
      <b>Marco simbólico:</b> Ideal de Caballería
    </div>
    <div>
      <b>Lema:</b> “SERVIR”
    </div>
    <div>
      <b>Ley:</b> Ley Scout
    </div>
    <div>
      <b>Punto de reunión:</b> La Cueva
    </div>
  </div>
  <p>
    Ser Rover es vivir intensamente cada paso, tomar las riendas y hacer un proyecto de su propia vida, empeñarse en
    cambiar el mundo y, sobre todo, creer que es posible.
  </p>
  <p>
    Se comprometen colectiva e individualmente en acciones de cambio y se esfuerzan por crecer al tiempo como persona.
    Elaboran sus propios proyectos personales, se marcan metas y se ayudan mutuamente a madurar y crecer como adultos
    comprometidos. Son jóvenes comprometidos socialmente, dinamizan, conciencian y ayudan a los demás con la esperanza
    de cambiar el mundo.
  </p>
  <p>
    Los encontraréis trabajando en el barrio, o dinamizando a sus compañeros de clase o de trabajo, aunque nadie sepa
    que son “scouts”, esforzándose por hacer suya la máxima scout de “tratar de dejar el mundo en mejores condiciones
    de cómo lo encontramos” y siempre bajo su lema: “servir".
  </p>
  <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
    <img
      alt="Rovers"
      src="assets/web-pages/quienes-somos/clan-1.jpeg"
    >
    <img
      alt="Rovers"
      src="assets/web-pages/quienes-somos/clan-2.jpg"
    >
    <img
      class="d-none d-lg-block"
      alt="Rovers"
      src="assets/web-pages/quienes-somos/clan-3.jpg"
    >
    <img
      class="d-none d-xl-block"
      alt="Rovers"
      src="assets/web-pages/quienes-somos/clan-4.jpg"
    >
  </div>
</div>
