<div class="d-flex justify-content-between align-items-center">
  @if (form.showPrev(showPrevAtFirstPage)) {
    <button
      pButton
      type="button"
      class="me-auto"
      icon="pi pi-chevron-left"
      label="Atrás"
      (click)="form.goToPrevPage()"
      [disabled]="loading"
    ></button>
  }
  @if (form.showNext()) {
    <button
      pButton
      type="button"
      class="ms-auto"
      icon="pi pi-chevron-right"
      iconPos="right"
      label="Continuar"
      (click)="form.goToNextPage()"
    ></button>
  }
  @if (form.isConfirmationPage()) {
    <app-save-buttons
      saveLabel="Enviar"
      saveClass="p-button-success"
      saveIcon="pi pi-send"
      saveType="submit"
      (onSave)="onSubmit.emit()"
      [saveLoading]="loading"
    ></app-save-buttons>
  } @else if (form.isStartPage()) {
    <button
      pButton
      type="button"
      class="ms-auto"
      icon="pi pi-arrow-circle-right"
      iconPos="right"
      label="Comenzar"
      (click)="form.currentPage = 0"
    ></button>
  }
</div>
