<div class="container">
  <h1 class="text-center">COLABORACIONES</h1>
  <p>
    Si usted está leyendo y esto desea colaborar con nosotros o pertenece a una entidad que desee hacerlo. Rellene este
    formulario y nos pondremos en contacto con usted o su entidad para hablar sobre la posible colaboración.
  </p>
  <p>
    Las entradas marcadas con (<span class="fw-bold" style="color: red;">*</span>) son necesarias. El resto son
    optativas.
  </p>
  <form [formGroup]="formHelper.form" class="form-container mt-4">
    <div class="row">
      <div class="col-12 col-md-4">
        <p-floatlabel variant="on">
          <input
            formControlName="name"
            id="name"
            type="text"
            pInputText
          >
          <label class="required" for="name">Nombre de contacto</label>
        </p-floatlabel>
        @if (formHelper.isDirtyAndInvalid('name')) {
          <small class="text-danger">Introduzca un nombre.</small>
        }
      </div>
      <div class="col-12 col-md-4">
        <p-floatlabel variant="on">
          <input
            formControlName="email"
            id="email"
            type="text"
            pInputText
          >
          <label class="required" for="email">Email de contacto</label>
        </p-floatlabel>
        @if (formHelper.isDirtyAndInvalid('email')) {
          <small class="text-danger">Introduzca un correo válido.</small>
        }
      </div>
      <div class="col-12 col-md-4">
        <p-floatlabel variant="on">
          <input
            formControlName="phone"
            id="phone"
            type="text"
            pInputText
          >
          <label class="required" for="phone">Teléfono de contacto</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <p-floatlabel variant="on">
          <input
            formControlName="subject"
            id="subject"
            type="text"
            pInputText
          >
          <label class="required" for="subject">Asunto de la colaboración</label>
        </p-floatlabel>
        @if (formHelper.isDirtyAndInvalid('subject')) {
          <small class="text-danger">Introduzca un asunto.</small>
        }
      </div>
      <div class="col-12 col-md-6">
        <p-floatlabel variant="on">
          <input
            formControlName="entityName"
            id="entityName"
            type="text"
            pInputText
          >
          <label for="entityName">Si es una entidad, ¿cómo se llama?</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <p-floatlabel variant="on">
          <app-form-text-area
            id="message"
            formControlName="message"
            [maxLength]="600"
            [showErrorMessage]="formHelper.isDirtyAndInvalidWithError('message', 'maxlength')"
          ></app-form-text-area>
          <label for="entityName" class="required">Descripción de la colaboración</label>
        </p-floatlabel>
        @if (formHelper.isDirtyAndInvalidWithError('message', 'required')) {
          <small class="text-danger">Introduzca un breve comentario</small>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <app-checkbox-container [privacy]="true">
          <p-checkbox
            id="privacy"
            formControlName="privacy"
            [binary]="true"
          ></p-checkbox>
        </app-checkbox-container>
        @if (formHelper.isDirtyAndInvalid('privacy')) {
          <small class="text-danger">Debe leer y estar de acuerdo con los términos.</small>
        }
      </div>
    </div>
    <app-save-buttons
      saveLabel="ENVIAR"
      (onSave)="submit()"
      [saveLoading]="loading"
      [blockOverlay]="true"
    ></app-save-buttons>
    @if (formHelper.isDirtyAndInvalid()) {
      <div class="w-100 text-center">
        <small class="text-danger">Rellene todos los campos.</small>
      </div>
    }
  </form>
</div>
@if (loading) {
  <div class="p-overlay-mask block-scroll"></div>
}
