<p-drawer [(visible)]="sidebarVisible">
  <ng-template pTemplate="body">
    <nav class="sidebar-menu" role="navigation">
      <p-panelMenu [model]="items"></p-panelMenu>
    </nav>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <div class="d-flex flex-column justify-content-center align-items-center bottom-buttons">
      @if (authService.isLoggedIn()) {
        <a
          [routerLink]="userRoutes.getUserHome()"
          (click)="sidebarVisible = false"
        >
          Mi Vivac
        </a>
      } @else {
        <a
          routerLink="/login"
          (click)="sidebarVisible = false"
          [ngClass]="{'bg-select': currentUrl === '/login'}"
        >
          Iniciar Sesión
        </a>
      }
      <a
        routerLink="/contacto"
        (click)="sidebarVisible = false"
        [ngClass]="{'bg-select': currentUrl === '/contacto'}"
      >
        Contacto
      </a>
      <a
        routerLink="/canal-de-denuncias"
        (click)="sidebarVisible = false"
        [ngClass]="{'bg-select': currentUrl === '/canal-de-denuncias'}"
      >
        Canal de Denuncias
      </a>
    </div>
  </ng-template>
</p-drawer>
<p-button
  class="d-none d-md-inline"
  styleClass="home-bar-button menu"
  (onClick)="expand()"
  icon="pi pi-bars"
  label="Menú"
  text
></p-button>
<p-button
  class="d-md-none"
  styleClass="home-bar-button menu"
  (onClick)="expand()"
  icon="pi pi-bars"
  text
></p-button>
