<div>
  <div>
    <h3
      [pAutoFocus]="true"
      class="fs-5"
      [style.color]="color"
    >{{ information.name }}
    </h3>
    <hr [style.border-color]="color" style="border-width:3px">
    <p>{{ information.information }}</p>
    <p>Este sitio tan idílico cuenta con las siguientes características:</p>
    <ul>
      @for (info of information.features; track $index) {
        <li>{{ info }}</li>
      }
      <li>
        Aportación de mantenimiento:
        {{information.price / 100 | currency:'EUR':undefined:undefined:'es'}}
        por persona y día
      </li>
    </ul>
  </div>
  <div class="d-flex flex-column gap-3 justify-content-center align-items-center mt-4">
    <div class="d-none d-md-block">
      <p-datePicker
        [disabled]="!datesLoaded"
        class="max-w-full booking-information-calendar"
        [inline]="true"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [focusTrap]="false"
        [showOnFocus]="false"
        selectionMode="multiple"
        [maxDateCount]="0"
        [numberOfMonths]="3"
        [showOtherMonths]="false"
        panelStyleClass="calendar-cursor-daefault"
      >
        <ng-template pTemplate="date" let-date>
          <div class="booking-date">
            <span [class]="getDateClass(date)">{{ date.day }}</span>
          </div>
        </ng-template>
      </p-datePicker>
    </div>
    <div class="d-none d-sm-block d-md-none">
      <p-datePicker
        [disabled]="!datesLoaded"
        class="max-w-full booking-information-calendar"
        [inline]="true"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [focusTrap]="false"
        [showOnFocus]="false"
        selectionMode="multiple"
        [maxDateCount]="0"
        [numberOfMonths]="2"
        [showOtherMonths]="false"
        panelStyleClass="calendar-cursor-default"
      >
        <ng-template pTemplate="date" let-date>
          <div class="booking-date">
            <span [class]="getDateClass(date)">{{ date.day }}</span>
          </div>
        </ng-template>
      </p-datePicker>
    </div>
    <div class="d-sm-none">
      <p-datePicker
        [disabled]="!datesLoaded"
        class="max-w-full booking-information-calendar"
        [inline]="true"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [focusTrap]="false"
        [showOnFocus]="false"
        selectionMode="multiple"
        [maxDateCount]="0"
        panelStyleClass="calendar-cursor-default"
      >
        <ng-template pTemplate="date" let-date>
          <div class="booking-date">
            <span [class]="getDateClass(date)">{{ date.day }}</span>
          </div>
        </ng-template>
      </p-datePicker>
    </div>
  </div>
  <div class="mt-3">
    En el calendario del centro scout que se muestra:
    <ul>
      <li>El color amarillo indica que en dicho día hay hecha una pre-reserva, pero esta no ha sido confirmada</li>
      <li>El color naranja indica que en dicho día el centro está parcialmente ocupado, por lo que aún hay plazas
        disponibles
      </li>
      <li>El color rojo indica que en dicho día el centro está totalmente ocupado</li>
      <li>El resto de días el centro está disponible para su reserva</li>
    </ul>
    <p>
      *Tenga en cuenta que este calendario representa una ocupación aproximada. Puede aparecer un día como ocupado, pero
      que sólo lo esté durante ciertas horas. Para obtener una información más completa, haga una reserva.
    </p>
  </div>
  <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center">
    <app-general-a-button
      icon="fa-solid fa-bed"
      label="Hacer Reserva"
      title="Hacer Reserva"
      variant="outlined"
      routerLink="/centros-scout/reserva"
    ></app-general-a-button>
    @if (information.photos.length > 0) {
      <p-button
        icon="pi pi-images"
        label="Ver Fotos del Lugar"
        variant="outlined"
        (click)="displayBasic = true"
      ></p-button>
    }
  </div>
  <p-galleria
    [containerStyle]="{'max-width': '800px'}"
    [value]="information.photos"
    [(visible)]="displayBasic"
    [numVisible]="6"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-image>
      <img [src]="scoutCenterService.getPhotoUrl(image.uuid)" [alt]="image.name" class="galleria-img"/>
    </ng-template>
  </p-galleria>
</div>
