<div class="container">
  <div class="text-center">
    <h1 class="mb-0">Canal anónimo de denuncias</h1>
    <h2>Gestionando la seguridad en Scouts 105 Bentaya</h2>
  </div>
  <p>Este canal posibilita una comunicación anónima y segura de las denuncias que se presenten.</p>
  <p>
    El objetivo de este canal es que cualquier persona o entidad pueda denunciar y/o comunicar cualquier posible
    conducta irregular, poco ética o inapropiada de cualquier persona que esté empleada, represente o participe de
    alguna forma en nuestra Asociación.
  </p>
  <p>
    Animamos a cualquier persona o entidad a comunicarse con nuestra organización y a hacernos llegar sus sugerencias,
    denuncias o cualquier indicio o prueba que pueda sernos de utilidad en los procesos de investigación o estudio que
    se abran.
  </p>
  <p>
    Le agradecemos que nos indique cualquier tipo de datos de los que disponga (fechas, nombre, lugares, etc.) que
    pueda ayudarnos en un posible proceso de investigación interno, a fin de tener las máximas evidencias posibles.
  </p>
  <p>
    Las entradas marcadas con (<span class="fw-bold" style="color: red;">*</span>) son necesarias. El resto son
    optativas.
  </p>
  <form [formGroup]="complaintForm.form" class="form-container">
    <div>
      <div class="row">
        <div class="col-12 col-md-6">
          <p-floatlabel variant="on">
            <input
              pInputText
              formControlName="phone"
              id="phone"
              type="text"
            >
            <label for="phone">Teléfono</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-md-6">
          <p-floatlabel variant="on">
            <input
              formControlName="email"
              id="email"
              type="text"
              pInputText
            >
            <label for="email">Email</label>
          </p-floatlabel>
          @if (complaintForm.isDirtyAndInvalid('email')) {
            <small class="text-danger">Introduzca un correo válido.</small>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3">
          <p-floatlabel variant="on">
            <p-select
              id="category"
              formControlName="category"
              [options]="categories"
            ></p-select>
            <label for="category" class="required">Categoría</label>
          </p-floatlabel>
          @if (complaintForm.isDirtyAndInvalid('category')) {
            <small class="text-danger">Introduzca la categoría de la queja.</small>
          }
        </div>
        <div class="col-12 col-lg-3">
          <p-floatlabel variant="on">
            <p-select
              id="type"
              formControlName="type"
              [options]="types"
            ></p-select>
            <label class="required" for="type">Tipo</label>
          </p-floatlabel>
          @if (complaintForm.isDirtyAndInvalid('type')) {
            <small class="text-danger">Introduzca el tipo de queja.</small>
          }
        </div>
        <div class="col-12 col-lg-3">
          <p-floatlabel variant="on">
            <input
              formControlName="name"
              id="name"
              type="text"
              pInputText
            >
            <label for="name">Nombre</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-lg-3">
          <p-floatlabel variant="on">
            <input
              formControlName="surname"
              id="surname"
              type="text"
              pInputText
            >
            <label for="surname">Apellidos</label>
          </p-floatlabel>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-0">
        <p-floatlabel variant="on">
          <app-form-text-area
            formControlName="text"
            id="text"
            [maxLength]="65535"
          ></app-form-text-area>
          <label class="required" for="text">Descripción de los hechos</label>
        </p-floatlabel>
        @if (complaintForm.isDirtyAndInvalid('text')) {
          <small class="text-danger">
            @if (complaintForm.hasSpecificError('text', 'maxlength')) {
              Introduzca un comentario más corto.
            } @else {
              Introduzca un breve comentario.
            }
          </small>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <app-checkbox-container [privacy]="true">
          <p-checkbox id="privacy" formControlName="privacy" [binary]="true"></p-checkbox>
        </app-checkbox-container>
        @if (complaintForm.isDirtyAndInvalid('privacy')) {
          <small class="text-danger">Debe leer y estar de acuerdo con los términos.</small>
        }
      </div>
    </div>
    <app-save-buttons
      saveLabel="ENVIAR"
      (onSave)="submit()"
      [saveLoading]="loading"
      [blockOverlay]="true"
    ></app-save-buttons>
    @if (complaintForm.isDirtyAndInvalid()) {
      <div class="w-100 text-center">
        <small class="text-danger">Rellene todos los campos.</small>
      </div>
    }
  </form>
</div>
