<div class="container">
  <h1 class="text-center">Protección, buen gobierno y buen trato de la Infancia y la Adolescencia</h1>
  <p>
    Para Scouts 105 Bentaya nuestro compromiso con la Calidad es una parte fundamental de la Entidad.
  </p>
  <p>
    De acuerdo con nuestros Valores como Entidad y en el cumplimiento de los principios de buenas prácticas que
    debemos tener siempre presentes, tenemos implementadas diversas iniciativas, procesos y herramientas que tratan de
    garantizar dichos principios:
  </p>
  <ul>
    <li>
      Aplicación del Código Ético de Scouts de España.
    </li>
    <li>
      Elaboración, actualización y cumplimiento de nuestro plan de protección "A Salvo de Riesgos".
    </li>
  </ul>
  <p>
    La misión de Scouts 105 Bentaya es contribuir a la educación y al desarrollo de niños, niñas y jóvenes a través de
    un sistema de valores basado en la Promesa y la Ley Scout. Por lo tanto, en la organización nos comprometemos a
    mantener un entorno seguro para su desarrollo, favoreciendo y potenciando las acciones que correspondan con la
    finalidad de intentar lograr una protección integral de todas las personas menores de edad frente a la violencia.
    Por eso, practicamos una política de “tolerancia cero” contra la violencia hacia los menores de edad y
    adolescentes.
  </p>
  <p>
    Desde hace más de 100 años, uno de los grandes éxitos del Escultismo ha sido su capacidad para defender entornos
    protegidos, pacíficos y de buen trato para que los niños, las niñas y los jóvenes puedan desarrollar su
    crecimiento en toda su plenitud.
  </p>
  <p>
    Es por lo citado anteriormente, por lo que en Scouts 105 Bentaya concretamos nuestra visión en el ámbito de la
    protección frente a la violencia en:
  </p>
  <ul>
    <li>
      Trabajar para prevenir el deterioro de la salud o el desarrollo de las personas menores de edad pertenecientes a
      la Entidad.
    </li>
    <li>
      Velar por que la Entidad proporcione un medio ambiente sano en el que puedan crecer y desarrollarse.
    </li>
    <li>
      Tomar medidas para promover la seguridad en todas las situaciones posibles.
    </li>
    <li>
      Fomentar políticas dentro de la Entidad para lograr un entorno seguro, es decir, un entorno que promueva y apoye
      el bienestar, al tiempo que previene o corrige las prácticas no adecuadas o de riesgo, que sean de su
      competencia.
    </li>
  </ul>
</div>
