<div>
  <app-checkbox-container label="Selección Múltiple" labelPlacement="left" class="float-end mb-2">
    <p-checkbox
      [binary]="true"
      [(ngModel)]="multiple"
      [disabled]="loading"
      (onChange)="onSelectionCheckboxChange()"
    ></p-checkbox>
  </app-checkbox-container>
  @if (multiple) {
    <p-multiSelect
      [autofocusFilter]="false"
      [options]="groupedInfo"
      [group]="true"
      [(ngModel)]="selectedInfo"
      appendTo="body"
      styleClass="w-100"
      class="w-100 attendance-multiselect"
      panelStyleClass="attendance-multiselect"
      (onChange)="onMultipleSelect()"
      [showClear]="true"
      placeholder="Elegir personas educandas"
      filterBy="name,surname"
    >
      <ng-template let-group #group>
      <div class="d-flex align-items-center">
        <a class="text-black cursor-pointer" (click)="onMultipleGroupSelect(group.items)">
          {{ group.attendLabel }}
        </a>
        <hr>
      </div>
    </ng-template>
      <ng-template let-scout #item>
        <div style="overflow: hidden; text-overflow: ellipsis;">
          {{ scout.name }}, {{ scout.surname }}
        </div>
      </ng-template>
      <ng-template pTemplate="selectedItems">
        @if (selectedInfo) {
          <div class="overflow-ellipsis">{{ selectedInfo | scouts }}</div>
        }
      </ng-template>
    </p-multiSelect>
  } @else {
    <p-autoComplete
      panelStyleClass="opacity: 1"
      placeholder="Elegir persona educanda"
      [suggestions]="filteredInfo"
      (completeMethod)="autocompleteFilterAttendance($event)"
      appendTo="body"
      styleClass="w-100 bold-placeholder"
      inputStyleClass="w-100"
      [inputStyle]="{'border-color': '#b9c1c8'}"
      [dropdown]="true"
      [forceSelection]="true"
      optionLabel="name"
      [showClear]="true"
      (onSelect)="onAutoCompleteSelect($event.value)"
      (onClear)="this.selectedConfirmation = undefined"
    >
      <ng-template let-scout pTemplate="item">
        <div style="overflow: hidden; text-overflow: ellipsis;">
          {{ scout.name }}, {{ scout.surname }}
          ({{ scout.attending == null ? 'NS/NC' : scout.attending ? 'Asiste' : 'No asiste' }})
        </div>
      </ng-template>
    </p-autoComplete>
  }
  @if (!multiple && selectedConfirmation) {
    <div class="d-flex flex-column gap-3 mt-2">
      <div class="d-flex flex-wrap justify-content-between gap-3">
        <div class="d-flex flex-column gap-1">
          <span>Asiste:</span>
          <p-selectButton
            [allowEmpty]="false"
            [options]="attendanceOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="selectedConfirmation.attending"
          ></p-selectButton>
        </div>
        @if (hasPayment) {
          <div class="d-flex flex-column gap-1">
            <span>Ha pagado:</span>
            <p-selectButton
              [allowEmpty]="false"
              [options]="paymentOptions"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="selectedConfirmation.payed"
            ></p-selectButton>
          </div>
        }
      </div>
      <p-floatlabel variant="on">
        <label>Observaciones:</label>
        <app-form-text-area
          [maxLength]="1024"
          [(ngModel)]="selectedConfirmation.text"
          (isValid)="validText = $event"
        ></app-form-text-area>
      </p-floatlabel>
      <app-save-buttons
        [saveLoading]="loading"
        [saveDisabled]="!validText"
        (onSave)="onSingleSubmit(selectedConfirmation)"
      ></app-save-buttons>
    </div>
  } @else if (multiple && selectedInfo && selectedInfo.length > 0) {
    <div class="d-flex flex-column gap-3 mt-2">
      <span>Ha seleccionado {{ selectedInfo.length }} personas educandas, de las cuales:</span>
      <ul>
        @if (infoAttending > 0) {
          <li>{{ infoAttending }} asiste{{ infoAttending > 1 ? 'n' : '' }}</li>
        }
        @if (infoNotAttending > 0) {
          <li>{{ infoNotAttending }} no asiste{{ infoNotAttending > 1 ? 'n' : '' }}</li>
        }
        @if (infoNotConfirmed > 0) {
          <li>{{ infoNotConfirmed }} no ha{{ infoNotConfirmed > 1 ? 'n' : '' }} confirmado</li>
        }
        @if (hasPayment) {
          <hr>
          @if (infoPayed > 0) {
            <li>{{ infoPayed }} ha{{ infoPayed > 1 ? 'n' : '' }} pagado</li>
          }
          @if (infoNotPayed > 0) {
            <li>{{ infoNotPayed }} no ha{{ infoNotPayed > 1 ? 'n' : '' }} pagado</li>
          }
        }
      </ul>
      <div class="d-flex flex-wrap justify-content-between gap-3">
        <div class="d-flex flex-column gap-1">
          <span>Asisten:</span>
          <p-selectButton
            [allowEmpty]="false"
            [options]="attendanceOptions"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="multipleAttending"
          ></p-selectButton>
        </div>
        @if (hasPayment) {
          <div class="d-flex flex-column gap-1">
            <span>Han pagado:</span>
            <p-selectButton
              [allowEmpty]="false"
              [options]="multiplePaymentOptions"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="multiplePaying"
            ></p-selectButton>
          </div>
        }
      </div>
      <app-save-buttons
        [saveLoading]="loading"
        [saveDisabled]="multipleAttending === undefined"
        (onSave)="onMultipleSubmit()"
      ></app-save-buttons>
    </div>
  } @else {
    <div class="d-flex flex-column gap-3 mt-2 opacity-50">
      @if (multiple) {
        <span>Ha seleccionado 0 personas educandas, de las cuales:</span>
        <ul>
          <li>0 asisten</li>
          <li>0 no asisten</li>
          @if (hasPayment) {
            <hr>
            <li>0 han pagado</li>
          }
        </ul>
      }
      <div class="d-flex flex-column gap-1">
        <div class="d-flex flex-wrap justify-content-between gap-3">
          <div class="d-flex flex-column gap-1">
            <span>
              @if (multiple) {
                Asisten:
              } @else {
                Asiste:
              }
            </span>
            <p-selectButton
              [options]="attendanceOptions"
              optionLabel="label"
              [disabled]="true"
            ></p-selectButton>
          </div>
          @if (hasPayment) {
            <div class="d-flex flex-column gap-1">
              <span>
                @if (multiple) {
                  Han pagado:
                } @else {
                  Ha pagado:
                }
              </span>
              <p-selectButton
                [options]="multiple ? multiplePaymentOptions : paymentOptions"
                optionLabel="label"
                [disabled]="true"
              ></p-selectButton>
            </div>
          }
        </div>
      </div>
      @if (!multiple) {
        <p-floatlabel>
          <label>Observaciones</label>
          <app-form-text-area
            [maxLength]="1024"
            [disabled]="true"
          ></app-form-text-area>
        </p-floatlabel>
      }
      <app-save-buttons [saveDisabled]="true"></app-save-buttons>
    </div>
  }
</div>
