<div class="container">
  <h1 class="text-center">Aviso Legal</h1>
  <p>
    En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de
    Servicios de la Sociedad de la Información y del Comercio Electrónico a continuación se declara Bentaya.org como
    un sitio web personal gestionado por Asociación Scouts Exploradores Bentaya con CIF G-35295641 (en adelante, «el
    prestador») con domicilio en C/ Arco, 77, Las Palmas de Gran Canaria.
  </p>
  <b>Responsabilidad</b>
  <p>
    Toda persona que acceda a este sitio web asume el papel de <b>usuario</b>, comprometiéndose a la observancia y
    cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera
    de aplicación.
  </p>
  <p>
    El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web y
    por la falta de disponibilidad (caídas) del sitio el cual efectuará además paradas periódicas por mantenimientos
    técnicos. Además, el prestador se reserva el derecho a modificar cualquier tipo de información que pudiera
    aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas
    obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.
  </p>
  <b>Uso de Cookies</b>
  <p>
    El sitio web del prestador puede utilizar cookies (pequeños archivos de texto que el servidor envía al ordenador
    de quien accede a la página). Se trata de una técnica usada de manera habitual en Internet para llevar a cabo
    determinadas funciones que son consideradas imprescindibles para el correcto funcionamiento y visualización del
    sitio. Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal con la única finalidad de
    hacer más eficaz su transmisión ulterior y desaparecen al terminar la sesión del usuario. En ningún caso se
    utilizarán las cookies para recoger información de carácter personal.
  </p>
  <p>
    Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado que el
    prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, éste no asume
    ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador se compromete a la
    retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la
    moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en
    conocimiento de las autoridades competentes el contenido en cuestión.
  </p>
  <b>Protección de datos personales</b>
  <p>
    El prestador cumple con la normativa española de protección de datos de carácter personal, y garantiza el
    cumplimiento íntegro de las obligaciones dispuestas la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de
    Datos de Carácter Personal (LOPD), el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el
    Reglamento de desarrollo de la LOPD y demás normativa vigente en cada momento, y vela por garantizar un correcto
    uso y tratamiento de los datos personales del usuario.
  </p>
  <b>Política anti-spam</b>
  <p>
    El prestador se declara completamente en contra del envío de comunicaciones comerciales no solicitadas y a
    cualquier tipo de conducta o manifestación conocida como “spam”, asimismo se declara comprometido con la lucha
    contra este tipo de prácticas abusivas.
  </p>
  <p>
    Por tanto, el prestador garantiza al usuario a que <b>bajo ningún concepto</b> los datos personales recogidos en
    el sitio web serán cedidos, compartidos, transferidos, ni vendidos a ningún tercero.
  </p>
  <p>
    Por las mismas razones, el proceso de registro no debe ser utilizado para inscribir direcciones de correo de
    personas ajenas sin el consentimiento expreso de las personas afectadas.
  </p>
  <p>
    En el caso de que aun así un <b>usuario</b> reciba comunicaciones de este sitio web sin haberse registrado, o sin
    haber dado su consentimiento expreso a dicho registro, puede cancelar la suscripción desde los enlaces que se
    proporcionan en la propia comunicación.
  </p>
  <p>
    Además, el usuario puede ponerse en contacto con nosotros a través del formulario de contacto que se mantiene en
    el sitio web, tanto para comunicar lo sucedido como para solicitar la eliminación inmediata de sus datos de
    nuestro sistema.
  </p>
  <b>Alojamiento de Datos</b>
  <p>
    Por razones técnicas y de calidad de servicio, el blog 105bentaya.org se encuentra alojado en los servidores de
    Microsoft Azure.
  </p>
  <b>Consentimiento al tratamiento de los datos personales del usuario</b>
  <p>
    En el marco de sus actividades, Bentaya.org dispone de la posibilidad de registro de usuarios ligados a la
    asociación para el envío de comunicaciones por correo electrónico, efectuar comentarios en el blog y enviar
    mensajes a través de formularios.
  </p>
  <p>
    El usuario mediante los actos de suscripción al blog, la realización comentarios o el formulario de contacto
    estará dando su consentimiento expreso al tratamiento de los personales proporcionados según lo dispuesto en el
    artículo 6 de la LOPD. El usuario podrá ejercer sus <b>derechos</b> en los términos dispuestos por el artículo 5
    de la LOPD.
  </p>
  <p>
    Estos mismos actos implican asimismo el consentimiento expreso del usuario a la transferencia internacional de
    datos que se produce en términos de la LOPD debido a la ubicación física de las instalaciones de los proveedores
    arriba mencionados.
  </p>
  <p>
    Los datos de carácter personal solicitados en estas actividades quedarán incorporados a un fichero cuya finalidad
    es la comunicación de novedades relativas al sitio web de Bentaya.org actuando como <b>responsable del fichero</b>
    el <b>prestador</b>. Los campos marcados con asterisco son de cumplimentación obligatoria, siendo imposible
    realizar la finalidad expresada si no se aportan estos datos. Queda igualmente informado de la posibilidad de
    ejercitar los derechos que se indican en el apartado relativo a los Derechos del usuario.
  </p>
  <b>Derechos del Usuario</b>
  <p>
    De conformidad con lo establecido en el artículo 5 de la LOPD, se informa al usuario que la <b>finalidad
    exclusiva</b> de la base de datos de registro es el envío de información sobre novedades relacionadas con el sitio
    web bentaya.org. Únicamente los titulares tendrán acceso a sus datos, y bajo ningún concepto, estos datos serán
    cedidos, compartidos, transferidos, ni vendidos a ningún tercero.
  </p>
  <p>
    De acuerdo con lo dispuesto en la LOPD, el <b>usuario</b> en cualquier momento podrá ejercitar sus <b>derechos de
    acceso, rectificación, cancelación,</b> y <b>oposición</b> ante el <b>prestador</b>.
  </p>
  <p>
    Para facilitar el ejercicio de estos derechos se facilita en todas las comunicaciones un <b>enlace de solicitud de
    baja</b> que redundará en la <b>eliminación inmediata</b> de los datos personales del usuario de nuestra base de
    datos.
  </p>
  <p>
    En cumplimiento de la Ley de Protección de Datos de Carácter Personal (LOPD), le informamos que sus datos
    personales son incorporados al fichero de nuestra base de datos del servidor de Microsoft Azure. Tiene la
    posibilidad de ejercer los derechos de acceso, rectificación, cancelación y oposición previstos en la ley enviando
    un correo electrónico a {{ generalEmail }} o mediante petición escrita dirigida a Asociación Scouts
    Exploradores Bentaya, (Comunicación e Imagen), Arco 77, 35004, Las Palmas de Gran Canaria, España.
  </p>
  <b>Propiedad Intelectual y uso de los contenidos</b>
  <p>
    El sitio web 105bentaya.org, incluyendo a título enunciativo, pero no limitativo su programación, edición,
    compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos son
    propiedad del prestador o en su caso dispone de licencia o autorización expresa por parte de los autores.
  </p>
  <p>
    Cualquier uso no autorizado previamente por parte del prestador será considerado un incumplimiento grave de los
    derechos de propiedad intelectual o industrial del autor.
  </p>
  <p>
    Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen
    a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera
    suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la autorización expresa y previa por parte
    de estos.
  </p>
  <p>
    Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad
    intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del
    formulario de contacto que se mantiene en el sitio web.
  </p>
  <b>Ley Aplicable y Jurisdicción</b>
  <p>
    Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de las
    actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten expresamente las
    partes.
  </p>
</div>
