@if (href) {
  <a
    pButton
    [href]="href"
    [target]="target"
    [class]="buttonClass"
    [text]="variant === 'text'"
    [outlined]="variant === 'outlined'"
    [severity]="severity"
    [size]="size"
  >
    @if (icon) {
      <i pButtonIcon [class]="icon"></i>
    }
    @if (label) {
      <span pButtonLabel [class]="labelClass">{{ label }}</span>
    }
  </a>
} @else if (routerLink) {
  <a
    pButton
    [class]="buttonClass"
    [routerLink]="routerLink"
    [target]="target"
    [text]="variant === 'text'"
    [outlined]="variant === 'outlined'"
    [severity]="severity"
    [size]="size"
  >
    @if (icon) {
      <i pButtonIcon [class]="icon"></i>
    }
    @if (label) {
      <span pButtonLabel [class]="labelClass">{{ label }}</span>
    }
  </a>
} @else {
  <a
    pButton
    [class]="buttonClass"
    [text]="variant === 'text'"
    [outlined]="variant === 'outlined'"
    [severity]="severity"
    [size]="size"
  >
    @if (icon) {
      <i pButtonIcon [class]="icon"></i>
    }
    @if (label) {
      <span pButtonLabel [class]="labelClass">{{ label }}</span>
    }
  </a>
}
