<div class="form-container">
  <form class="d-flex flex-column" [formGroup]="invoiceFormHelper.form">
    <div class="mt-1">
      <div class="row">
        <div class="col-12 col-sm-8">
          <p-floatlabel variant="on">
            <input id="issuer" formControlName="issuer" maxlength="255" pInputText>
            <label class="required" for="issuer">Emite</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4">
          <p-floatlabel variant="on">
            <input id="nif" formControlName="nif" maxlength="255" pInputText>
            <label class="required" for="nif">NIF/CIF</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-8">
          <p-floatlabel variant="on">
            <input id="invoiceNumber" formControlName="invoiceNumber" maxlength="255" pInputText>
            <label class="required" for="invoiceNumber">Número de factura</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4">
          <p-floatlabel variant="on">
            <p-inputNumber
              id="amount"
              mode="currency"
              currency="EUR"
              formControlName="amount"
              [min]="0"
            ></p-inputNumber>
            <label class="required" for="amount">Importe</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-8">
          <p-floatlabel variant="on">
            <p-select
              id="expenseType"
              formControlName="expenseType"
              appendTo="body"
              [options]="expenseTypes"
              optionLabel="expenseType"
            ></p-select>
            <label class="required" for="expenseType">Concepto</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4">
          <p-floatlabel variant="on">
            <p-select
              id="payer"
              formControlName="payer"
              appendTo="body"
              [options]="payers"
              optionLabel="payer"
            ></p-select>
            <label class="required" for="payer">Genera</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4">
          <p-floatlabel variant="on">
            <input id="method" formControlName="method" maxlength="255" pInputText>
            <label class="required" for="method">Forma de pago</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4">
          <p-floatlabel variant="on">
            <p-datePicker
              id="invoiceDate"
              formControlName="invoiceDate"
              appendTo="body"
              (onSelect)="onDateSelect($event)"
              [showClear]="true"
            ></p-datePicker>
            <label class="required" for="invoiceDate">Fecha de Factura</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-sm-4">
          <p-floatlabel variant="on">
            <p-datePicker
              id="paymentDate"
              formControlName="paymentDate"
              appendTo="body"
              (onSelect)="onDateSelect($event)"
              [showClear]="true"
            ></p-datePicker>
            <label class="required" for="paymentDate">Fecha de Pago</label>
          </p-floatlabel>
        </div>
        <div class="col-12">
          <p-floatlabel variant="on">
            <p-select
              id="grant"
              formControlName="grant"
              appendTo="body"
              [options]="grants"
              optionLabel="grantName"
              [showClear]="true"
            ></p-select>
            <label for="payer">Usada en Subvención</label>
          </p-floatlabel>
        </div>
        <div class="col-12 mb-2">
          <p-floatlabel variant="on">
            <label for="observations">Observaciones</label>
            <app-form-text-area
              id="observations"
              formControlName="observations"
              [maxLength]="4095"
              [showErrorMessage]="invoiceFormHelper.hasSpecificError('observations', 'maxlength')"
            ></app-form-text-area>
          </p-floatlabel>
        </div>
        <div class="col-12 mb-2 d-flex gap-3 flex-wrap">
          <app-checkbox-container label="Recibí">
            <p-checkbox formControlName="receipt" [binary]="true"></p-checkbox>
          </app-checkbox-container>
          <app-checkbox-container label="Cumple">
            <p-checkbox formControlName="complies" [binary]="true"></p-checkbox>
          </app-checkbox-container>
          <app-checkbox-container label="Liquidada">
            <p-checkbox formControlName="liquidated" [binary]="true"></p-checkbox>
          </app-checkbox-container>
        </div>
      </div>
    </div>
    <div class="text-center text-danger mb-2">
      @if (invoiceFormHelper.isDirtyAndInvalid()) {
        <small>Rellene todos los campos obligatorios (<b>*</b>)</small><br>
      }
    </div>
    <div class="col-12 mb-2">
      <p-fileupload
        class="document-file-uploader"
        mode="advanced"
        [chooseButtonProps]="{label: invoiceToUpdate ? 'Adjuntar Nuevos Documentos' : 'Adjuntar Documentos', size: 'small', styleClass: 'py-1 my-1 border-2', outlined: true}"
        [disabled]="documentsLoading || saveLoading"
        styleClass="justify-content-start mt-2"
        chooseIcon="fa-solid fa-upload"
        [accept]="imageAndPdfTypes"
        [maxFileSize]="maxFileUploadByteSize"
        [customUpload]="true"
        [multiple]="true"
        [showUploadButton]="false"
        [showCancelButton]="false"
        invalidFileSizeMessageSummary="{0}: Tamaño del archivo inválido, "
        invalidFileSizeMessageDetail="el tamaño máximo es {0}."
        invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido, "
        invalidFileTypeMessageDetail="los archivos permitidos son: {0}."
        invalidFileLimitMessageSummary="Número máximo de archivos alcanzado, "
        invalidFileLimitMessageDetail="el límite es de {0} archivos."
      ></p-fileupload>
    </div>
    <app-save-buttons
      [showCancelButton]="true"
      cancelLabel="Borrar"
      (onCancel)="askForDeletion()"
      [cancelLoading]="deleteLoading"
      [saveSplitButtonModel]="buttons"
      (onSave)="onSubmit(saveAndContinue)"
      [saveLabel]="saveAndContinue ? 'Guardar y seguir' : 'Guardar'"
      [saveLoading]="saveLoading || documentsLoading"
    ></app-save-buttons>
  </form>
</div>
