.status-width {
  width: 8rem;
  @media screen and (min-width: 600px) {
    width: 10rem;
  }
  @media screen and (min-width: 992px) {
    width: 12rem;
  }
  @media screen and (min-width: 1200px) {
    width: 14rem;
  }
}

.range-datepicker {
  max-width: 275px;
  width: 100%;
  @media screen and (max-width: 550px) {
    max-width: unset;
  }
}
