<div class="container">
  <h1 class="text-center">RECONOCIMIENTOS</h1>
  <p>
    A lo largo de la historia del grupo se han conseguido muchos premios y reconocimientos que aplauden nuestro
    trabajo y esfuerzo. Algunos de estos reconocimientos son:
  </p>
  <h5>Distinción Roque Nublo al Compromiso Social 2023</h5>
  <p>Cabildo de Gran Canaria</p>
  <h5>1<sup>er</sup> Premio XXXIX Festival Nacional de la Canción Scout “Largas Lunas”.</h5>
  <p>Asociación Scouts de España (ASDE)</p>
  <h5>1<sup>er</sup> Premio Nacional Categoría 6 a 12 años: cortometraje “Trozo de Madera Man”.</h5>
  <p>
    Fundación del Consejo General de la Abogacía Española/Plataforma de Infancia. I Concurso nacional online de cortos
    sobre los derechos del niño.
  </p>
  <h5>Finalista Categoría 13 a 15 años: cortometraje “No sin mis zapatos”.</h5>
  <p>
    Fundación del Consejo General de la Abogacía Española/Plataforma de Infancia. I Concurso nacional online de cortos
    sobre los derechos del niño.
  </p>
  <h5>Finalista Categoría 3 Grupo Scout: “Una tarde cualquiera”.</h5>
  <p>Asociación Scouts de España. V Concurso nacional de cortos scouts.</p>
  <h5>Ganador Categoría 2 escultas/rovers: “¿Diferente? ¡Es igual!”</h5>
  <p>Asociación Scouts de España. IV Concurso nacional de cortos scouts.</p>
  <h5>Ganador Categoría 2: escultas/rovers: “Alcohol ¿Diversión?”</h5>
  <p>Asociación Scouts de España. III Concurso nacional de cortos scouts.</p>
  <h5>Declarada de Utilidad Pública.</h5>
  <p>Ministerio del Interior. Gobierno de España.</p>
  <h5>Inscrita en el registro de asociaciones juveniles de Canarias y reconocida como tal.</h5>
  <p>Dirección General de Juventud.</p>
  <h5>Inscrita en el registro de entidades ciudadanas y declarada como tal.</h5>
  <p>Ayuntamiento de Las Palmas de Gran Canaria.</p>
  <h5>1<sup>er</sup> Premio Animación Festival Nacional (Murcia).</h5>
  <p>Representando la canción, “El baile de Baloo”. Asociación Scouts de España (ASDE).</p>
  <h5>3º Premio Festival Nacional de la Canción Scout (Murcia).</h5>
  <p>Representando la canción, “La ardilla”. Asociación Scouts de España (ASDE).</p>
  <h5>Finalista Concurso Cortos Scouts en la categoría Documental con la propuesta “El mural”.</h5>
  <p>Asociación Scouts de España (ASDE).</p>
  <h5>Finalista Categoría 3 Grupo Scout 2013:</h5>
  <p>Categoría 3: “Una tarde cualquiera”. Asociación Scouts de España.</p>
  <h5>Participación en la campaña “Infancia participa”:</h5>
  <p>con la propuesta PARTICAN (PARTICIPACIÓN CANARIA). Asociación Scouts de España (ASDE).</p>
  <h5>
    Participación en la campaña “#ESCsinAdiccion: Prevención de drogodependencias y adicciones desde el tiempo libre
    2.0”.
  </h5>
  <p>Asociación Scouts de España (ASDE).</p>
  <h5>Participación en la campaña “Con Perspectiva de Género 2019”</h5>
  <p>con la propuesta “Actúa con perspectiva”. Asociación Scouts de España (ASDE).</p>
  <h5>Insignias de la Foto de La Semana en Instagram #SOYSCOUT</h5>
  <p>Asociación Scouts de España (ASDE).</p>
</div>
