<div class="container-fluid">
  <div class="d-flex flex-wrap gap-2 align-items-center mb-3">
    <h1 class="mb-0">Lista de educandas</h1>
    <div class="d-flex gap-2 ms-auto">
      @if (userGroup) {
        <p-selectButton
          [options]="options"
          [(ngModel)]="showAll"
          (onChange)="selectButtonChange()"
        ></p-selectButton>
      }
      <p-button
        icon="pi pi-images"
        styleClass="p-togglebutton"
        variant="outlined"
        title="Sin Autorización de Imagen"
      ></p-button>
    </div>
  </div>
  <p-table
    #dt
    showGridlines
    [value]="scouts!"
    responsiveLayout="scroll"
    sortField="surname"
    [loading]="!scouts"
    selectionMode="single"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between align-items-center">
        <span>Número de personas educandas: {{ dt.totalRecords }}</span>
        <p-button
          icon="pi pi-file-excel"
          [loading]="excelLoading"
          (click)="exportExcelScout()"
          severity="success"
          title="Descargar scouts como excel"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="surname">
          Nombre
          <p-sortIcon field="surname"></p-sortIcon>
        </th>
        @if (showAll) {
          <th pSortableColumn="groupId">
            Unidad
            <p-sortIcon field="groupId"></p-sortIcon>
          </th>
        } @else {
          <th class="hide-900">
            Año
          </th>
          <th class="show-900" pSortableColumn="birthday">
            Año
            <p-sortIcon field="birthday"></p-sortIcon>
          </th>
        }
        <th class="hide-900" pSortableColumn="birthday">
          Nacimiento
          <p-sortIcon field="birthday"></p-sortIcon>
        </th>
        <th class="hide-700" pSortableColumn="gender">
          Género
          <p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th class="hide-1100" pSortableColumn="dni">
          DNI
          <p-sortIcon field="dni"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th>
          <input
            pInputText
            type="text"
            class="w-100"
            (input)="dt.filter($any($event.target).value, 'id', 'name-surname-filter')"/>
        </th>
        <th></th>
        <th class="hide-900"></th>
        <th class="hide-700"></th>
        <th class="hide-1100"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-scout>
      <tr [ngClass]="{'no-user': !scout.userAssigned}" pSelectableRow [routerLink]="scout.id">
        <td>
          {{ scout.personalData.surname }}, {{ scout.personalData.name }}
        </td>
        <td>
          {{ showAll ? (scout.group.name) : (currentYear - +(scout.birthday | date: "y")! | scoutYear:userGroup?.id) }}
        </td>
        <td class="hide-900">
          <span>
            {{ scout.birthday | date: "dd/MM/y" }}
          </span>
        </td>
        <td class="hide-700">
          {{ scout.gender }}
        </td>
        <td class="hide-1100">
          <span>
            {{ scout.dni || "No tiene" }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  @if (!showAll && scouts!.length < 1) {
    No se han encontrado educandas
  }
</div>
