<div class="container-md">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <h1 class="d-flex mb-0">Listas de asistencia</h1>
    <div>
      <p-button
        class="p-button-success"
        title="Descargar excel de asistencia"
        icon="pi pi-download"
        (click)="downloadAttendanceExcel()"
        [loading]="loading"
      ></p-button>
    </div>
  </div>
  <div class="d-flex gap-2 justify-content-between align-items-end mb-3">
    <div class="d-flex w-100">
      <p-datePicker
        class="input-w-100"
        styleClass="w-100"
        placeholder="Filtrar por rango de fechas"
        selectionMode="range"
        [showClear]="true"
        [readonlyInput]="true"
        [(ngModel)]="filterDates"
        (onClear)="dt.filter(true, 'eventId', 'date-range')"
        (onSelect)="dt.filter(false, 'eventId', 'date-range')"
      ></p-datePicker>
    </div>
    @if (showClosedButton) {
      <div>
      <p-toggleButton
        title="Mostrar asistencias pasadas"
        offIcon="pi pi-history"
        onIcon="pi pi-history"
        (onChange)="dt.filter($event.checked, 'eventEndDate', 'past-attendance')"
      ></p-toggleButton>
      </div>
    }
  </div>
  <p-table
    #dt
    showGridlines
    [value]="info"
    [loading]="!info"
    responsiveLayout="stack"
    breakpoint="575px"
    [filters]="{eventEndDate: { value: false, matchMode: 'past-attendance' }}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="eventStartDate">
          Actividad
          <p-sortIcon field="eventStartDate"></p-sortIcon>
        </th>
        <th title="Asisten" class="w-min">
          <i class="pi pi-check"></i>
        </th>
        <th title="No asisten" class="w-min">
          <i class="pi pi-times"></i>
        </th>
        <th title="No han confirmado" class="w-min">
          <i class="pi pi-question"></i>
        </th>
        <th title="Asistentes que han pagado" class="w-min">
          <i class="pi pi-euro"></i>
        </th>
        <th class="text-center w-min">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-eventInfo>
      <tr>
        <td class="align-items-baseline">
          <span class="p-column-title">Actividad</span>
          <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-sm-start gap-2">
            <a class="uncolored stack-table-title" (click)="openInfoDialog(eventInfo.eventId)">
              {{ eventInfo.eventTitle }} - {{ eventInfo.eventStartDate | date:"dd/MM/yy" }}
            </a>
            @if (eventInfo.eventIsClosed) {
              <p-tag class="d-sm-block" severity="danger" styleClass="rounded-2">Cerrada</p-tag>
            }
          </div>
        </td>
        <td class="text-center">
          <span class="p-column-title">Asisten</span>
          {{ eventInfo.affirmativeConfirmations }}
        </td>
        <td class="text-center">
          <span class="p-column-title">No Asisten</span>
          {{ eventInfo.negativeConfirmations }}
        </td>
        <td class="text-center">
          <span class="p-column-title">Sin Confirmar</span>
          {{ eventInfo.notRespondedConfirmations }}
        </td>
        <td class="text-center">
          <span class="p-column-title">Asistentes que han pagado</span>
          {{ eventInfo.affirmativeAndPayedConfirmations != null ? eventInfo.affirmativeAndPayedConfirmations : '-' }}
        </td>
        <td>
          <div class="d-flex flex-row gap-2 justify-content-end w-100">
            <p-button
              type="button"
              icon="pi pi-eye"
              class="p-button-outlined p-button-raised"
              title="Ver Información"
              (click)="viewInfo(eventInfo.eventId, eventInfo.eventTitle, eventInfo.eventHasPayment)"
            ></p-button>
            <app-table-icon-button
              type="button"
              icon="pi pi-pencil"
              severity="info"
              title="Editar Asistencia"
              (click)="openEditDialog(eventInfo)"
            ></app-table-icon-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No se han encontrado listas de asistencia</td>
      </tr>
    </ng-template>
  </p-table>
</div>
