.range-datepicker {
  max-width: 275px;
  width: 100%;
  @media screen and (max-width: 575px) {
    max-width: unset;
  }
}

@media screen and (max-width: 575px) {
  .stack-table-title {
    text-align: right;
    margin-left: 10px;
  }
}
