<div class="container">
  <div class="d-flex justify-content-start flex-wrap gap-2 align-items-center">
    <app-general-a-button
      icon="pi pi-arrow-left"
      class="fs-3 p-button-rounded"
      variant="outlined"
      (click)="goBack()"
      title="Atrás"
    ></app-general-a-button>
    <h2 class="mb-0">Reserva Nº{{ booking?.id }}</h2>
  </div>
  @if (booking) {
    <div id="bookingInformation" class="info-container mt-2">
      <div class="d-flex gap-2 align-items-center mb-1">
        <h2 class="mb-0 fw-bold fs-5 text-dark">Datos</h2>
        <p-button
          [label]="showMoreData ? 'Mostrar menos' : 'Mostrar más'"
          (onClick)="showMoreData = !showMoreData"
          styleClass="py-1"
          outlined
          severity="secondary"
          size="small"
        ></p-button>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <b>Centro solicitado</b>
          <div>{{ booking.scoutCenter.name }}</div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <b>Número de participantes</b>
          <div>{{ booking.packs }}</div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <b>Fecha de entrada</b>
          <div>{{ booking.startDate | date:"dd/MM/yyyy HH:mm" }}</div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <b>Fecha de salida</b>
          <div>{{ booking.endDate | date:"dd/MM/yyyy HH:mm" }}</div>
        </div>
        @if (showMoreData) {
          <div class="col-12 col-sm-6 col-xl-3">
            <b>Nombre de la asociación</b>
            <div>{{ booking.organizationName }}</div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <b>CIF de la asociación</b>
            <div>{{ booking.cif }}</div>
          </div>
          <div class="col-12 col-lg-6">
            <b>Fecha de solicitud</b>
            <div>{{ booking.creationDate | date:"dd/MM/yyyy HH:mm:ss" }}</div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <b>Nombre contacto</b>
            <div>{{ booking.contactName }}</div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <b>Relación</b>
            <div>{{ booking.contactRelationship }}</div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <b>Correo</b>
            <div class="overflow-ellipsis">
              <a href="mailto:{{booking.contactMail}}">{{ booking.contactMail }}</a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <b>Teléfono</b>
            <div>
              <a href="tel:{{booking.contactPhone}}">{{ booking.contactPhone }}</a>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            @if (booking.status === 'OCCUPIED') {
              <b>Centro en exclusividad</b>
            } @else {
              <b>Solicita centro en exclusividad</b>
            }
            <div>
              {{ booking.exclusiveReservation ? 'Sí' : 'No' }}
              @if (bookingIsAlwaysExclusive(booking)) {
                (Siempre es exclusivo)
              }
            </div>
          </div>
          @if (booking.price) {
            <div class="col-12 col-lg-6">
              <b>Aportación de mantenimiento</b>
              <div>{{ booking.price | currency:'EUR':undefined:undefined:'es' }}</div>
            </div>
          }
          <div class="col-12">
            <b>Observaciones</b>
            <div>{{ booking.observations || 'Ninguna' }}</div>
          </div>
          <div class="col-12">
            <b>Descripción entidad</b>
            <div>{{ booking.groupDescription || '-' }}</div>
          </div>
          <div class="col-12">
            <b>Uso de instalaciones</b>
            <div>{{ booking.facilityUse }}</div>
          </div>
        }
      </div>
    </div>
    <div id="status" class="mt-2">
      <div class="d-flex flex-wrap gap-2 align-items-center mb-2">
        <h2 class="mb-0 fw-bold fs-5 text-dark">Estado actual</h2>
        <p-tag
          [value]="booking.status | bookingStatus"
          [severity]="booking.status | bookingStatus:'severity'"
          styleClass="fs-6 rounded-3"
        />
      </div>
    </div>
    <div id="statusActions" class="mt-2">
      @switch (booking.status) {
        @case ("NEW") {
          <p>
            Estamos revisando su reserva, próximamente le comunicaremos más información.
          </p>
        }
        @case ("RESERVED") {
          <p>
            <b>Aportación de mantenimiento:</b>
            {{ booking.price | currency:'EUR':undefined:undefined:'es' }}
          </p>
          @if (booking.statusObservations) {
            <p>
              <b>Observaciones con respecto a su reserva:</b>
              {{ booking.statusObservations }}
            </p>
          }
          <p>
            Antes que nada, instamos a que se lea las normas del lugar que se le enviaron por correo. También
            puede descargarlas haciendo click
            <a class="link cursor-pointer" (click)="downloadRuleFile(booking.scoutCenter.id)">aquí</a>.
          </p>
          <p class="mb-1">
            Precisamos de los siguientes documentos (los que correspondan a su asociación o entidad) para poder
            completar la reserva. Deberá presentarlos 10 días antes del inicio de su reserva, si para dicha fecha no han
            sido correctamente presentados, corre el riesgo de perder su reserva. Para ver más información sobre cada
            tipo de documento, puede pulsar el
            <span class="text-decoration-underline cursor-pointer" (click)="showHelpDialog = true">botón de ayuda</span>.
          </p>
          @if (validNotOwnDocuments()) {
            <p>
              Los documentos que ya están marcados como válidos no tiene que aportarlos.
            </p>
          }
          <div class="d-flex flex-wrap-reverse justify-content-end gap-2 mb-2">
            <p-button
              styleClass="border-2 py-1 px-2"
              icon="fa-solid fa-download"
              iconPos="right"
              outlined
              severity="info"
              label="Plantilla de asistencia"
              title="Descargar plantilla de asistencia"
              (onClick)="downloadAttendanceFile(booking.scoutCenter.id)"
            ></p-button>
            <p-button
              styleClass="border-2 py-1 px-2"
              icon="fa-regular fa-circle-question"
              iconPos="right"
              outlined
              severity="contrast"
              label="Ayuda"
              title="Mostrar explicación de documentación"
              (onClick)="showHelpDialog = true"
            ></p-button>
          </div>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            @for (type of types; track type.id) {
              <app-document-file-uploader
                [type]="type"
                [files]="getFilesByType(type)"
                [bookingId]="bookingId"
                (openHelpPanel)="showHelpDialog = true"
                (reloadFiles)="getFiles()"
              ></app-document-file-uploader>
            }
          </div>
        }
        @case ("OCCUPIED") {
          <p>
            Su reserva está totalmente confirmada
            @if (!bookingIsAlwaysExclusive(booking)) {
              <b>
                {{ booking.exclusiveReservation ? 'sin' : 'con' }}
                exclusividad.
              </b>
            }
          </p>
          @if (booking.statusObservations) {
            <p>
              <b>Observaciones con respecto a su reserva:</b>
              {{ booking.statusObservations }}
            </p>
          }
          @if (bookingHasEndedPastWeek()) {
            <p>
              La reserva ya ha finalizado, si quiere volver a consultar las normas, puede verlas el documento adjunto en
              su correo electrónico.
            </p>
          } @else {
            <p>
              Para retirar las llaves del lugar, pónganse en contacto con la persona responsable la semana anterior a su
              reserva y con al menos dos días de antelación respecto al inicio de la misma. La información de contacto
              la puede consultar en el PDF con las normas haciendo click
              <a class="link cursor-pointer" (click)="downloadRuleFile(booking.scoutCenter.id)">aquí</a>.
            </p>
          }
          @if (booking.hasIncidencesFile) {
            <hr>
            <p>Ya ha subido el registro de incidencias y estados. ¡Muchas gracias!</p>
            <p>
              Si lo desea, puede volver a realizar una reserva desde nuestro
              <a routerLink="/centros-scout/reserva">formulario</a>.
            </p>
          } @else {
            <p class="mb-1">
              Una vez finalice su estancia, le pedimos que rellene y suba el
              <b class="cursor-pointer text-decoration-underline"
                 (click)="downloadIncidenceFile(booking.scoutCenter.id)"
              >registro de incidencias y estados</b>.
            </p>
            <div class="d-flex justify-content-end mb-2">
              <p-button
                styleClass="border-2 py-1 px-2"
                icon="fa-solid fa-download"
                iconPos="right"
                outlined
                severity="info"
                label="Registro de incidencias"
                title="Descargar registro de incidencias y estados"
                (onClick)="downloadAttendanceFile(booking.scoutCenter.id)"
              ></p-button>
            </div>
            <p-fileupload
              class="document-file-uploader"
              [accept]="docAndPdfTypes"
              [maxFileSize]="maxFileUploadByteSize"
              (uploadHandler)="uploadIncidenceFile($event)"
              [customUpload]="true"
              [auto]="true"
              invalidFileSizeMessageSummary="{0}: Tamaño del archivo inválido, "
              invalidFileSizeMessageDetail="el tamaño máximo es {0}."
              invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido, "
              invalidFileTypeMessageDetail="los archivos permitidos son: {0}."
              invalidFileLimitMessageSummary="Número máximo de archivos alcanzado, "
              invalidFileLimitMessageDetail="el límite es de {0} archivos."
              [fileLimit]="1"
            >
              <ng-template pTemplate="header" let-chooseCallback="chooseCallback">
                <div class="d-flex gap-2 align-items-center w-100">
                  <div>
                    <b>Registro de estados</b>
                  </div>
                  <p-button
                    size="small"
                    variant="outlined"
                    styleClass="border-2 py-1"
                    icon="fa-solid fa-upload"
                    class="ms-auto"
                    title="Subir Documento"
                    label="Subir"
                    (onClick)="chooseCallback()"
                    [loading]="loading"
                  ></p-button>
                </div>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="p-2">
                  <div>Aún no ha subido el documento de incidencias y estados.</div>
                  <div>Puede subir el registro de estados usando el botón de subir, o arrastrando el archivo aquí.</div>
                </div>
              </ng-template>
            </p-fileupload>
          }
        }
        @case ("CANCELED") {
          <p>Ha cancelado la reserva por el siguiente motivo: {{ booking.statusObservations }}</p>
          <p>
            Si lo desea, puede volver a realizar una reserva desde nuestro
            <a routerLink="/centros-scout/reserva">formulario</a>.
          </p>
        }
        @case ("REJECTED") {
          <p>La reserva ha sido denegada por el siguiente motivo: {{ booking.statusObservations }}</p>
          <p>
            Si lo desea, puede volver a realizar una reserva en otra fecha o para otro centro scout desde
            nuestro
            <a routerLink="/centros-scout/reserva">formulario</a>.
          </p>
        }
      }
    </div>
    <div id="actionButtons" class="mt-2">
      <div class="d-flex gap-2 align-items-center flex-wrap">
        <h2 class="mb-0 fw-bold fs-5 text-dark">Acciones</h2>
        @if (showBookingActions()) {
          @if (booking.status == Status.RESERVED) {
            <p-button
              styleClass="py-1 px-2 gap-1 border-2"
              severity="success"
              label="Confirmar Documentos"
              [loading]="loading"
              (click)="askFormConfirmDocuments()"
              outlined
            ></p-button>
          }
          <p-button
            styleClass="py-1 px-2 gap-1 border-2"
            severity="danger"
            label="Cancelar Reserva"
            [loading]="loading"
            (click)="cancelReservation()"
            outlined
          ></p-button>
        } @else {
          <p-tag severity="secondary" value="No hay acciones disponibles" styleClass="rounded-3"/>
        }
      </div>
    </div>
  } @else {
    <app-basic-loading-info></app-basic-loading-info>
  }
</div>
<p-dialog
  header="Documentos necesarios"
  [(visible)]="showHelpDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="basic-dialog"
>
  <p>
    Sólo es necesario presentar los documentos de los que disponga su entidad o asociación:
  </p>
  <ul>
    @for (type of types; track type.id) {
      <li>
        <b>{{ type.name }}.</b> {{ type.description }}.
      </li>
    }
  </ul>
</p-dialog>
