.psw-card {
  width: 60%;
  max-width: 650px;
}

@media screen and (max-device-width: 600px) {
  .psw-card {
    width: 80%;
  }
}

@media screen and (max-device-width: 400px) {
  .psw-card {
    width: 95%;
  }
}
