<div class="container">
  <div class="text-center">
    <h1 class="mb-0">CENTROS SCOUT</h1>
    <h2>Información</h2>
  </div>
  <p>
    Nuestros espacios en la naturaleza a los que denominamos Centros Scout, son una gran oportunidad para realizar
    actividades al aire libre. Aprender en entornos naturales como los que disponemos es una posibilidad que pocas veces
    se da y es una herramienta con la que nosotros jugamos constantemente para educar a los niños, niñas y jóvenes de
    nuestra asociación. Si te estás planteando realizar una convivencia o actividad al aire libre con tu asociación o
    centro escolar, a continuación puedes encontrar más información sobre nuestros centros. Para realizar una solicitud
    de uso haga <a routerLink="/centros-scout/reserva">click aquí</a>.
  </p>
  <p class="mb-1">
    Actualmente contamos con 4 centros scout que ponemos a su disposición:
  </p>
  <ul>
    <li>
      Un
      <u (click)="selectedOption = 0" class="fw-bold cursor-pointer">Aula de la Naturaleza</u>
      ubicada en El Palmital, Guía.
    </li>
    <li>
      Un
      <u (click)="selectedOption = 1" class="fw-bold cursor-pointer">espacio de campamento</u>
      ubicado en El Picacho, Arucas.
    </li>
    <li>
      En la parte alta del campamento, se encuentra un
      <u (click)="selectedOption = 2" class="fw-bold cursor-pointer">refugio</u>.
    </li>
    <li>Un pequeño
      <u (click)="selectedOption = 3" class="fw-bold cursor-pointer">refugio</u>
      ubicado en Tejeda.
    </li>
  </ul>
  <p>
    Para ver los detalles de cada uno de ellos, puede ir cambiando entre las pestañas que se encuentran a continuación.
    Se permiten reservas hasta el
    <b>{{ maxDate | date:"dd 'de' MMMM 'de' yyyy":undefined:'es' }}</b>,
    inclusive.
  </p>
  @if (scoutCenters) {
    <div>
      <app-flex-card
        [options]="scoutCenters"
        [(selectedIndex)]="this.selectedOption"
      ></app-flex-card>
    </div>
    <div class="mt-md-5">
      <app-booking-information
        [information]="scoutCenters[selectedOption]"
        [color]="scoutCenters[selectedOption].color"
      ></app-booking-information>
    </div>
  }
</div>
