<div class="mb-4">
  <p-multi-select
    [autofocusFilter]="false"
    [options]="centers"
    [showHeader]="false"
    (onChange)="onFilterChange()"
    (onClear)="onFilterChange()"
    appendTo="body"
    placeholder="Filtrar centros scout"
    styleClass="fw-normal w-100"
    showClear
    [(ngModel)]="scoutCenterFilter"
    [maxSelectedLabels]="10"
  ></p-multi-select>
</div>
@if (pendingBookings) {
  <div class="d-flex flex-column gap-3">
    <ng-container
      *ngTemplateOutlet="panel; context {$implicit: {title: 'Pendientes por aceptar', bookings: pendingBookings.newBookings}}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="panel; context {$implicit: {title: 'Pendientes por confirmar', bookings: pendingBookings.acceptedBookings}}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="panel; context {$implicit: {title: 'Pendientes por realizarse', bookings: pendingBookings.confirmedBookings}}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="panel; context {$implicit: {title: 'Recientemente finalizadas', bookings: pendingBookings.finishedBookings}}"
    ></ng-container>
  </div>
} @else {
  <app-basic-loading-info></app-basic-loading-info>
}
<ng-template #panel let-panel>
  <p-panel styleClass="reduce-padding-y" toggleable>
    <ng-template pTemplate="header">
      <div class="p-panel-title">
        {{ panel.title }}
        @if (panel.bookings?.length > 0) {
          ({{ panel.bookings.length }})
        }
      </div>
    </ng-template>
    <div>
      <p-context-menu #cm [model]="contextMenuItem"/>
      <p-table
        stripedRows
        [value]="panel.bookings"
        responsiveLayout="scroll"
        selectionMode="single"
        class="fixed-table"
        [loading]="loading"
        [contextMenu]="cm"
        [(contextMenuSelection)]="selectedBooking"
      >
        <ng-template pTemplate="body" let-booking>
          <tr
            style="outline: none; position: relative; cursor: pointer;"
            pSelectableRow
            [pContextMenuRow]="booking"
            [pContextMenuRowIndex]="1"
            (click)="updateLastRoute()"
            routerLink="/centros-scout/gestion/reserva/{{booking.id}}"
          >
            <td class="text-center" style="width: 3rem; position: relative;">
              {{ booking.id }}
            </td>
            <td style="position: relative;">
              {{ booking.ownBooking ? 'Asociación Scouts 105 Bentaya' : booking.organizationName }}
            </td>
            <td style="position: relative;">
              {{ booking.scoutCenter.name }}
            </td>
            <td class="d-none d-md-table-cell text-center" style="position: relative;">
              <div class="text-center w-fit ps-4">
                {{ booking.startDate | date:"dd/MM/yy" }} - {{ booking.endDate | date:"dd/MM/yy" }}
              </div>
            </td>
            <td class="d-none d-xl-table-cell" style="width: 8rem; position: relative;">
              {{ booking.packs }} personas
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="bg-white">
            <td>
              No hay reservas {{ panel.title | lowercase }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
</ng-template>
