<div class="container">
  <div class="text-center">
    <h1 class="mb-0 cursor-pointer" routerLink="/transparencia">TRANSPARENCIA</h1>
    <h2>Órgano de Representación</h2>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
    <div class="d-flex flex-column align-items-center p-4">
      <img
        class="avatar"
        src="assets/transparencia/cargos/luifer.jpeg"
        alt="PRESIDENCIA"
      >
      <h4 class="mt-2 text-center"><b>Luis Fernando</b></h4>
      <h4 class="text-center"><b>Martín Rodríguez</b></h4>
      <label class="text-center">Presidente</label>
      <a href="mailto:presidencia@105bentaya.org">
        presidencia&#64;105bentaya.org
      </a>
    </div>
    <div class="d-flex flex-column align-items-center p-4">
      <img
        class="avatar"
        src="../../../../../assets/transparencia/cargos/monica.png"
        alt="VICEPRESIDENCIA"
      >
      <h4 class="mt-2 text-center"><b>Mónica</b></h4>
      <h4 class="text-center"><b>Perdomo Ojeda</b></h4>
      <label class="text-center">Vicepresidenta</label>
      <a href="mailto:vicepresidencia@105bentaya.org">
        vicepresidencia&#64;105bentaya.org
      </a>
    </div>
    <div class="d-flex flex-column align-items-center p-4">
      <img
        class="avatar"
        src="assets/transparencia/cargos/tente.jpg"
        alt="TESORERÍA"
      >
      <h4 class="mt-2 text-center"><b>Vicente Ramón</b></h4>
      <h4 class="text-center"><b>Pérez Doreste</b></h4>
      <label class="text-center">Tesorero</label>
      <a href="mailto:tesoreria@105bentaya.org">
        tesoreria&#64;105bentaya.org
      </a>
    </div>
    <div class="d-flex flex-column align-items-center p-4">
      <img
        class="avatar"
        src="assets/transparencia/cargos/yasmin.JPG"
        alt="SECRETARIA"
      >
      <h4 class="mt-2 text-center"><b>Yasmin</b></h4>
      <h4 class="text-center"><b>Rosales Mohamedi</b></h4>
      <label class="text-center">Secretaria</label>
      <a href="mailto:secretaria@105bentaya.org">
        secretaria&#64;105bentaya.org
      </a>
    </div>
  </div>
</div>
