<div class="container">
  <h1 class="text-center">¿QUÉ HACEMOS?</h1>
  <p>
    El grupo scout 105 Bentaya ofrece a jóvenes de todas las edades una actividad que no sólo es formativa, sino de
    carácter social.
  </p>
  <p>
    Las actividades realizadas semana a semana buscan ser divertidas, dinámicas e invitan a los educandos/as a conocer
    a otros iguales y a fomentar la vida en pequeños grupos.
  </p>
  <p>
    La acción social desarrollada en este aspecto tiene como fin animar a los niños/as nuevos que entran, a disfrutar
    de una nueva realidad, una en la que conocen a gente nueva, descubren juegos y dinámicas que hasta ahora eran
    desconocidos, y aprenden a respetar todo lo que les rodea. Todo ello gracias a una continua educación por la
    acción por parte de los scouters, así como una importante educación en valores, donde facilitamos la integración,
    la participación y animamos a que realicen actividades por ellos mismos.
  </p>
  <p>
    Además, el grupo apuesta por las nuevas tecnologías, desde la realización de reuniones a distancia mediante
    videollamadas, interactuando por las redes sociales y fomentando un uso responsable de las TIC.
  </p>
  <p>
    Trabajamos por y para el desarrollo de los niños/niñas y jóvenes de la sociedad usando el método scout, unos
    Objetivos educativos y una Organización Interna.
  </p>
  <h4>Objetivos educativos</h4>
  <p>
    A principio de la ronda, el GS 105 Bentaya define un plan educativo para ese año en concreto. Ese plan anual está
    definido según las necesidades observadas en los educandos/as y de los hitos a plantear durante el año en
    cuestión. En base a dicho plan se desarrollan, posteriormente, los planes de cada una de las secciones educativas
    y desde cada uno de estos salen todas las actividades del grupo scout.
  </p>
  <h4>Organización Interna</h4>
  <p>
    Desde el grupo creemos fervientemente en el movimiento scout. Por ello, siempre intentamos dar lo mejor de
    nosotros mismos en todas las actividades que desarrollamos.
  </p>
  <p>
    Para poder desarrollar esas actividades adecuadamente, los monitores y monitoras de la asociación nos reunimos
    varias veces al año para realizar la programación de las actividades, así como evaluarlas y llevar un seguimiento
    de la situación de la unidad o del grupo. De esta forma, disponemos de un seguimiento de todas las secciones
    educativas y dotamos a los scouters de las herramientas necesarias para la realización y mejora de estas
    actividades.
  </p>
  <p>
    Además, disponemos de una escuela para la formación de scouters, la cual tiene una educación progresiva que ayuda
    a realizar los programas educativos para las unidades. Esta formación permite aumentar la calidad asegurando así
    unas actividades que sean de la mayor calidad educativa posible y dinámicas para que el educando las asimile con
    ánimo.
  </p>
</div>
