<div class="overflow-hidden">
  <div class="d-flex align-items-center gap-1">
    <b [ngClass]="{'fs-6': titleSize() === 'small', 'fs-5 title-font': titleSize() === 'big'}">{{ titleName() }}</b>
    @if (canAddDocuments) {
      <p-tag
        class="inverted gray"
        value="Subir"
        (click)="openUploader()"
        [ngClass]="{'disabled': loading}"
      />
    }
    @if (loading) {
      <i class="pi pi-spin pi-spinner"></i>
    }
  </div>
  <p-fileupload
    #documentListUploader
    class="small-uploader"
    styleClass="h-100"
    [multiple]="true"
    [accept]="allowedFiles"
    [maxFileSize]="maxFileUploadByteSize"
    (uploadHandler)="uploadFiles($event)"
    [customUpload]="true"
    [fileLimit]="fileLimit"
    invalidFileSizeMessageSummary="{0}: Tamaño del archivo inválido, "
    invalidFileSizeMessageDetail="el tamaño máximo es {0}."
    invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido, "
    invalidFileTypeMessageDetail="los archivos permitidos son: {0}."
    invalidFileLimitMessageSummary="Número máximo de archivos alcanzado, "
    invalidFileLimitMessageDetail="el límite de subida es de {0} archivos simultáneamente."
    [auto]="true"
    mode="basic"
  />
  @if (documents().length < 1) {
    <p-tag class="mt-1" severity="secondary" value="No hay documentos"/>
  } @else {
    <div class="file-list mt-2">
      @for (doc of documents(); track doc.id) {
        <div class="d-flex align-items-center gap-2">
          <div>
            <div>
              <img [ngSrc]="getFileIcon(doc)" width="36" height="36" alt="doc">
            </div>
          </div>
          <div>
            <div class="d-flex flex-column">
              <div class="d-flex flex-wrap">
                <div class="fw-semibold text-nowrap me-2 overflow-ellipsis" style="max-width: calc(100vw - 100px);">
                  {{ doc.customName ?? doc.name }}
                </div>
                <div class="d-flex gap-1">
                  @if (FileUtils.canOpenInNewTab(doc.mimeType)) {
                    <p-tag
                      class="inverted main"
                      value="Abrir"
                      [ngClass]="{'disabled': loading}"
                      (click)="openFile(doc.id)"
                    />
                  }
                  <p-tag
                    class="inverted secondary"
                    value="Descargar"
                    [ngClass]="{'disabled': loading}"
                    (click)="downloadFile(doc.id)"
                  />
                  @if (canDeleteDocuments) {
                    <p-tag
                      class="inverted red"
                      value="Borrar"
                      [ngClass]="{'disabled': loading}"
                      (click)="deleteFile(doc, $index)"
                    />
                  }
                </div>
              </div>
              <small class="fw-semibold opacity-75">
                @if (doc.customName) {
                  <span class="d-none d-sm-inline">{{ doc.name }} - </span>
                }
                Subido el: {{ doc.uploadDate | date:"dd/MM/yyyy HH:mm:ss" }}
              </small>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
