footer {
  width: 100%;
  background-color: #004b93;
  min-height: 60px;
  padding: 4px 2px 2px;
}

a:hover {
  background: #003d78;
  border-color: #004b93;
  cursor: pointer;
}

.top-buttons {
  a {
    border-radius: 25px;
    border: 3px solid #004b93;
    color: white;
    text-decoration: none;
    padding: 2px;
  }
}
