footer {
  background-color: #004b93;
  min-height: 60px;
  padding: 4px 2px 2px;

  color: white;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      background: #003d78;
      border-color: #004b93;
      cursor: pointer;
    }
  }


  .media-buttons {
    max-width: 200px;
  }
}
