<footer>
  <div class="container footer-contents">
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div class="d-flex flex-column m-4 text-center">
        <h5><b>NUESTRAS POLÍTICAS</b></h5>
        <a class="p-button-rounded p-button-text" routerLink="/condiciones-de-uso">Condiciones de Uso</a>
        <a class="p-button-rounded p-button-text" routerLink="/aviso-legal">Aviso Legal</a>
        <a class="p-button-rounded p-button-text" routerLink="/politica-privacidad">Política de Privacidad</a>
      </div>
      <div class="d-flex flex-column m-4 text-center">
        <h5><b>CONTACTO</b></h5>
        <a
          class="p-button-rounded p-button-text"
          href="mailto:scouts@105bentaya.org"
        >
          scouts&#64;105bentaya.org
        </a>
        <a
          pButton
          routerLink="/contacto"
          target="_blank"
          [text]="true"
          [rounded]="true"
        >
          <i pButtonIcon class="pi pi-phone"></i>
          <span pButtonLabel>Mándanos un mensaje</span>
        </a>
      </div>
      <div class="d-flex flex-column m-4 text-center">
        <h5><b>SÍGUENOS</b></h5>
        <p-divider></p-divider>
        <div class="d-flex flex-wrap">
          @for (button of socialMediaButtons; track $index) {
            <a
              pButton
              [href]="button.link"
              target="_blank"
              [text]="true"
              [rounded]="true"
            >
              <i pButtonIcon [class]="button.icon"></i>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</footer>
