<div class="container">
  <h1 class="text-center">EL ESCULTISMO COMO MÉTODO EDUCATIVO</h1>
  <p>
    El Escultismo es un sistema pedagógico cuyo objetivo principal es trabajar para lograr un desarrollo pleno e
    integral en niños, niñas y jóvenes, de tal manera que lleguen al cumplimiento cabal de todos los aspectos que los
    conforman, mediante el desarrollo armónico de todas las etapas de su crecimiento. Una vez cumplido este
    desarrollo, el joven se encontrará capacitado para, como bien dice el lema de la Organización Scout Mundial,
    "Construir un Mundo Mejor".
  </p>
  <p>
    El método educativo scout se define como un sistema de autoeducación progresiva basado en:
  </p>
  <h4>Educación en valores:</h4>
  <p>
    El joven establece libremente un compromiso personal ante sus compañeros, asumiendo una responsabilidad: social,
    personal, ética… resumidos en la promesa y la Ley Scout.
  </p>
  <h4>Aprender haciendo:</h4>
  <p>
    La educación por la acción y la propia experiencia. El aprendizaje se hace a través de la observación, la
    experimentación y la actividad personal, permitiendo a los participantes realizar acciones por sí mismos y
    adquirir experiencias personales. Se pone en práctica la educación por la acción mediante la aplicación de la
    metodología del proyecto: educación activa y empleo del juego como oportunidad óptima de experimentar, aventurar,
    imaginar, soñar, proyectar, crear y recrear la realidad.
  </p>
  <h4>La vida en pequeños grupos:</h4>
  <p>
    El pequeño grupo socializa, identifica a sus miembros con los objetivos de las actividades y permite profundizar
    en el conocimiento mutuo. Todo ello posibilita la participación, el aprendizaje y la asunción de
    responsabilidades. Así se crea un espacio educativo y de confianza en uno mismo privilegiado para crecer y
    desarrollarse.
  </p>
  <h4>Con la ayuda de adultos:</h4>
  <p>
    La presencia de un adulto capacitado, que se incorpore a la vida del equipo proponiendo, revelando y ayudando a
    descubrir, facilita el diálogo y la cooperación, invitando al grupo a producir lo mejor de sí mismo.
  </p>
  <h4>La asunción paulatina de responsabilidades en el propio desarrollo:</h4>
  <p>
    La vivencia de la participación en diversas actividades, asumiendo responsabilidades consigo mismo y con el grupo,
    ayuda al establecimiento de un compromiso personal libremente aceptado, en el que se basa el éxito del equipo.
  </p>
  <h4>La formación autogestionada:</h4>
  <p>
    Cada joven participa en su propio proceso de desarrollo, formando parte activa de las diferentes etapas en las que
    se determina el Programa Educativo Scout.
  </p>
  <h4>Unos programas progresivos y atrayentes:</h4>
  <p>
    La presentación de técnicas atrayentes que se aprenden ejecutándolas, permite estimular el desarrollo de las
    aptitudes, motivar una futura vocación y colaborar en la formación de la persona, aportando la seguridad que
    implica el manejo de una destreza.
  </p>
  <h4>La variedad y los centros de interés:</h4>
  <p>
    A través de ellos, niños/as y jóvenes se relacionan con el mundo, descubren sus capacidades y las de los demás, el
    valor de la cooperación y el espíritu de equipo, descubriendo de un modo alegre lo que juntos pueden hacer.
  </p>
  <h4>El contacto directo y continuado con la naturaleza:</h4>
  <p>
    El descubrimiento de la naturaleza estimula la creatividad, crea vínculos entre los miembros del grupo, favorece
    la comprensión de la vida en sociedad y permite valorar la vida sencilla y los ritmos naturales.
  </p>
  <p>
    Todo ello puesto en práctica a través de: proyectos de actividades atrayentes y progresivas donde los
    participantes se vean involucrados desde la elección y planificación de estas. Dentro del método educativo, cada
    sección educativa está adaptada para que los conceptos mostrados anteriormente sean apropiados para las edades que
    se corresponden.
  </p>

  <div class="d-flex flex-column w-100 text-center flex-md-row">
    <div>
      <img
        class="web-page-image"
        src="assets/web-pages/metodo-educativo/centros-interes-naturaleza.jpg"
      >
    </div>
    <div>
      <img
        class="web-page-image"
        src="assets/web-pages/metodo-educativo/autogestion.jpg"
      >
    </div>
    <div>
      <img
        class="web-page-image"
        src="assets/web-pages/metodo-educativo/responsabilidad.jpg"
      >
    </div>
    <div>
      <img
        class="web-page-image"
        src="assets/web-pages/metodo-educativo/vida-en-pequenos-grupos.jpg"
      >
    </div>
    <div>
      <img
        class="web-page-image"
        src="assets/web-pages/metodo-educativo/educacion-por-la-accion.jpg"
      >
    </div>
  </div>
</div>
