<div>
  Puedes sincronizar el calendario de la web con tu aplicación de calendario mediante una suscripción. Para lograrlo te
  ofrecemos dos opciones:
  <ul class="mt-1">
    <li>
      Copia el enlace de suscripción, haciendo click en el siguiente botón. Luego, abre tu aplicación de
      calendario, busca la opción "Suscribirse a un calendario" y pega el enlace copiado.
      <a class="link cursor-pointer" (click)="showInfo = true">Ayuda</a>
    </li>
    <div class="d-flex justify-content-center my-3">
      @if (copied) {
        <p-button
          icon="pi pi-copy"
          class="opacity-75"
          [disabled]="true"
          label="¡Link copiado!"
        ></p-button>
      } @else {
        <p-button
          icon="pi pi-link"
          label="Copiar Link"
          (click)="copyLink()"
        ></p-button>
      }
    </div>
    <li>
      Si usas un dispositivo Apple, también puedes hacer click en el siguiente botón y se abrirá automáticamente la
      aplicación de calendario.
    </li>
    <div class="d-flex justify-content-center my-3">
      <p-button
        icon="pi pi-calendar"
        label="Abrir en Apple"
        (click)="openAppleLink()"
      ></p-button>
    </div>
  </ul>
  <p class="mt-4">
    <b>Importante:</b> Si pegas el enlace en el navegador e importas a tu aplicación el calendario que se descarga, no
    se sincronizarán los futuros cambios ya que esto solo guardará una copia del calendario actual.
  </p>
</div>
<p-dialog
  appendTo="body"
  styleClass="small-dw dialog-width"
  [(visible)]="showInfo"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  header="Ayuda para suscribirse"
>
  <p>
    <b>Suscribirse en Google Calendar</b><br>
    En la aplicación móvil de 'Google Calendar' puedes mostrar u ocultar los calendarios a los que ya te hayas suscrito,
    pero no puedes suscribirte a un calendario. Solo puedes suscribirte a un calendario en la web desde
    <a href="https://calendar.google.com" target="_blank">calendar.google.com</a>.
    Para más info accede a la
    <a href="https://support.google.com/calendar/answer/37100?hl=es" target="_blank">página de google</a>,
    en el apartado 'Usar un enlace para añadir un calendario público'.
  </p>
  <p>
    <b>Suscribirse en otras aplicaciones</b><br>
    Para otras aplicaciones, busca en Internet como suscribirse a un calendario externo en dicha aplicación.
  </p>
  <p>
    <b>El calendario no se sincroniza</b><br>
    Los calendarios pueden tardar varias horas en actualizarse (el de Google a veces hasta 24 horas). En caso de que no
    se sincronice tras un largo periodo de tiempo, comprueba que estás suscrito al calendario y no lo hayas importado
    una única vez.
  </p>
</p-dialog>
