<div class="row">
  <div class="col-12 col-md-6 d-flex flex-column">
    <div class="d-flex flex-row gap-1 align-items-center">
      <b class="fs-5 title-font">Datos Donante</b>
      @if (!contactIsDonor && editable()) {
        <i
          class="pi pi-exclamation-circle text-danger fw-bold"
          pTooltip="La persona asociada está desginada como donante. En el 99% de los casos esto no es así. Revisa bien quién es el donante"
          (click)="showDialog = true"
        ></i>
      }
    </div>
    <app-basic-info label="Código" [value]="(scout().scoutInfo.census | census) + ' D'"/>
    @if (donorCompanyName) {
      <app-basic-info label="Razón Social" [value]="donorCompanyName"/>
    } @else {
      <app-basic-info label="Apellidos" [value]="donor.surname" [hideIfNull]="true"/>
      <app-basic-info label="Nombre" [value]="donor.name"/>
    }
    <app-basic-info [label]="donor.idDocument | idDocumentType" [value]="donor.idDocument | idDocument"/>
    <app-basic-info label="Cuenta" [value]="economicData.iban"/>
    <app-basic-info label="Banco" [value]="economicData.bank"/>
  </div>
  <div class="col-12 col-md-6">
    <app-document-list
      [(documents)]="economicData.documents"
      [canEdit]="editable()"
      [canDelete]="editable()"
      [uploadPetition]="filePetition"
      [deletePetition]="deletePetition"
    />
  </div>
  <div class="col-12 d-flex flex-column mt-2">
    <div class="d-flex gap-1 align-items-center">
      <b class="fs-5 title-font">Apuntes</b>
      @if (canEditEntries()) {
        <p-tag
          class="inverted gray"
          value="Añadir"
          (click)="openEntryForm()"
        />
      }
    </div>
    <div class="mt-2">
      @if (economicData.entries.length < 1) {
        <p-tag value="No hay apuntes" severity="secondary"></p-tag>
      } @else {
        <p-table
          #entryTable
          [value]="economicData.entries"
          class="first-border"
          stripedRows
          selectionMode="single"
          sortField="date"
          [sortOrder]="-1"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Apunte</th>
              <th>Fecha de Ejecución</th>
              <th>Fecha de Valor</th>
              <th>Tipo</th>
              <th>Concepto</th>
              <th>Importe o Valoración</th>
              <th>Descripción</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entry let-ri="rowIndex">
            <tr pSelectableRow (click)="openEntryInfo(entry, ri)">
              <td class="text-nowrap">{{ entry.type | entryType }}</td>
              <td>{{ entry.issueDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ entry.dueDate | date:'dd/MM/yyyy' }}</td>
              <td>
                @if (entry.incomeType) {
                  Gasto
                } @else {
                  Ingreso
                }
              </td>
              <td>
                @if (entry.incomeType) {
                  {{ entry.incomeType.description }}
                } @else {
                  {{ entry.expenseType.description }}
                }
              </td>
              <td>{{ entry.amount! / 100 | currency:'EUR':undefined:undefined:'es' }}</td>
              <td>{{ entry.description }}</td>
            </tr>
          </ng-template>
        </p-table>
      }
    </div>
  </div>
</div>
<p-dialog [(visible)]="showDialog" modal [draggable]="false" header="Aviso donante" [style]="{'max-width': '700px'}">
  La persona asociada está designada como donante. En el 99% de los casos suele ser uno de los familiares. Comprueba
  bien quién es el donante para evitar problemas a la hora de realizar la declaración de donantes.
</p-dialog>
