<div class="row">
  <div class="col-12 col-sm-6 d-flex flex-column">
    <b class="fs-5 title-font">Datos Donante</b>
    <app-basic-info label="Código" [value]="(scout().scoutInfo.census | census) + ' D'"/>
    @if (donorCompanyName) {
      <app-basic-info label="Razón Social" [value]="donorCompanyName"/>
    } @else {
      <app-basic-info label="Apellidos" [value]="donor.surname" [hideIfNull]="true"/>
      <app-basic-info label="Nombre" [value]="donor.name"/>
    }
    <app-basic-info [label]="donor.idDocument | idDocumentType" [value]="donor.idDocument | idDocument"/>
    <app-basic-info label="Cuenta" [value]="economicData.iban"/>
    <app-basic-info label="Banco" [value]="economicData.bank"/>
  </div>
  <div class="col-12 col-sm-6 d-flex flex-column">
    <div class="d-flex gap-1 align-items-center">
      <b class="fs-5 title-font">Apuntes</b>
      <p-tag
        class="inverted gray"
        value="Añadir"
        (click)="openEntryForm()"
      />
    </div>
    <div class="mt-2">
      @if (economicData.entries.length < 1) {
        <p-tag value="No hay apuntes" severity="secondary"></p-tag>
      } @else {
        <p-table
          [value]="economicData.entries"
          class="fixed-table first-border"
          stripedRows
          selectionMode="single"
        >
          <ng-template pTemplate="body" let-entry let-ri="rowIndex">
            <tr pSelectableRow (click)="openEntryInfo(entry, ri)">
              <td>
                {{ entry.type }} - {{ entry.description }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <app-document-list
      [(documents)]="economicData.documents"
      [uploadPetition]="filePetition"
      [deletePetition]="deletePetition"
    />
  </div>
</div>
