$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$reserved: #ead705;
$occupied: #fa9f13;
$fully-occupied: #c50909;


.booking-information-calendar {
  --p-datepicker-group-gap: .025rem;
  .p-datepicker-calendar table th, .p-datepicker table td {
    padding: .3rem !important;
    @media screen and (max-width: $xxl) {
      padding: .25rem !important;
    }
    @media screen and (max-width: $xl) {
      padding: .1rem !important;
    }
    @media screen and (max-width: 1100px) {
      padding: 0 !important;
    }
  }

  .booking-date > span {
    padding: .125em;
    width: 1.75rem;
    height: 1.75rem;
  }
}

.booking-date {
  > span {
    border-radius: 50%;
    padding: .25em;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: block;

    &:hover {
      background-color: unset !important;
    }
  }

  .reserved, .occupied, .fully-occupied {
    font-weight: bolder;
  }

  .reserved {
    background-color: $reserved !important;

    &:hover {
      background-color: $reserved !important;
    }
  }

  .occupied {
    background-color: $occupied !important;

    &:hover {
      background-color: $occupied !important;
    }
  }

  .fully-occupied {
    background-color: $fully-occupied !important;
    color: white;

    &:hover {
      background-color: $fully-occupied !important;
    }
  }
}

.p-message.occupied {
    background: #FDC399;
    color: #6d2400;
    border-color: #d95c00;
}

.booking-follow-up {
  a {
    padding: .5rem !important;
    text-decoration: none;
  }

  .p-fieldset {
    &:not(.p-fieldset-expanded) {
      border: none;
    }

    &.p-fieldset-expanded {
      margin-bottom: 1rem;
    }
  }
}

.calendar-cursor-default {
  .p-datepicker-day-view {
    cursor: default !important;
    pointer-events: none !important;
  }
}
