$color-main: #5fc5fa;
$color-hover: #339eea;
$color-select: #1c8bda;
$color-main-4: rgb(95, 197, 250, 0.04);
$color-main-16: rgb(95, 197, 250, 0.16);

.p-button.p-button-light, .p-button-group.p-button-light > .p-button, .p-splitbutton.p-button-light > .p-button {
  color: #ffffff;
  background: $color-main;
  border: 1px solid $color-main;
}
.p-button.p-button-light:not(:disabled):hover, .p-button-group.p-button-light > .p-button:not(:disabled):hover, .p-splitbutton.p-button-light > .p-button:not(:disabled):hover {
  background: $color-hover;
  color: #ffffff;
  border-color: $color-hover;
}
.p-button.p-button-light:not(:disabled):focus, .p-button-group.p-button-light > .p-button:not(:disabled):focus, .p-splitbutton.p-button-light > .p-button:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem #d5f0ff;
}
.p-button.p-button-light:not(:disabled):active, .p-button-group.p-button-light > .p-button:not(:disabled):active, .p-splitbutton.p-button-light > .p-button:not(:disabled):active {
  background: $color-select;
  color: #ffffff;
  border-color: $color-select;
}
.p-button.p-button-light.p-button-outlined, .p-button-group.p-button-light > .p-button.p-button-outlined, .p-splitbutton.p-button-light > .p-button.p-button-outlined {
  background-color: transparent;
  color: $color-main;
  border: 1px solid;
}
.p-button.p-button-light.p-button-outlined:not(:disabled):hover, .p-button-group.p-button-light > .p-button.p-button-outlined:not(:disabled):hover, .p-splitbutton.p-button-light > .p-button.p-button-outlined:not(:disabled):hover {
  background: $color-main-4;
  color: $color-main;
  border: 1px solid;
}
.p-button.p-button-light.p-button-outlined:not(:disabled):active, .p-button-group.p-button-light > .p-button.p-button-outlined:not(:disabled):active, .p-splitbutton.p-button-light > .p-button.p-button-outlined:not(:disabled):active {
  background: $color-main-16;
  color: $color-main;
  border: 1px solid;
}
.p-button.p-button-light.p-button-text, .p-button-group.p-button-light > .p-button.p-button-text, .p-splitbutton.p-button-light > .p-button.p-button-text {
  background-color: transparent;
  color: $color-main;
  border-color: transparent;
}
.p-button.p-button-light.p-button-text:not(:disabled):hover, .p-button-group.p-button-light > .p-button.p-button-text:not(:disabled):hover, .p-splitbutton.p-button-light > .p-button.p-button-text:not(:disabled):hover {
  background: $color-main-4;
  border-color: transparent;
  color: $color-main;
}
.p-button.p-button-light.p-button-text:not(:disabled):active, .p-button-group.p-button-light > .p-button.p-button-text:not(:disabled):active, .p-splitbutton.p-button-light > .p-button.p-button-text:not(:disabled):active {
  background: $color-main-16;
  border-color: transparent;
  color: $color-main;
}
.p-button.p-button-light:enabled:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #aaecfb, 0 1px 2px 0 black;
}
