:root {
  --fc-button-bg-color: var(--p-button-primary-background);
  --fc-button-border-color: var(--p-button-primary-border-color);
  --fc-button-text-color: var(--p-button-danger-color);

  --fc-button-active-bg-color: var(--p-button-primary-active-background);
  --fc-button-active-border-color: var(--p-button-primary-active-border-color);

  --fc-button-hover-bg-color: var(--p-button-primary-hover-background);
  --fc-button-hover-border-color: var(--p-button-primary-hover-border-color);
}

.fc .fc-button:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  outline-offset: 0;
  outline: unset 0;
  box-shadow: none;
}

.fc .fc-button:focus-visible {
  outline: var(--p-button-focus-ring-width) var(--p-button-focus-ring-style) var(--p-button-primary-focus-ring-color);
  outline-offset: var(--p-button-focus-ring-offset);
  outline-color: var(--p-button-primary-focus-ring-color);
  box-shadow: var(--p-button-primary-focus-ring-shadow);
}

.fc-list-empty {
  text-align: center;
}

.fc .fc-list-empty-cushion {
  margin: 5em 10px;
}

.fc .fc-button {
  border-radius: var(--p-button-border-radius);
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem;
}
.fc {
  a {
    text-decoration: none;
  }

  .fc-col-header-cell {
    background-color: #f8f9fa;
  }

  .fc-col-header-cell-cushion, .fc-daygrid-day-number, .fc-daygrid-dot-event .fc-event-time, .fc-daygrid-dot-event .fc-event-title, .fc-list-day-text {
    color: var(--bentaya-dark-color)
  }

  .event-text-dark .fc-event-main {
    color: var(--bentaya-dark-color);
  }

  .unknown-time {
    .fc-event-time {
      display: none;
    }

    .fc-event-title {
      margin-left: 3px;
    }

    .fc-list-event-time {
      font-size: 0;

      &::after {
        content: "Sin especificar";
        font-size: 1rem;
      }
    }
  }

  .fc-event {
    cursor: pointer;
  }

  .fc-daygrid-event {
    overflow: hidden;
  }

  .fc-event-time {
    overflow: visible !important;
  }

  .fc-daygrid-block-event {
    .fc-event-time {
      font-weight: unset !important;
    }

    .fc-event-title {
      font-weight: 700 !important;
    }
  }

  .fc-daygrid-day-number {
    text-decoration: none;
  }

  @media screen and (max-width: 650px) {
    .fc-event-time {
      display: none;
    }
    .fc-daygrid-block-event .fc-event-title {
      margin-left: 3px;
    }
  }

  .fc-scrollgrid-section-sticky {
    z-index: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  .fc .fc-list-event {
    .fc-list-event-graphic {
      padding-right: 0;
      padding-left: 0;
    }

    .fc-list-event-title {
      padding-right: 4px;
      padding-left: 4px
    }
  }
}
