@import "./booking";
@import "./calendar";
@import "./primeng";
@import "./z-index";
@import "./invalid-dirty";
@import "./mixins";

$row-padding: 0.35rem;

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;

  &:has(.hide-overflow-x) {
    overflow-x: hidden;
  }

  &:has(.block-scroll) {
    overflow: hidden;
  }
}

.color-bentaya {
  color: var(--bentaya-main-color);
}

a {
  &.uncolored {
    color: unset !important;
  }
}

a.p-button {
  text-decoration: none;
}

hr {
  margin: .75rem;
}

.input-max-width .p-inputtext {
  width: 100%;
}

.form-container-basic {
  .p-inputtext, p-inputnumber.p-element, .p-inputnumber, .p-select, .p-datepicker, .p-password {
    width: 100%;
  }

  label:has(+ .ng-invalid.ng-dirty), label:has(+ div .ng-invalid.ng-dirty) {
    color: var(--p-floatlabel-invalid-color);
  }
}

.form-container {
  margin-left: calc(.75rem - $row-padding);
  margin-right: calc(.75rem - $row-padding);

  .p-inputtext, p-inputnumber.p-element, .p-inputnumber, .p-select, .p-datepicker, .p-password {
    width: 100%;
  }

  .row {
    &.mt-revert {
      margin-top: -1rem;
    }

    &.mb-revert {
      margin-bottom: -1rem;
    }

    > div {
      margin-bottom: 1rem;
      padding-left: $row-padding;
      padding-right: $row-padding;
    }

  }

  .confirmation-container > div {
    margin-bottom: .5rem;
  }

  label:has(+ .ng-invalid.ng-dirty), label:has(+ div .ng-invalid.ng-dirty) {
    color: var(--p-floatlabel-invalid-color);
  }
}

.info-container .row > div {
  margin-bottom: .5rem;
}

.pre-line {
  white-space: pre-line;
}

.step-form-title { //dont like it
  visibility: collapse;
}

@media screen and (max-device-width: 767px) {
  .steps-no-label { //dont like it
    > nav {
      margin-bottom: -20px;
    }

    .p-steps-item-label {
      width: 0;
      overflow: hidden;
    }
  }
  .step-form-title {
    font-size: 1.5rem;
    visibility: initial;
    font-weight: bold;
    margin-bottom: .75rem;
    color: var(--p-steps-item-label-active-color);
    margin-left: -$row-padding;
  }
}

.p-inputtext:disabled + {
  label, span, th {
    &.required:after {
      color: var(--p-slate-400) !important;
    }
  }
}

label, span, th {
  &.required:after {
    content: "*";
    font-weight: bold;
    color: var(--p-red-500);
    margin-left: 2px;
  }

  &.semi-required:after {
    content: "*";
    font-weight: bold;
    color: var(--p-indigo-500);
    margin-left: 2px;
  }
}

.required > label:after {
  content: "*";
  font-weight: bold;
  color: var(--p-red-500);
  margin-left: 4px;
}

.red-row {
  background-color: #fdf2f2 !important;

  td {
    border-color: #fde5e5 !important;
  }
}

.basic-dialog {
  width: 650px;
  max-width: 99vw;
}

.attendance-multiselect {
  .p-multiselect-option-group {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@font-face {
  font-family: 'Inspiration-Regular';
  src: url('/assets/fonts/Inspiration-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Trueno-Black';
  src: url('/assets/fonts/TruenoBlk.otf') format('opentype');
}

.zoom-animation:hover {
  transform: scale(1.04);
}

.title-font {
  font-family: Trueno-Black, sans-serif;
}

h1, h2, h3 {
  font-family: Trueno-Black, sans-serif;
  color: #014B94;
  margin-bottom: 1rem;
}

.w-min {
  width: 1rem;
}

.w-fit {
  width: fit-content;
}

.wh-2rem {
  width: 2rem !important;
  height: 2rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.donation-image { //why is it here
  width: 100% !important;

  &:hover {
    background-color: #1b1b1b !important;
    filter: brightness(.75);
  }
}

.opaque {
  .p-toast .p-toast-message.p-toast-message-warn {
    background-color: #fff2e2;
  }
}

.home-bar-button {
  color: var(--bentaya-dark-color);
  transition: 0.3s;

  &.mi-vivac a:hover {
    background: rgba(211, 182, 29, 0.45);
  }

  &.menu:hover {
    background: rgba(159, 188, 197, 0.45);
  }

  .p-button-label {
    background: unset !important;
  }
}


.sidebar-menu {
  .p-panelmenu-panel {
    border-style: none;
  }

  .p-panelmenu-item-content, .p-panelmenu-header-content {
    border-radius: var(--p-button-border-radius);
  }

  .bg-select > .p-panelmenu-item-content, .bg-select > .p-panelmenu-header-content {
    background-color: var(--menu-select-color);
  }
}

.p-drawer:is(.ng-animating) {
  .p-panelmenu-content-container:is(:not(.p-panelmenu-expanded)) {
    display: none;
  }
}

$expand-button-diameter: 50px;

.menu-title {
  color: white;
  text-align: center;
  margin-bottom: 0;
  cursor: default;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - $expand-button-diameter / 4), -50%);
}

.expand-button button {
  width: $expand-button-diameter !important;
  height: $expand-button-diameter !important;
  background-color: var(--bentaya-secondary-color);
  border-color: var(--bentaya-secondary-color);
  color: var(--bentaya-main-color);

  &:hover {
    background-color: #d6b60d;
    border-color: #d6b60d;
  }

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);

  &.solo {
    $diameter: 45px;

    width: $diameter !important;
    height: $diameter !important;

    position: fixed;
    top: (81 / 2) - calc($diameter / 2);
    left: 10px;
    right: unset;
    transform: unset;
    z-index: $z-index-menu
  }

  span {
    font-size: 1.5rem;
  }
}

.divider-menu {
  margin: .75rem 0 0 0;

  .p-divider-content {
    background-color: var(--bentaya-main-color);
    color: white;
    border-radius: 10px;
  }
}

.custom-scrollbar .p-dialog-content {
  @include custom-scrollbar(#f0f0f0, #cdcdcd)
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-button-x-small {
  width: 1.75rem !important;
  height: 1.75rem !important;
  border-radius: 0.5rem !important;
}

.document-file-uploader {
  --p-fileupload-header-padding: 0.25rem 0.75rem;
  --p-fileupload-content-padding: 0.25rem;
  --p-fileupload-content-gap: 0;
}

p-fileupload.small-uploader {
  .p-fileupload-basic {
    justify-content: start;
  }

  .p-fileupload-choose-button {
    display: none;
  }
}
