@import "./booking";
@import "./calendar";
@import "./primeng";

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

a {
  &.uncolored {
    color: unset !important;
  }
}

hr {
  margin: .75rem;
}

.input-max-width .p-inputtext {
  width: 100%;
}

.form-container {
  .p-inputtext, p-inputnumber.p-element, .p-inputnumber, .p-select, .p-datepicker, .p-password {
    width: 100%;
  }

  .row {
    &.mt-revert {
      margin-top: -1.5rem;
    }

    &.mb-revert {
      margin-bottom: -1.5rem;
    }

    > div {
      margin-bottom: 2rem;
      padding-left: .35rem;
      padding-right: .35rem;
    }
  }

  label:has(+ .ng-invalid.ng-dirty), label:has(+ div .ng-invalid.ng-dirty) {
    color: #f44336;
  }
}

.info-container .row > div {
  margin-bottom: 1rem;
}

.pre-line {
  white-space: pre-line;
}

app-form-text-area.ng-invalid.ng-dirty {
  textarea {
    border-color: #f44336;
  }
  label {
    color: #f44336;
  }
}

.step-form-title { //dont like it
  visibility: collapse;
}

@media screen and (max-device-width: 767px) {
  .steps-no-label { //dont like it
    .p-steps-title {
      width: 0;
      overflow: hidden;
    }
  }
  .step-form-title {
    visibility: initial;
    margin-bottom: 2rem;
  }
}

label, span, th {
  &.required:after {
    content: "*";
    font-weight: bold;
    color: red;
    margin-left: 4px;
  }

  &.semi-required:after {
    content: "*";
    font-weight: bold;
    color: cadetblue;
    margin-left: 4px;
  }
}

.required > label:after {
  content: "*";
  font-weight: bold;
  color: red;
  margin-left: 4px;
}

div {
  .block-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    cursor: pointer;
  }
}

.red-row {
  background-color: #fdf2f2 !important;

  td {
    border-color: #fde5e5 !important;
  }
}

.dialog-width { //rework
  @media screen and (max-width: 700px) {
    width: 100%;
  }

  @media screen and (min-width: 700px) {
    min-width: 700px;
    max-width: 1200px;

    &.medium-dw {
      width: 950px;
    }

    &.small-dw {
      width: 700px;
    }
  }

  &.login {
    max-width: 500px;
  }
}

.invert-tab-menu {
  .p-tabmenu .p-tabmenu-nav {
    border-width: 2px 0 0 0;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border-width: 2px 0 0 0;
    border-color: #dee2e6 transparent transparent transparent;
    border-radius: 0 0 3px 3px;
    margin: -2px 0 0 0;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: #2196F3;
  }
}

.attendance-multiselect {
  .p-multiselect-item-group {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  timesicon.p-icon-wrapper {
    display: block !important;
  }
}

p-message {
  exclamationtriangleicon {
    margin-left: 5px;
    margin-right: 10px;
  }

  .p-inline-message-text {
    font-weight: bold;
  }
}

@font-face {
  font-family: 'Inspiration-Regular';
  src: url('/assets/fonts/Inspiration-Regular.ttf') format('opentype');
}

.inspiration-title {
  font-family: Inspiration-Regular, sans-serif, Inter;
  color: #365299FF;
  font-size: 4em;
}

@font-face {
  font-family: 'Trueno-Black';
  src: url('/assets/fonts/TruenoBlk.otf') format('opentype');
}

.trueno-title {
  font-family: Trueno-Black, sans-serif;
  color: #014B94;
  font-size: 4em;
}

h1 {
  font-family: Trueno-Black, sans-serif;
  color: #014B94;
  margin-bottom: 1rem;
}

.w-min {
  width: 1rem;
}

.wh-2rem {
  width: 2rem !important;
  height: 2rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.donation-image { //why is it here
  width: 100% !important;

  &:hover {
    background-color: #1b1b1b !important;
    filter: brightness(.75);
  }
}

.opaque {
  .p-toast .p-toast-message.p-toast-message-warn {
    background-color: #fff2e2;
  }
}
