@import "./z-index";
@import "./variables";

:root {
  --bentaya-main-color: #044A93;
  --bentaya-secondary-color: #efd134;
  --bentaya-dark-color: #292929;
  --bentaya-light-color: #d1dce7;

  --p-button-border-radius: 12px;
  --p-button-padding-x: 1rem;
  --p-button-padding-y: 0.5rem;

  --p-button-icon-only-width: 2.5rem;

  --p-button-outlined-primary-border-color: var(--p-primary-400);
  --p-button-outlined-danger-border-color: var(--p-danger-400);
  --p-button-outlined-info-border-color: var(--p-info-400);
  --p-button-outlined-warn-border-color: var(--p-warn-400);
  --p-button-outlined-success-border-color: var(--p-green-400);
  --p-button-outlined-secondary-border-color: var(--p-surface-400);

  --p-togglebutton-checked-background: var(--p-primary-200);
  --p-togglebutton-padding: var(--p-button-padding-y) var(--p-button-padding-x);
  --p-togglebutton-border-radius: var(--p-button-border-radius);

  --p-form-field-border-radius: var(--p-button-border-radius);
  --p-form-field-padding-x: 0.5rem;
  --p-form-field-padding-y: 0.5rem;

  --p-overlay-modal-padding: 1rem;

  --p-datatable-body-cell-padding: 0.375rem 0.75rem;
  --p-datatable-header-cell-padding: 0.5rem 0.75rem;

  --p-list-option-padding: 0.4rem 1rem;

  --p-checkbox-width: 22px;
  --p-checkbox-height: var(--p-checkbox-width);
  --p-checkbox-border-radius: 6px;

  --p-tooltip-padding: 0.25rem 0.5rem;

  --p-tabs-tab-padding: .5rem 1rem;

  --p-mask-color: var(--bentaya-dark-color);

  --menu-select-color: var(--bentaya-light-color);

  --p-datepicker-panel-padding: .5rem;
  --p-datepicker-date-padding: .25rem;
  --p-datepicker-week-day-padding: .25rem;
  --p-datepicker-date-width: 2.15rem;
  --p-datepicker-date-height: 2.15rem;
  --p-datepicker-header-padding: 0 0 .25rem 0;
  --p-datepicker-time-picker-padding: 0.5rem 0 0 0;

  --p-overlaybadge-outline-width: 0;
  --p-button-badge-size: 0.75rem;

  --p-card-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.3);

  --p-selectbutton-border-radius: var(--p-form-field-border-radius);
  --p-togglebutton-border-color: var(--p-form-field-border-color);
  --p-togglebutton-checked-color: var(--p-highlight-color);
  --p-togglebutton-hover-background: var(--p-surface-100);

  --p-dialog-header-padding: 1rem 1rem 0.5rem 1rem;

  .p-drawer-footer {
    padding-top: 0;
  }
}

.p-selectbutton.override-disable .p-togglebutton.p-togglebutton-checked {
  background: var(--p-primary-200) !important;
  border-color: var(--p-togglebutton-checked-border-color) !important;
  color: var(--p-togglebutton-checked-color) !important;
  opacity: 0.9;
}

.not-disabled:not(.ng-invalid .ng-dirty) {
  .p-checkbox-box {
    border: 1px solid var(--p-checkbox-border-color);
    background: var(--p-checkbox-background);
  }
}


p-tag.inverted {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  user-select: none;

  &.main {
    background: var(--p-emerald-200);
    color: var(--p-emerald-700);
  }
  &.secondary {
    background: var(--p-sky-200);
    color: var(--p-sky-700);
  }
  &.gray {
    background: var(--p-stone-200);
    color: var(--p-stone-700);
  }
  &.red {
    background: var(--p-red-200);
    color: var(--p-red-700);
  }
  &.disabled {
    opacity: 50%;
    cursor: default !important;
  }
}

.html-container {
  &:has(.space-holder.big) {
    .p-progressspinner-spin {
      left: $expanded-width;
    }
  }
  &:has(.space-holder.small) {
    .p-progressspinner-spin {
      left: $contracted-width;
    }
  }
}

.p-progressspinner-spin {
  position: fixed !important;
  max-width: 120px;
  z-index: $z-index-spinner;
}

.p-button-icon-only.p-selectbutton > div {
  height: var(--p-button-icon-only-width) !important;
}

.p-button.p-button-icon-only:not(.p-button-sm, .p-splitbutton-dropdown, .p-inputgroupaddon .p-button-icon-only) {
  height: var(--p-button-icon-only-width);
}

.p-button.p-button-icon-only.p-button-sm {
  width: 2rem;
  height: unset;
}

.p-button.p-dialog-close-button {
  padding-inline: var(--p-button-padding-y);
}

.p-tooltip .p-tooltip-text {
  font-size: 14px;
}

.p-togglebutton.icon-only {
  height: var(--p-button-icon-only-width) !important;
  width: var(--p-button-icon-only-width) !important;
  .p-togglebutton-label {
    display: none !important;
  }
}

p-toggle-button.no-label {
  > button.squared {
    padding: 0.5rem 0.5rem;
  }
  .p-togglebutton-label {
    display: none;
  }
}

.p-button.p-togglebutton:hover {
  color: var(--p-togglebutton-hover-color);
  background: var(--p-togglebutton-hover-background);
  border-color: var(--p-togglebutton-border-color);
}

.p-badge.lower {
  top: 3px;
}

.fixed-table {
  table {
    table-layout: fixed;
  }
  .p-datatable-tbody > tr {
    > td {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }
  &.first-border .p-datatable-tbody > tr:first-child > td {
    border-top: 1px;
    border-top-color: var(--p-datatable-body-cell-border-color);
    border-top-style: solid;
  }
  &.no-border .p-datatable-tbody > tr:last-child > td {
    border-bottom: 0;
  }
}

.reduce-padding-y .p-panel-content {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

//fixes

//en el datepicker, no están alineados los días de la semana con los días del mes
.p-datepicker-weekday-cell {
  text-align: center;
}

//en las tablas, cuando están en vista de stack, se pega mucho el valor al nombre de la columna
.p-column-title {
  margin-right: 0.5rem;
}

//p-inputgroup con un addon borra el border radius del lado que no hay cuadrado, ver settings
.p-inputgroup > .p-inputwrapper > .p-component {
  border-top-right-radius: var(--p-inputtext-border-radius);
  border-bottom-right-radius: var(--p-inputtext-border-radius);
}

//p-inputgroup con un p-button-icon-only no coge el espacio disponible para el botón
.p-inputgroupaddon {
  .p-button-icon-only {
    width: 2.75rem;
  }

  p-button {
    height: 100%;
  }
}

.border-end-radius-0 > input {
  border-end-end-radius: 0 !important;
  border-start-end-radius: 0 !important;
}
