<div class="container">
  <h1 class="text-center">CENTROS SCOUT - Pre Reserva</h1>
  @if (successOnSubmit) {
    <div class="text-center">
      <p>Su solicitud ha sido enviada con éxito</p>
      <p>Un correo con la copia de la reserva y el usuario para realizar el seguimiento ha sido enviado a
        <b>{{ mail }}</b></p>
      <p>Si no ha recibido el correo compruebe la carpeta de spam</p>
      <p>En caso de tener algún problema con respecto al correo, contacte a
        <a href="mailto:{{maintenanceEmail}}?subject=PROBLEMAS RESPECTO A SOLICITUD CENTRO SCOUT">
          {{maintenanceEmail}}
        </a>
      </p>
    </div>
  } @else {
    <p class="my-3">
      Si le interesa alguno de los centros puede solicitarlo en el siguiente formulario, pero debe saber que sólo se
      cede su uso a Asociaciones y Centros Educativos. Si desea obtener más información sobre nuestros centros, haga
      <a routerLink="/centros-scout/informacion">click aquí</a>. Se permiten reservas hasta septiembre 2025, inclusive.
    </p>
    <app-booking-beta-alert></app-booking-beta-alert>
    @if (bookingForm.form) {
      <p-steps class="steps-no-label" id="form-steps" [model]="steps" [activeIndex]="bookingForm.currentPage"></p-steps>
      <form [formGroup]="bookingForm.form" class="form-container">
        @switch (bookingForm.currentPage) {
          @case (-1) {
            <div class="pt-4">
              <p>
                Lea atentamente los campos que debe de rellenar en la solicitud para evitar errores y así poder
                concederle el centro cuanto antes. La tramitación de la concesión del Centro Scout solicitado, se divide
                en tres fases:
              </p>
              <ol>
                <li>
                  Rellenar este formulario de solicitud con la mayor precisión posible.
                </li>
                <li>
                  Comprobamos que los datos enviados estén bien y les damos el "Sí" provisional, en caso de que les
                  vayamos a conceder el uso de las instalaciones solicitadas. En caso contrario, nos pondremos en
                  contacto con usted para informarle de que ha sido denegada y por qué motivo.
                </li>
                <li>
                  Para terminar de concederle el uso de las instalaciones deben de haber adjuntado una serie de
                  documentes con un máximo de 5 días antes de su entrada. Entre estos documentos se encuentran el
                  registro de asociaciones o acreditativo del centro educativo y los recibos de los seguros de
                  responsabilidad civil y de accidentes. Estos documentos, que dependen únicamente de la entidad
                  solicitante, tendrán que estar al día.
                </li>
              </ol>
              <p>Si ha solicitado el uso de nuestras instalaciones con anterioridad y tiene un usuario, puede acceder
                con este y realizar por ahí el trámite, para evitar volver a introducir los datos proporcionados
                anteriormente.<!--para así evitar subir los documentos proporcionados anteriormente.--> Si no recuerda
                su contraseña, puede restablecerla al intentar iniciar sesión haciendo click en 'Olvidé la contraseña'.
              </p>
            </div>
          }
          @case (0) {
            <div>
              <h5 class="step-form-title">
                <b>Datos de la Entidad</b>
              </h5>
              <div class="row">
                <div class="col-12 col-md-6">
                  <p-floatlabel>
                    <input
                      pInputText
                      formControlName="groupName"
                      id="groupName"
                      type="text"
                      maxlength="255"
                    >
                    <label class="required" for="groupName">Nombre de la entidad</label>
                  </p-floatlabel>
                  @if (bookingForm.isDirtyAndInvalid('groupName')) {
                    <small class="text-danger">Introduzca el nombre de la entidad</small>
                  }
                </div>
                <div class="col-12 col-md-6">
                  <p-floatlabel>
                    <input
                      pInputText
                      formControlName="cif"
                      id="cif"
                      type="text"
                      maxlength="255"
                    >
                    <label class="required" for="cif">CIF de la entidad</label>
                  </p-floatlabel>
                  @if (bookingForm.isDirtyAndInvalid('cif')) {
                    <small class="text-danger">Introduzca el CIF de la entidad</small>
                  }
                </div>
                <div class="col-12">
                  <label class="required" for="workDescription">
                    Pequeña descripción sobre la labor de la asociación o centro, indicando con claridad el deseo
                    del uso de nuestras instalaciones acorde a sus actividades.
                  </label>
                  <app-form-text-area
                    [maxLength]="510"
                    formControlName="workDescription"
                    id="workDescription"
                    [showErrorMessage]="bookingForm.isDirtyAndInvalidWithError('workDescription', 'maxlength')"
                  ></app-form-text-area>
                  @if (bookingForm.isDirtyAndInvalidWithError('workDescription', 'required')) {
                    <small class="text-danger">Introduzca una breve descripción</small>
                  }
                </div>
              </div>
            </div>
          }
          @case (1) {
            <div>
              <h5 class="step-form-title">
                <b>Datos de Contacto</b>
              </h5>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p-floatlabel>
                    <input
                      pInputText
                      formControlName="contactName"
                      id="contactName"
                      type="text"
                      maxlength="255"
                    >
                    <label class="required" for="contactName">Nombre de la persona de contacto</label>
                  </p-floatlabel>
                  @if (bookingForm.isDirtyAndInvalid('contactName')) {
                    <small class="text-danger">Introduzca el nombre de la persona de contacto</small>
                  }
                </div>
                <div class="col-12 col-lg-6">
                  <p-floatlabel>
                    <input
                      pInputText
                      formControlName="relationship"
                      id="relationship"
                      type="text"
                      maxlength="255"
                    >
                    <label class="required" for="relationship">Relación con la Asociación o el Centro
                      Educativo</label>
                  </p-floatlabel>
                  @if (bookingForm.isDirtyAndInvalid('relationship')) {
                    <small class="text-danger">Introduzca la relación de la persona con la entidad
                      solicitante</small>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p-floatlabel>
                    <input
                      pInputText
                      formControlName="phone"
                      id="phone"
                      type="text"
                      maxlength="255"
                    >
                    <label class="required" for="phone">Teléfono de contacto</label>
                  </p-floatlabel>
                  @if (bookingForm.isDirtyAndInvalid('phone')) {
                    <small class="text-danger">Introduzca un teléfono de contacto</small>
                  }
                </div>
                <div class="col-12 col-lg-6">
                  <p-floatlabel>
                    <input
                      pInputText
                      formControlName="email"
                      id="email"
                      type="text"
                      [pKeyFilter]="noWhiteSpaceFilter"
                      maxlength="255"
                    >
                    <label class="required" for="email">Correo de contacto</label>
                  </p-floatlabel>

                  @if (bookingForm.isDirtyAndInvalid('email')) {
                    <small class="text-danger">Introduzca un correo electrónico válido</small>
                  }
                  @if (currentUser && !bookingForm.isDirtyAndInvalid('email') && bookingForm.controlValue('email') !== currentUser) {
                    <small class="text-warning-emphasis">Si cambia el correo electrónico, el usuario actual
                      ({{ currentUser }}) no tendrá acceso a la reserva, por lo que tendrá que ser gestionada desde
                      el
                      nuevo usuario ({{ bookingForm.controlValue('email') }})
                    </small>
                  }
                </div>
              </div>
            </div>
          }
          @case (2) {
            <div>
              <h5 class="step-form-title">
                <b>Datos de la Reserva</b>
              </h5>
            </div>
          }
          @case (3) {
            <div>
              <h5 class="step-form-title mb-2">
                <b>Otros Datos</b>
              </h5>
              @if (centerSelectionComponent.eligibleForExclusiveness) {
                <div class="row">
                  <div class="col-12">
                    <p>Ha alcanzado el aforo necesario para poder realizar una reserva en exclusividad, ¿desea
                      hacerlo?</p>
                    <div class="d-flex align-items-center">
                      <p-checkbox
                        id="exclusiveReservation"
                        formControlName="exclusiveReservation"
                        [binary]="true"
                        label="Solicitar centro en exclusividad"
                      ></p-checkbox>
                    </div>
                  </div>
                </div>
              }
              <div class="row">
                <div class="col-12 mb-2">
                  <label for="observations">
                    Alguna observación que desee añadir para tener en cuenta a la hora de estudiar su reserva.
                  </label>
                  <app-form-text-area
                    [maxLength]="1023"
                    formControlName="observations"
                    id="observations"
                    [showErrorMessage]="bookingForm.isDirtyAndInvalidWithError('observations', 'maxlength')"
                  ></app-form-text-area>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <app-checkbox-container>
                    <p-checkbox
                      id="privacy"
                      formControlName="privacy"
                      [binary]="true"
                    ></p-checkbox>
                  </app-checkbox-container>
                  @if (bookingForm.isDirtyAndInvalid('privacy')) {
                    <small class="text-danger">Debe leer y estar de acuerdo con los términos.</small>
                  }
                </div>
              </div>
            </div>
          }
          @case (4) {
            <div>
              <h5 class="step-form-title">
                <b>Confirmación de Datos</b>
              </h5>
              <p>
                Se mandarán los siguientes datos con los que tramitaremos su solicitud, rogamos que compruebe que
                estén todos bien.
              </p>
              <h4>Datos de la asociación o centro educativo</h4>
              <div class="row px-1">
                <div class="col-12 col-lg-6">
                  <b>Nombre:</b> {{ booking.groupName }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>CIF:</b> {{ booking.cif }}
                </div>
                <div class="col-12">
                  <b>Descripción sobre el uso de las instalaciones:</b> {{ booking.workDescription }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>Nombre de contacto:</b> {{ booking.contactName }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>Relación o puesto del contacto:</b> {{ booking.relationship }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>Correo electrónico:</b> {{ booking.email }}
                  @if (currentUser && booking.email !== currentUser) {
                    <small class="text-warning-emphasis">(La reserva se asignará a {{ booking.email }})</small>
                  }
                </div>
                <div class="col-12 col-lg-6">
                  <b>Teléfono:</b> {{ booking.phone }}
                </div>
              </div>
              <h4>Datos de la solicitud</h4>
              <div class="row px-1">
                <div class="col-12 col-lg-6">
                  <b>Centro Scout:</b> {{ booking.scoutCenter | scoutCenter }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>Número de personas:</b> {{ booking.packs }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>Fecha de entrada:</b> {{ booking.startDate | date:"dd/MM/yyyy HH:mm" }}
                </div>
                <div class="col-12 col-lg-6">
                  <b>Fecha de salida:</b> {{ booking.endDate | date:"dd/MM/yyyy HH:mm" }}
                </div>
                <div class="col-12">
                  <b>Observaciones:</b> {{ booking.observations || 'Ninguna' }}
                </div>
                @if (centerSelectionComponent.eligibleForExclusiveness) {
                  <div class="col-12">
                    <b>Centro en exclusividad:</b> {{ booking.exclusiveReservation ? 'Sí' : 'No' }}
                  </div>
                }
              </div>
            </div>
          }
        }
        <app-booking-form-center-selection
          #centerSelection
          [ngClass]="{'d-none' : bookingForm.currentPage != 2}"
          (onInit)="addCenterControl($event)"
        ></app-booking-form-center-selection>
        <app-large-form-buttons
          [form]="bookingForm"
          [loading]="loading"
          [showPrevAtFirstPage]="true"
          (onSubmit)="sendForm()"
        ></app-large-form-buttons>
      </form>
    } @else {
      <app-basic-loading-info></app-basic-loading-info>
    }
  }
</div>
