<div class="form-container mt-1">
  <div class="row">
    <div class="col-12 col-sm-6">
      <p-floatlabel variant="on">
          <p-select
            id="group"
            [options]="groups"
            [disabled]="!canEditGroup"
            optionLabel="name"
            optionValue="id"
            [(ngModel)]="groupId"
            styleClass="w-100"
          ></p-select>
          <label class="required" for="group">Unidad</label>
      </p-floatlabel>
    </div>
    <div class="col-12 col-sm-6">
      <p-floatlabel variant="on">
          <p-select
            id="status"
            [options]="statuses"
            optionLabel="name"
            optionValue="id"
            [(ngModel)]="status"
            styleClass="w-100"
          ></p-select>
          <label class="required" for="status">Estado</label>
      </p-floatlabel>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-1">
      <p-floatlabel variant="on">
        <label for="comment">
          @if (status == 3) {
            Motivo del rechazo
          } @else {
            Comentarios
          }
        </label>
        <app-form-text-area
          id="comment"
          [maxLength]="1024"
          [(ngModel)]="comment"
        ></app-form-text-area>
      </p-floatlabel>
    </div>
  </div>
  <app-save-buttons
    [saveDisabled]="groupId == null || status == null"
    (onSave)="submit()"
    (onCancel)="ref.close()"
  ></app-save-buttons>
</div>
