<div>
    <textarea
      pTextarea
      id="comment"
      type="text"
      [(ngModel)]="value"
      (ngModelChange)="onChange(value)"
      (blur)="_onTouched()"
      [rows]="rows"
      [disabled]="disabled"
      class="w-100"
    ></textarea>
  <div style="margin-top: -5px;">
    <p-tag
      class="float-end"
      title="No superar los {{maxLength}} caracteres"
      [severity]="
      valueLength > maxLength ? 'danger' :
      maxLength > 30 && valueLength >= maxLength-20 ? 'warn' : 'success'"
      [rounded]="true"
      [value]="valueLength + '/' + maxLength"
    ></p-tag>
  </div>
</div>
@if (showErrorMessage && !textIsUnderLimit) {
  <div class="text-danger">
    <small>El texto excede el límite de caracteres.</small>
  </div>
}
