<div class="container">
  <h1>Reservas Centros Scout</h1>
  <div class="mb-3 d-flex justify-content-end">
    <p-button
      label="Añadir"
      icon="pi pi-plus"
      (onClick)="openForm()"
    ></p-button>
  </div>
    <div class="d-flex flex-column gap-3">
      <p-table
        #tab
        showGridlines
        [value]="bookings"
        [paginator]="true"
        [rows]="25"
        [rowsPerPageOptions]="[5,10,25,50]"
        responsiveLayout="scroll"
        selectionMode="single"
        [sortOrder]="-1"
        [loading]="loading"
        [lazy]="true"
        (onLazyLoad)="loadBookingWithFilter($event)"
        [filters]="{groupIds: {value: selectedGroups}}"
        [totalRecords]="totalRecords"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center w-min" pSortableColumn="id">
              Nº
            </th>
            <th>Unidad</th>
            <th>Centro</th>
            <th>Estado</th>
            <th pSortableColumn="startDate">
              Fechas
              <p-sortIcon field="startDate"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-multi-select
                [autofocusFilter]="false"
                [options]="groups"
                [showHeader]="false"
                (onChange)="tab.filter($event.value, 'groupIds', 'custom')"
                (onClear)="tab.filter(null, 'groupIds', 'custom')"
                placeholder="Filtrar unidades"
                styleClass="fw-normal w-100"
                showClear
                [ngModel]="selectedGroups"
                [maxSelectedLabels]="2"
                appendTo="body"
                optionLabel="name"
                optionValue="id"
              ></p-multi-select>
            </th>
            <th>
              <p-multiSelect
                [autofocusFilter]="false"
                [options]="centers"
                (onChange)="tab.filter($event.value, 'scoutCenters', 'custom')"
                (onClear)="tab.filter(null, 'scoutCenters', 'custom')"
                [showHeader]="false"
                appendTo="body"
                scrollHeight="300px"
                placeholder="Filtrar"
                styleClass="w-100 fw-normal"
                showClear
                [maxSelectedLabels]="1"
              ></p-multiSelect>
            </th>
            <th>
              <p-multiSelect
                [autofocusFilter]="false"
                [options]="statusesOptions"
                (onChange)="tab.filter($event.value, 'statuses', 'custom')"
                (onClear)="tab.filter(null, 'statuses', 'custom')"
                [showHeader]="false"
                appendTo="body"
                scrollHeight="300px"
                placeholder="Filtrar"
                styleClass="w-100 fw-normal"
                showClear
                [maxSelectedLabels]="1"
              ></p-multiSelect>
            </th>
            <th>
              <p-date-picker
                #dp
                selectionMode="range"
                styleClass="w-100 fw-normal"
                appendTo="body"
                (onClose)="FilterUtils.filterDateTimes(tab, dp.value)"
                (onClear)="FilterUtils.filterDateTimes(tab)"
                readonlyInput
                showClear
              ></p-date-picker>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
          <tr style="outline: none;" pSelectableRow routerLink="{{booking.id}}">
            <td class="text-center">
              {{ booking.id }}
            </td>
            <td>
              {{ booking.group.name }}
            </td>
            <td>
              {{ booking.scoutCenter.name }}
            </td>
            <td>
              {{ booking.status | bookingStatus }}
            </td>
            <td style="width: 12rem">
              <div class="text-center">{{ booking.startDate | date:"dd/MM/yy" }} - {{ booking.endDate | date:"dd/MM/yy" }}</div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="bg-white">
            <td colspan="6">
              No hay reservas con estos filtros :(
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>
