<hr class="mt-0">
@if (event) {
  <div>
    <div class="d-flex align-items-center">
      <span class="fw-bold">Descripción</span>
      <div class="d-flex gap-1 ms-auto" style="height: 1.75rem;">
        <p-button
          styleClass="h-100 px-2 w-fit"
          [icon]="copied ? 'pi pi-copy' : 'pi pi-link'"
          [disabled]="copied"
          [pTooltip]="copied ? '¡Link copiado!' : 'Copiar link de la actividad'"
          [hideDelay]="copied ? 6000 : 0"
          tooltipPosition="top"
          appendTo="body"
          (click)="copyEventLink()"
          [label]="userCanEditEvent ? '' : 'Compartir'"
        ></p-button>
        @if (userCanEditEvent) {
          <p-button styleClass="h-100 px-2" (click)="openEditDialog()">Editar Actividad</p-button>
        }
      </div>
    </div>
    <p style="white-space: pre-wrap;">{{ event.description || event.title }}</p>
  </div>
  <div class="mt-3">
    <span class="fw-bold">Fecha</span>
    <ul>
      @if (event.unknownTime) {
        <li>Inicio: {{ event.startDate | date:"EEEE, dd/MM/y '(Hora sin especificar)'":undefined:'es' }}</li>
        <li>Fin: {{ event.endDate | date:"EEEE, dd/MM/y '(Hora sin especificar)'":undefined:'es' }}</li>
      } @else {
        <li>Inicio: {{ event.startDate | date:"HH:mm, EEEE, dd/MM/y":undefined:'es' }}</li>
        <li>Fin: {{ event.endDate | date:"HH:mm, EEEE, dd/MM/y":undefined:'es' }}</li>
      }
    </ul>
  </div>
  <div>
    <span class="fw-bold">Lugar</span>
    <ul>
      <li>{{ event.location || 'Sin especificar' }}</li>
      @if (event.meetingLocation) {
        <li>Quedada: {{ event.meetingLocation }}</li>
      }
      @if (event.pickupLocation) {
        <li>Recogida: {{ event.pickupLocation }}</li>
      }
    </ul>
  </div>
  <div>
    <span class="fw-bold">Unidad</span>
    <ul>
      <li>
        @if (event.forEveryone) {
          Grupo
        } @else {
          {{ event.group?.name }}
        }
        @if (event.forScouters) {
          (sólo scouters)
        }
      </li>
    </ul>
  </div>
  @if (userScoutsInEvent.length > 0 || scoutConfirmations.length > 0) {
    <a
      class="uncolored fw-bold"
      routerLink="/asistencias"
      (click)="ref.close()"
    >
      Ir a asistencia <ng-container *ngTemplateOutlet="attendanceStatus"></ng-container>
    </a>
    <ul>
      @if (scoutConfirmations.length < 1) {
        @for (scout of userScoutsInEvent; track scout.id) {
          <li>
            <div class="d-flex align-items-center">
              {{ scout.name }} -
              <p-skeleton class="mt-1 mx-1" width="2rem"></p-skeleton>
              <p-skeleton class="mt-1" width="3rem"></p-skeleton>
            </div>
          </li>
        }
      }
      @for (scoutConfirmation of scoutConfirmations; track scoutConfirmation.scoutId) {
        <li>
          {{ scoutConfirmation.name }} -
          @if (scoutConfirmation.attending) {
            Asiste
            @if (scoutConfirmation.payed) {
              (Ha pagado)
            } @else if (scoutConfirmation.payed === false) {
              (No ha pagado)
            }
          } @else if (scoutConfirmation.attending === false) {
            No asiste
          } @else {
            <b class="text-danger">Sin Confirmar</b>
          }
        </li>
      }
    </ul>
  }
  @if (event.hasAttendance && userCanEditEvent) {
    <div class="d-flex flex-column flex-sm-row justify-content-between">
      <a
        class="uncolored fw-bold"
        routerLink="/unidad/asistencias"
        [queryParams]="{actividad: event.id}"
        (click)="ref.close()"
      >
        Ir a lista de asistencia <ng-container *ngTemplateOutlet="attendanceStatus"></ng-container>
      </a>
    </div>
  }
} @else {
  <app-basic-loading-info></app-basic-loading-info>
}
<ng-template #attendanceStatus>
  @if (event.attendanceIsClosed) {
    (cerrada)
  } @else if (event.closeDateTime) {
    (cierra el {{ event.closeDateTime | date:"dd/MM/yyyy 'a las' HH:mm" }})
  }
</ng-template>
