<div class="container">
  <h1 class="text-center">Condiciones de Uso</h1>
  <p>
    Asociación Scouts Exploradores Bentaya es una entidad sin animo de lucro cuyo domicilio social se encuentra sito
    en la Arco, 77 - 35004 Las Palmas de Gran Canaria y teléfono (34) 928 24 21 21. Nuestra dirección de correo
    electrónico de contacto es:
    <a href="mailto:{{generalEmail}}">{{generalEmail}}</a>.
  </p>
  <p>
    Asimismo, el nombre de dominio, titularidad de Asociación Scouts Exploradores Bentaya, es
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>.
  </p>
  <p><b>Acceso a la Información</b></p>
  <p>
    El acceso al
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>
    por parte de los Usuarios tiene carácter libre y gratuito.
  </p>
  <p>
    Cuando sea necesario que el Usuario se registre o aporte datos personales para poder acceder a alguno de los
    servicios específicos, la recogida, el tratamiento y, en su caso, la cesión o el acceso de los datos personales de
    los Usuarios será de aplicación lo dispuesto en la Política de Privacidad recogida en el
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>.
  </p>
  <p><b>Utilización de la página</b></p>
  <p>
    Los contenidos incluidos en el
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>
    se facilitan únicamente a consumidores o usuarios finales. Cualquier uso comercial no autorizado de los mismos, o su
    reventa, quedan prohibidos, salvo que se cuente con la previa autorización escrita de Asociación Scouts Exploradores
    Bentaya.
  </p>
  <p>
    Si para la utilización de un servicio de
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>,
    el Usuario debiera proceder a su registro, éste será responsable de aportar información veraz y lícita. Si como
    consecuencia del registro, se dotara al Usuario de una contraseña, éste se compromete a hacer un uso diligente y a
    mantener en secreto la contraseña para acceder a estos servicios. En consecuencia, los Usuarios son responsables de
    la adecuada custodia y confidencialidad de cualesquiera identificadores y/o contraseñas que le sean suministradas
    por Asociación Scouts Exploradores Bentaya, y se comprometen a no ceder su uso a terceros, ya sea temporal o
    permanente, ni a permitir su acceso a personas ajenas a la asociación. Será responsabilidad del Usuario la
    utilización ilícita de los servicios por cualquier tercero ilegítimo que emplee a tal efecto una contraseña a causa
    de una utilización no diligente o de la pérdida de la misma por el Usuario.
  </p>
  <p>
    En virtud de lo anterior, es obligación del Usuario notificar de forma inmediata a los gestores del
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>
    acerca de cualquier hecho que permita el uso indebido de los identificadores y/o contraseñas, tales como el robo,
    extravío, o el acceso no autorizado a los mismos, con el fin de proceder a su inmediata cancelación. Mientras no se
    comuniquen tales hechos, Asociación Scouts Exploradores Bentaya quedará eximida de cualquier responsabilidad que
    pudiera derivarse del uso indebido de los identificadores o contraseñas por terceros no autorizados.
  </p>
  <p>
    El acceso, navegación y uso del
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>
    es responsabilidad del Usuario, por lo que el Usuario se compromete a observar diligente y fielmente cualquier
    instrucción adicional impartida por Asociación Scouts Exploradores Bentaya o por personal autorizado de Asociación
    Scouts Exploradores Bentaya relativa al uso de
    <a [href]="environment.webUrl">{{environment.webUrl}}</a>
    y de sus contenidos.
  </p>
  <p>
    Por tanto, el Usuario se obliga a usar los contenidos de forma diligente, correcta y lícita y, en particular, se
    compromete a abstenerse de:
  </p>
  <ul>
    <li>
      Utilizar los contenidos con fines o efectos contrarios a la ley, a la moral y a las buenas costumbres generalmente
      aceptadas o al orden público.
    </li>
    <li>
      Emplear los contenidos y, en particular, la información de cualquier clase obtenida a través de la página o de los
      servicios para remitir publicidad, comunicaciones con fines de venta directa o con cualquier otra clase de
      finalidad comercial, mensajes no solicitados dirigidos a una pluralidad de personas con independencia de su
      finalidad, así como a abstenerse de comercializar o divulgar de cualquier modo dicha información.
    </li>
  </ul>
</div>
