<div class="container">
  <h1 class="text-center">CENTROS SCOUT - Información</h1>
  <p>
    Nuestros espacios en la naturaleza a los que denominamos Centros Scout, son una gran oportunidad para realizar
    actividades al aire libre. Aprender en entornos naturales como los que disponemos es una posibilidad que pocas veces
    se da y es una herramienta con la que nosotros jugamos constantemente para educar a los niños, niñas y jóvenes de
    nuestra asociación. Si te estás planteando realizar una convivencia o actividad al aire libre con tu asociación o
    centro escolar, a continuación puedes encontrar más información sobre nuestros centros. Para realizar una solicitud
    de uso haga <a routerLink="/centros-scout/reserva">click aquí</a>.
  </p>
  <p>
    Actualmente contamos con 4 centros scout que ponemos a su disposición. Entre ellos tenemos un Aula de la Naturaleza
    ubicada en El Palmital, Guía. También contamos un espacio de campamento y un refugio ubicados en El Picacho, Arucas.
    Por otro lado, también contamos con pequeño refugio ubicado en Tejeda.
    Para ver los detalles de cada uno de ellos, puede ir cambiando entre las pestañas que se encuentran a continuación.
  </p>
  <p>
    <b>
      De forma temporal, las reservas para nuestros centros de Arucas y Tejeda sólo podrán ser solicitadas por otras
      Asociaciones Scout.
    </b>
    En cambio, la solicitud de el Aula de la Naturaleza El Palmital ya está disponible para todo tipo de asociaciones
    educativas. Se permiten reservas hasta septiembre 2025, inclusive.
  </p>
  <div>
    <app-flex-card
      [options]="scoutCenters"
      (selectedIndexEvent)="this.selectedOption = $event"
    ></app-flex-card>
  </div>
  <div class="mt-md-5">
    <app-booking-information
      [information]="scoutCenters[selectedOption].scoutCenter"
      [color]="colors[selectedOption]"
    ></app-booking-information>
  </div>
</div>
