<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <h1 class="mb-0 me-3">Gestor de Centros Scout</h1>
    <div>
      <p-button
        class="float-end"
        icon="pi pi-plus"
        label="Añadir"
        title="Añadir Reserva"
        (click)="openOwnBookingDialog()"
      ></p-button>
    </div>
  </div>

  <p-tabs [value]="selectedIndex" [scrollable]="true">
    <p-tablist>
      @for (center of centers; track $index) {
        <p-tab [value]="$index" (click)="onTabChange($index)">{{ center | scoutCenter }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>

      @for (center of centers; track $index) {
        <p-tabpanel [value]="$index">
          <div>
            <p-table
              #tab
              showGridlines
              [value]="selectedBookings"
              [loading]="loading"
              responsiveLayout="scroll"
              selectionMode="single"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="w-min text-center">Nº</th>
                  <th>Entidad</th>
                  <th>Estado</th>
                  <th>Fecha de entrada</th>
                  <th>Fecha de salida</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th>
                    <p-multiSelect
                      [autofocusFilter]="false"
                      [options]="statusesOptions"
                      (onChange)="tab.filter($event.value, 'status', 'in')"
                      [showHeader]="false"
                      appendTo="body"
                      scrollHeight="300px"
                      placeholder="Filtrar"
                      styleClass="w-100 fw-normal"
                    ></p-multiSelect>
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-booking>
                <tr style="outline: none;" pSelectableRow routerLink="{{booking.id}}">
                  <td class="text-center">
                    {{ booking.id }}
                  </td>
                  <td>
                    {{ booking.ownBooking ? 'Asociación Scouts 105 Bentaya' : booking.organizationName }}
                  </td>
                  <td>
                    {{ booking.status | scoutCenterStatus }}
                  </td>
                  <td>
                    {{ booking.startDate | date:"dd/MM/yy" }}
                  </td>
                  <td>
                    {{ booking.endDate | date:"dd/MM/yy" }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr class="bg-white">
                  <td colspan="4">
                    @if (selectedBookings.length == 0) {
                      No hay nuevas reservas :(
                    } @else {
                      No hay resultados
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
