<div class="container">
  <h1 class="text-center">Nuestro Plan de Igualdad</h1>
  <p>Desde el Equipo de Igualdad de la Asociación Scout 105 Bentaya como entidad que apuesta por una educación activa
    y progresiva en materia de igualdad de género, vemos la necesidad de contar con un Plan de Igualdad que respalde y
    guíe la actuación dentro de la asociación. En el presente documento se recogen los objetivos y acciones a realizar
    en un periodo de cuatro años con el fin de garantizar la creación de un espacio seguro para todas las personas y
    en el que desarrollarse de manera sana bajo una mirada igualitaria.
  </p>
  <div class="text-center">
    <a
      pButton
      icon="pi pi-file-pdf"
      type="button"
      label="Lea nuestro plan de igualdad aquí"
      title="Plan de igualdad"
      class="p-button-help"
      routerLink="/assets/archivos/plan-de-igualdad.pdf"
      target="_blank"
    ></a>
  </div>
</div>
