<p-messages severity="warn">
  <ng-template pTemplate>
    <i class="pi pi-exclamation-triangle me-3 fs-3 d-none d-md-block"></i>
    <div style="overflow: hidden; text-overflow: ellipsis;">
      El sistema de reservas está actualmente en fase de prueba, por lo que es posible que experimente algunos errores o
      un funcionamiento irregular. Le pedimos que, si encuentra algún inconveniente o tiene alguna sugerencia, nos lo
      comunique enviando un correo a
      <a class="uncolored" href="mailto:informatica@105bentaya.org?subject=Mejoras en las reservas de Centros Scouts">
        informatica&#64;105bentaya.org
      </a>
    </div>
  </ng-template>
</p-messages>
