<div class="container">
  <h1>Ajustes Centros Scout</h1>
  @if (!editing) {
    <p-tabs [(value)]="selectedTab" scrollable>
      <p-tablist>
        <p-tab [value]="0">Ajustes Generales</p-tab>
        @for (center of scoutCenters; track center.scoutCenter.id) {
          <p-tab [value]="center.scoutCenter.id">{{ center.scoutCenter.name }}</p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="0">
          <app-scout-center-settings></app-scout-center-settings>
        </p-tabpanel>
        @for (scoutCenter of scoutCenters; track scoutCenter.scoutCenter.id) {
          @let center = scoutCenter.scoutCenter;
          <p-tabpanel [value]="center.id">
            <div class="info-container">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <b>Nombre</b>
                  <div>{{ center.name }}</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <b>Lugar</b>
                  <div>{{ center.place }}</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <b>Aportación por persona y día</b>
                  <div>{{ center.price / 100 | currency:'EUR':undefined:undefined:'es' }}</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <b>Aforo máximo</b>
                  <div>{{ center.maxCapacity }}</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <b>Aforo mínimo para la exclusividad</b>
                  <div>
                    {{ center.minExclusiveCapacity }}
                    @if (centerIsAlwaysExclusive(center)) {
                      (Siempre es exclusivo)
                    }
                  </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                  <b>Color</b>
                  <div>
                    <div class="color-show" [ngStyle]="{'background-color': center.color}"></div>
                  </div>

                </div>
                <div class="col">
                  <b>Icono</b>
                  <div>
                    <i [class]="center.icon"></i>
                  </div>
                </div>
                <div class="col-12">
                  <b>Información</b>
                  <div>{{ center.information }}</div>
                </div>
                <div class="col-12">
                  <b>Características</b>
                  <ul class="mb-0">
                    @for (feature of center.features; track $index) {
                      <li>{{ feature }}</li>
                    }
                  </ul>
                </div>
                <div class="text-center mb-0">
                  <p-button
                    label="Editar datos básicos"
                    (onClick)="enableEditMode(center)"
                  ></p-button>
                </div>
              </div>
            </div>
            <hr>
            <div class="d-flex flex-column gap-3">
              <div>
                <b>Normas</b>
                <div class="d-flex align-items-center gap-2">
                  <div class="bordered" [ngClass]="{'empty': !scoutCenter.rules}">
                    {{ scoutCenter.rules?.name ?? 'No hay normas subidas' }}
                  </div>
                  <p-fileupload
                    mode="basic"
                    [chooseButtonProps]="{size: 'small', label: ''}"
                    chooseIcon="pi pi-upload"
                    accept=".pdf"
                    chooseLabel="Subir nuevo documento"
                    [maxFileSize]="maxFileUploadByteSize"
                    (uploadHandler)="uploadRule($event, scoutCenter)"
                    [customUpload]="true"
                    [auto]="true"
                  />
                  @if (scoutCenter.rules) {
                    <div class="d-flex gap-1 ms-1">
                      <p-button
                        icon="pi pi-eye"
                        size="small"
                        outlined
                        (onClick)="openRuleFile(center.id)"
                        title="Ver"
                      ></p-button>
                      <p-button
                        icon="pi pi-download"
                        size="small"
                        outlined
                        (onClick)="downloadRuleFile(center.id)"
                        title="Descargar"
                      ></p-button>
                    </div>
                  }
                </div>
              </div>
              <div>
                <b>Registro de incidencias y estados</b>
                <div class="d-flex align-items-center gap-2">
                  <div class="bordered" [ngClass]="{'empty': !scoutCenter.incidencesDoc}">
                    {{ scoutCenter.incidencesDoc?.name ?? 'No hay documento de incidencias' }}
                  </div>
                  <p-fileupload
                    mode="basic"
                    [chooseButtonProps]="{size: 'small', label: ''}"
                    chooseIcon="pi pi-upload"
                    [accept]="docTypes"
                    [maxFileSize]="maxFileUploadByteSize"
                    (uploadHandler)="uploadIncidence($event, scoutCenter)"
                    [customUpload]="true"
                    [auto]="true"
                  />
                  @if (scoutCenter.incidencesDoc) {
                    <p-button
                      class="ms-1"
                      icon="pi pi-download"
                      size="small"
                      outlined
                      (onClick)="downloadIncidenceFile(center.id)"
                      title="Descargar"
                    ></p-button>
                  }
                </div>
              </div>
              <div>
                <b>Registro de asistentes</b>
                <div class="d-flex align-items-center gap-2">
                  <div class="bordered" [ngClass]="{'empty': !scoutCenter.attendanceDoc}">
                    {{ scoutCenter.attendanceDoc?.name ?? 'No hay documento de asistentes' }}
                  </div>
                  <p-fileupload
                    mode="basic"
                    [chooseButtonProps]="{size: 'small', label: ''}"
                    chooseIcon="pi pi-upload"
                    [accept]="docTypes"
                    [maxFileSize]="maxFileUploadByteSize"
                    (uploadHandler)="uploadAttendance($event, scoutCenter)"
                    [customUpload]="true"
                    [auto]="true"
                  />
                  @if (scoutCenter.attendanceDoc) {
                    <p-button
                      class="ms-1"
                      icon="pi pi-download"
                      size="small"
                      outlined
                      (onClick)="downloadAttendanceFile(center.id)"
                      title="Descargar"
                    ></p-button>
                  }
                </div>
              </div>
              <div>
                <b>Foto principal (recomendable formato 4:3)</b>
                <div class="d-flex align-items-center gap-2">
                  <div class="bordered" [ngClass]="{'empty': !scoutCenter.mainPhoto}">
                    {{ scoutCenter.mainPhoto?.name ?? 'No hay foto principal' }}
                  </div>
                  <p-fileupload
                    mode="basic"
                    [chooseButtonProps]="{size: 'small', label: ''}"
                    chooseIcon="pi pi-upload"
                    [accept]="imageTypes"
                    [maxFileSize]="maxFileUploadByteSize"
                    (uploadHandler)="uploadMainPhoto($event, scoutCenter)"
                    [customUpload]="true"
                    [auto]="true"
                  />
                  @if (scoutCenter.mainPhoto) {
                    <app-general-a-button
                      class="ms-1"
                      icon="pi pi-eye"
                      size="small"
                      variant="outlined"
                      [href]="scoutCenterService.getPhotoUrl(scoutCenter.mainPhoto.uuid)"
                    ></app-general-a-button>
                  }
                </div>
              </div>
              <div>
                <b>Fotos</b>
                <p-fileupload
                  #photoUploader
                  [multiple]="true"
                  [accept]="imageTypes"
                  [maxFileSize]="maxFileUploadByteSize"
                  (uploadHandler)="uploadNewPhotos($event, scoutCenter, photoUploader)"
                  customUpload
                  invalidFileSizeMessageSummary="{0}: Tamaño del archivo inválido, "
                  invalidFileSizeMessageDetail="el tamaño máximo es {0}."
                  invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido, "
                  invalidFileTypeMessageDetail="los archivos permitidos son: {0}."
                >
                  <ng-template
                    #header
                    let-files
                    let-chooseCallback="chooseCallback"
                    let-clearCallback="clearCallback"
                    let-uploadCallback="uploadCallback"
                  >
                    <div class="d-flex gap-2">
                      <p-button
                        label="Seleccionar"
                        icon="pi pi-images"
                        (onClick)="chooseCallback()"
                        size="small"
                        outlined
                      />
                      @if (!loading && files.length > 0) {
                        <p-button
                          label="Confirmar selección"
                          icon="pi pi-cloud-upload"
                          (onClick)="uploadCallback(center.id)"
                          severity="success"
                          size="small"
                        />
                        <p-button
                          label="Descartar selección"
                          icon="pi pi-times"
                          (onClick)="clearCallback()"
                          severity="danger"
                          size="small"
                        />
                      }
                    </div>
                  </ng-template>
                  <ng-template #content let-files let-removeFileCallback="removeFileCallback">
                    <div>
                      @if (loading) {
                        <app-basic-loading-info text="Subiendo..."/>
                      } @else if (files.length > 0) {
                        <b>Fotos seleccionadas:</b>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gx-3 gy-3">
                          @for (file of files; track $index) {
                            <div class="col">
                              <div class="uploader-img">
                                <img [src]="file.objectURL" [alt]="file.name">
                                <span> {{ file.name }}</span>
                                <p-button
                                  icon="pi pi-trash"
                                  severity="danger"
                                  (onClick)="removeFileCallback($event, $index)"
                                ></p-button>
                              </div>
                            </div>
                          }
                        </div>
                      }
                      <div class="mt-3"><b>Fotos subidas</b>
                        @if (scoutCenter.photos.length < 1) {
                          <div>Actualmente no hay fotos subidas</div>
                        } @else {
                          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gx-3 gy-3">
                            @for (file of scoutCenter.photos; track $index) {
                              <div class="col">
                                <div class="uploader-img">
                                  <img [src]="scoutCenterService.getPhotoUrl(file.uuid)" [alt]="file.name">
                                  <span> {{ file.name }}</span>
                                  <p-button
                                    icon="pi pi-trash"
                                    severity="danger"
                                    (onClick)="removeUploadedFile(file, scoutCenter, $index)"
                                    [disabled]="loadingDelete"
                                  ></p-button>
                                </div>
                              </div>
                            }
                          </div>
                        }</div>
                    </div>
                  </ng-template>
                  <ng-template #file></ng-template>
                </p-fileupload>
              </div>
            </div>
          </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  } @else {
    <form [formGroup]="editForm.form" class="form-container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="name"
              id="name"
              maxlength="127"
            >
            <label for="name" class="required">Nombre</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="place"
              id="place"
              maxlength="127"
            >
            <label for="place" class="required">Lugar</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <p-float-label variant="on">
            <p-inputNumber
              id="price"
              mode="currency"
              currency="EUR"
              formControlName="price"
              [min]="0"
            />
            <label for="price" class="required">Aportación por persona y día</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <p-float-label variant="on">
            <p-inputNumber
              id="maxCapacity"
              mode="decimal"
              formControlName="maxCapacity"
              [min]="0"
            />
            <label for="price" class="required">Aforo máximo</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <p-float-label variant="on">
            <p-inputNumber
              id="minExclusiveCapacity"
              mode="decimal"
              formControlName="minExclusiveCapacity"
              [min]="0"
            />
            <label for="minExclusiveCapacity" class="required">Aforo mínimo para exclusividad</label>
          </p-float-label>
        </div>
        <div class="col col-lg-1">
          <p-floatlabel variant="on">
            <input
              pInputText
              style="height: 42px;"
              type="color"
              id="color"
              formControlName="color"
            >
            <label for="icon" class="required">Color</label>
          </p-floatlabel>
        </div>
        <div class="col-12 col-lg">
          <p-floatlabel variant="on">
            <p-inputgroup>
              <input
                pInputText
                id="icon"
                formControlName="icon"
                maxlength="63"
              >
              <label for="icon" class="required">Icono</label>
              <p-inputgroup-addon>
                <i [class]="editForm.controlValue('icon')"></i>
              </p-inputgroup-addon>
              <p-inputgroup-addon class="cursor-pointer" (click)="showHelpDialog = true">
                <i class="pi pi-question fw-bold"></i>
              </p-inputgroup-addon>
            </p-inputgroup>
          </p-floatlabel>
        </div>
        <div class="col-12">
          <p-float-label variant="on">
            <app-form-text-area
              [maxLength]="1023"
              formControlName="information"
              id="information"
            ></app-form-text-area>
            <label for="information" class="required">Información</label>
          </p-float-label>
        </div>
        <div class="col-12">
          <div formArrayName="features">
            <label
              for="features"
              class="required fw-semibold"
              [ngClass]="{'ng-dirty': editForm.isDirtyAndInvalid('features')}"
            >
              Características
            </label>
            <div class="d-flex flex-column gap-2" id="features">
              @for (control of editForm.getFormArray('features').controls; track control) {
                <p-inputgroup>
                  <input pInputText [formControlName]="$index">
                  <p-inputgroup-addon class="cursor-pointer">
                    <p-button severity="danger" text icon="pi pi-trash" (onClick)="deleteFeature($index)"></p-button>
                  </p-inputgroup-addon>
                  <p-inputgroup-addon>
                    <p-button text icon="pi pi-plus" (onClick)="addFeature($index)"></p-button>
                  </p-inputgroup-addon>
                </p-inputgroup>
              }
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-save-buttons
            [showCancelButton]="true"
            (onCancel)="editing = false"
            (onSave)="submit()"
            [saveLoading]="loading"
          ></app-save-buttons>
        </div>
      </div>
    </form>
  }
</div>
<p-dialog
  header="Cómo elegir icono"
  [(visible)]="showHelpDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="basic-dialog"
>
  <p>
    Para elegir un icono entra en alguna de estas página, y escoge un icono que te guste. A continuación sigue los pasos
    explicados al lado de los vínculos para escribir el nombre del icono en el campo de texto. Si está bien escrito, el
    icono deberá aparecer al lado del texto:
  </p>
  <div>
    <a href="https://fontawesome.com/v6/search?ic=free" target="_blank">FontAwesome Free Icons</a>.
    Haz click en el icono que te guste y copia lo que pone dentro de 'class'. Ejemplo: fa-solid fa-house.
  </div>
  <div>
    <a href="https://primeng.org/icons#list" target="_blank">PrimeNG Icons</a>.
    Copia el texto debajo del icono y escríbelo poniendo 'pi' delante. Ejemplo: pi pi-user.
  </div>
</p-dialog>
