<div class="container-fluid container-xl">
  <div class="d-flex align-items-start flex-wrap gap-2 mb-3">
    <h1 class="mb-0 me-3">Gestor de Centros Scout</h1>
    <div class="d-flex flex-row flex-wrap justify-content-end gap-2 ms-auto">
      <div>
        <p-button
          class="float-end"
          icon="pi pi-plus"
          label="Añadir"
          title="Añadir Reserva"
          (click)="openOwnBookingDialog()"
        ></p-button>
      </div>
      <div class="a-container">
        @for (opt of options; track $index) {
          <a [routerLink]="opt?.route" [title]="opt.label" routerLinkActive="active" queryParamsHandling="preserve">
            <span class="d-none d-sm-block">{{ opt.label }}</span>
            <i class="d-sm-none {{opt.icon}}"></i>
          </a>
        }
      </div>
    </div>
  </div>
  <router-outlet/>
</div>
