<div class="container-fluid">
  <div class="d-flex justify-content-between flex-wrap align-items-center gap-2 mb-2">
    <h1 class="mb-0">Lista de preinscripciones</h1>
    <app-checkbox-container label="Mostrar unidad actual">
      <p-checkbox [binary]="true" [(ngModel)]="showCurrentYear"></p-checkbox>
    </app-checkbox-container>
  </div>
  @if (yearList && yearList.length < 1) {
    No hay preinscripciones
  }
  <p-tabs [value]="0" scrollable>
    <p-tablist>
      @for (year of yearList; track $index) {
        <p-tab [value]="$index" (click)="filterByYear(year.year)">{{ year.label }}</p-tab>
      }
    </p-tablist>
  </p-tabs>
  <p-table
    #tab
    (sortFunction)="customSort($event)"
    [loading]="!yearList"
    [customSort]="true"
    [sortOrder]="-1"
    [value]="preScouts"
    responsiveLayout="scroll"
    sortField="creationDate"
    showGridlines
  >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center">
        <app-table-icon-button
          (click)="exportExcelScout()"
          [disabled]="excelLoading"
          [icon]="excelLoading ? 'pi pi-spin pi-spinner' : 'pi pi-file-excel'"
          severity="success"
          title="Descargar preinscripciones como excel"
          type="button"
        ></app-table-icon-button>
        <div class="ms-auto text-end">
          <span>
            {{ tab.processedData.length }}
            {{ tab.processedData.length == 1 ? "preinscripción hecha" : "preinscripciones hechas" }}
            con estas condiciones
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="surname">
          Nombre
          <p-sortIcon field="surname"></p-sortIcon>
        </th>
        <th pSortableColumn="section" style="max-width: 8em;">
          Sección
          <p-sortIcon field="section"></p-sortIcon>
        </th>
        @if (showCurrentYear) {
          <th>
            Unidad Actual
          </th>
        }
        <th pSortableColumn="gender">
          Género
          <p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th pSortableColumn="creationDate">
          Fecha de la Preinscripción
          <p-sortIcon field="creationDate"></p-sortIcon>
        </th>
        <th>
          Estado
        </th>
        <th class="w-min"></th>
      </tr>
      <tr>
        <th>
          <input
            (input)="tab.filter($any($event.target).value, 'id', 'name-surname-filter')"
            pInputText
            placeholder="ID o nombre"
            type="text"
          />
        </th>
        <th>
          <p-multiSelect
            (onChange)="tab.filter($event.value, 'section', 'in')"
            (onClear)="tab.filter(null, 'section', 'in')"
            [options]="sections"
            [showHeader]="false"
            [autofocusFilter]="false"
            [showClear]="true"
            appendTo="body"
            scrollHeight="300px"
            styleClass="w-100 fw-normal"
          ></p-multiSelect>
        </th>
        @if (showCurrentYear) {
          <th></th>
        }
        <th></th>
        <th></th>
        <th>
          <p-multiSelect
            (onChange)="tab.filter($event.value, 'status', 'in')"
            (onClear)="tab.filter(null, 'status', 'in')"
            [options]="multiSelectStatuses"
            [showHeader]="false"
            [autofocusFilter]="false"
            [showClear]="true"
            appendTo="body"
            optionLabel="name"
            optionValue="id"
            scrollHeight="300px"
            styleClass="w-100 fw-normal"
          ></p-multiSelect>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template let-preScout pTemplate="body">
      <tr>
        <td>
          {{ preScout.surname }}, {{ preScout.name }}
        </td>
        <td>
          {{ preScout.section }}
        </td>
        @if (showCurrentYear) {
          <td>
            {{ currentYear - +(preScout.birthday.split("/")[2]) | scoutYear }}
          </td>
        }
        <td>
          {{ preScout.gender }}
        </td>
        <td>
          {{ preScout.creationDate | date:"dd/MM/yyyy HH:mm:ss" }}
        </td>
        <td>
          {{ preScout.status | status:preScout.groupId }}
        </td>
        <td>
          <div class="d-flex flex-row gap-1">
            <app-table-icon-button
              (click)="downloadPreScoutAsPdf(preScout)"
              [disabled]="loading"
              icon="pi pi-file-pdf"
              title="Exportar como PDF"
              type="button"
            ></app-table-icon-button>
            <app-table-icon-button
              (click)="openForm(preScout)"
              [disabled]="loading"
              icon="pi pi-th-large"
              severity="info"
              title="Asignar"
              type="button"
            ></app-table-icon-button>
            <app-table-icon-button
              (click)="deleteScout(preScout)"
              [disabled]="loading"
              icon="pi pi-trash"
              severity="danger"
              title="Eliminar"
              type="button"
            ></app-table-icon-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
