<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <h1 class="mb-0 d-flex me-3">Libros de Registros</h1>
    <div>
      <p-button
        label="Dar Alta"
        routerLink="nuevo"
        queryParamsHandling="preserve"
      ></p-button>
    </div>
  </div>
  <p-tabs [(value)]="tabValue" (valueChange)="updateTab()">
    <p-tablist>
      <p-tab value="HONOUR">Registro Honor</p-tab>
      <p-tab value="PROTECTOR">Registro Protectoras</p-tab>
      <p-tab value="FOUNDER">Registro Fundadoras</p-tab>
      <p-tab value="ACKNOWLEDGEMENT">Reconocimientos</p-tab>
      <p-tab value="DONOR">Registro Donantes</p-tab>
    </p-tablist>
  </p-tabs>
  <p-table
    #table
    [value]="specialMemberInfo"
    [loading]="loading"
    selectionMode="single"
    showGridlines

    paginator
    [rows]="10"
    [rowsPerPageOptions]="[10,25,50,100,300]"

    lazy
    (onLazyLoad)="loadData($event)"
    [totalRecords]="totalRecords"
    [lazyLoadOnInit]="false"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="roleCensus">Censo <p-sortIcon field="roleCensus"/></th>
        <th>Nombre</th>
      </tr>
      <tr>
        <th>
          <input
            class="w-100"
            pInputText
            placeholder="Filtrar censo"
            (input)="table.filter($any($event.target).value, 'census', 'custom')"
          >
        </th>
        <th>
          <input
            class="w-100"
            pInputText
            placeholder="Filtrar por nombre"
            (input)="table.filter($any($event.target).value, 'name', 'custom')"
          >
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-specialMember>
      <tr class="d-table-row" pSelectableRow [routerLink]="specialMember.id">
        <td>
          {{ specialMember.roleCensus | census:specialMember.role }}
        </td>
        <td>
          {{ specialMember.name }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
