<div class="container">
  <div class="text-center">
    <h1 class="mb-0">DONACIONES</h1>
    <h2>Red de Amistad Bentaya</h2>
  </div>
  <div class="py-2">
    <p>
      La Red de Amistad Bentaya (RAB) procura el apoyo a la Asociación Scouts-Exploradores Bentaya para el desarrollo de
      sus fines, objetivos, proyectos, acciones y actividades, y para alcanzar sus compromisos sociales y
      medioambientales, mediante el apoyo personal y moral, la aportación de recursos, el patrocinio y la donación
      voluntaria e irrevocable (monetaria o en especias), conforme a las normas legales vigentes y bajo los principios
      de voluntariedad y confidencialidad.
    </p>
    <p>
      El apoyo de la Red es muy importante para seguir contribuyendo al desarrollo integral de las personas y a
      construir un mundo mejor. Uniéndote a la Red de Amistad Bentaya nos ayudaras a caminar hacia una sociedad más
      justa, equitativa, igualitaria y feliz, hacia un mundo con menos barreras más sostenible y eficiente.
    </p>
    <p>
      Haciendo click en el tríptico de abajo puede conocer más información de nuestra Red de Amistad.
      También puede descargarlo haciendo click
      <a routerLink="/assets/donaciones/Triptico Donaciones.pdf" target="_blank">aquí.</a>
    </p>
    <p>
      Para ser donante habitual o realizar una donación puntual, simplemente tiene que rellenar nuestro formulario
      haciendo click en el siguiente botón. Ante cualquier duda respecto a los donativos, no dude en consultarnos
      enviando un correo a
      <a href="mailto:tesoreria@105bentaya.org">tesoreria&#64;105bentaya.org</a>.
    </p>
    <div class="d-flex justify-content-center">
      <app-general-a-button
        label="Quiero hacerme donante"
        icon="fa-solid fa-hand-holding-dollar"
        variant="filled"
        routerLink="formulario"
      ></app-general-a-button>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <div class="w-100">
        <a routerLink="/assets/donaciones/Triptico Donaciones.pdf" target="_blank">
          <p-image
            imageClass="w-100 rounded-4 donation-image"
            src="assets/donaciones/triptico.jpg"
            alt="Image"
          ></p-image>
        </a>
      </div>
    </div>
  </div>
</div>
