<div [formGroup]="formHelper.form" class="form-container">
  <div class="row">
    <div class="col">
      <p-floatlabel variant="on">
        <p-select
          formControlName="scoutCenter"
          id="scoutCenter"
          [options]="scoutCenters"
          (onChange)="loadCenterData()"
          appendTo="body"
        ></p-select>
        <label class="required" for="scoutCenter">Centro Scout</label>
      </p-floatlabel>
      @if (formHelper.isDirtyAndInvalid('scoutCenter')) {
        <small class="text-danger">Elija un centro Scout</small>
      } @else if (selectedCenterInfo) {
        <small>Aforo máximo del centro: {{ selectedCenterInfo.maxCapacity }}</small>
      }
    </div>
    @if (selectedCenterInfo) {
      <div class="col-12 col-md-6">
        <p-floatlabel variant="on">
          <input
            pInputText
            formControlName="packs"
            id="packs"
            type="number"
            pKeyFilter="pint"
            min="1"
            [max]="selectedCenterInfo.maxCapacity"
          >
          <label class="required" for="packs">Número de personas participantes</label>
        </p-floatlabel>
        @if (formHelper.isDirtyAndInvalidWithError('packs', 'required', 'min')) {
          <small class="text-danger">Introduzca un número positivo de personas participantes</small>
        }
        @if (formHelper.isDirtyAndInvalidWithError('packs', 'max')) {
          <small class="text-danger">El número de personas participantes no debe superar el aforo
            máximo ({{selectedCenterInfo.maxCapacity}})</small>
        }
      </div>
    }
  </div>
  @if (centerLoaded) {
    <div [formGroup]="datesForm.form">
      <div class="row">
        <div class="col-12 col-md-6">
          <p-floatlabel variant="on">
            <p-datePicker
              id="startDate"
              formControlName="startDate"
              dataType="date"
              [minDate]="defaultDate"
              [maxDate]="maxDate"
              [defaultDate]="defaultDate"
              [showTime]="true"
              [stepMinute]="15"
              [showClear]="true"
              [class]="datesForm.hasFormError('endDateBefore') ? 'ng-invalid ng-dirty' : ''"
              appendTo="body"
            >
              <ng-template pTemplate="date" let-date>
                <div class="booking-date">
                  <span [class]="getDateClass(date)">{{ date.day }}</span>
                </div>
              </ng-template>
            </p-datePicker>
            <label class="required" for="startDate">Fecha de entrada</label>
          </p-floatlabel>
          @if (datesForm.isDirtyAndInvalidWithError('startDate', 'required')) {
            <small class="text-danger">Debe introducir una fecha de entrada en formato dd/mm/yyyy</small>
          }
        </div>
        <div class="col-12 col-md-6">
          <p-floatlabel variant="on">
            <p-datePicker
              id="endDate"
              formControlName="endDate"
              dataType="date"
              [minDate]="defaultDate"
              [maxDate]="maxDate"
              [defaultDate]="defaultDate"
              [showTime]="true"
              [stepMinute]="15"
              [showClear]="true"
              [class]="datesForm.hasFormError('endDateBefore') ? 'ng-invalid ng-dirty' : ''"
              appendTo="body"
            >
              <ng-template pTemplate="date" let-date>
                <div class="booking-date">
                  <span [class]="getDateClass(date)">{{ date.day }}</span>
                </div>
              </ng-template>
            </p-datePicker>
            <label class="required" for="endDate">Fecha de salida</label>
          </p-floatlabel>
          @if (datesForm.isDirtyAndInvalidWithError('endDate', 'required')) {
            <small class="text-danger">Debe introducir una fecha de salida en formato dd/mm/yyyy</small>
          }
        </div>
      </div>
      <div class="row mt-revert">
        <div class="col-12">
          @if (datesForm.hasFormError('endDateBefore')) {
            <small class="text-danger mt-revert">La fecha de salida ser posterior a la de entrada</small><br>
          }
          <small>
            Los colores del calendario son meramente orientativos. Una vez seleccionadas las fechas, se le
            informará de la situación exacta del aforo.
          </small>
          @if (!datesForm.hasFormError('endDateBefore') && !datesForm.isDirtyAndInvalid("startDate") && !datesForm.isDirtyAndInvalid("endDate")) {
            <div class="d-flex flex-column gap-3 mt-3">
              @if (reservedInfo.length > 0) {
                <p-message severity="warn" icon="pi pi-exclamation-circle">
                  <div>
                    Durante las siguientes fechas hay una pre-reserva hecha, por lo que su reserva puede no
                    ser aceptada si la pre-reserva termina por confirmarse:
                    <ul>
                      @for (info of reservedInfo; track $index) {
                        <li>
                          {{ info.startDate | date:"dd/MM HH:mm" }} -
                          {{ info.endDate | date:"dd/MM HH:mm" }}
                        </li>
                      }
                    </ul>
                  </div>
                </p-message>
              }
              @if (occupiedInfo.length > 0) {
                <p-message severity="warn" styleClass="occupied" icon="pi pi-exclamation-circle">
                  <div>
                    Durante las siguientes fechas el centro está parcialmente ocupado, por lo que su reserva
                    puede no ser aceptada si sobrepasa el aforo restante:
                    <ul>
                      @for (info of occupiedInfo; track $index) {
                        <li>
                          {{ info.startDate | date:"dd/MM HH:mm" }} -
                          {{ info.endDate | date:"dd/MM HH:mm" }}
                        </li>
                      }
                    </ul>
                  </div>
                </p-message>
              }
              @if (fullyOccupiedInfo.length > 0) {
                <p-message severity="error" icon="pi pi-times-circle">
                  <div>
                    Durante las siguientes fechas el centro está totalmente ocupado, por lo que no se puede
                    realizar la reserva:
                    <ul>
                      @for (info of fullyOccupiedInfo; track $index) {
                        <li>
                          {{ info.startDate | date:"dd/MM HH:mm" }} -
                          {{ info.endDate | date:"dd/MM HH:mm" }}
                        </li>
                      }
                    </ul>
                  </div>
                </p-message>
              }
              @if (noOverlapping) {
                <p-message severity="success" icon="pi pi-check">
                  <div>
                    No hay ningún conflicto con otras reservas, puede seguir adelante.
                  </div>
                </p-message>
              }
            </div>
          }
        </div>
      </div>
    </div>
  }</div>
