<div class="info-container">
  <div class="row">
    <div class="col-12">
      <b>Reserva - Asociación Scouts 105 Bentaya</b>
    </div>
    <div class="col-12">
      <b>Uso de instalaciones</b>
      <div>{{ booking.observations }}</div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <b>Centro solicitado</b>
      <div>{{ booking.scoutCenter | scoutCenter }}</div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <b>Número de participantes</b>
      <div>{{ booking.packs }}</div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <b>Fecha de entrada</b>
      <div>{{ booking.startDate | date:"dd/MM/yyyy HH:mm" }}</div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <b>Fecha de salida</b>
      <div>{{ booking.endDate | date:"dd/MM/yyyy HH:mm" }}</div>
    </div>
    <div class="col-12 col-lg-6">
      <b>Solicita centro en exclusividad</b>
      <div>{{ booking.exclusiveReservation ? 'Sí' : 'No' }}</div>
    </div>
    <div class="col-12 col-lg-6">
      <b>Fecha de solicitud</b>
      <div>{{ booking.creationDate | date:"dd/MM/yyyy HH:mm:ss" }}</div>
    </div>
    @if (booking.price) {
      <div class="col-12">
        <b>Precio establecido</b>
        <div>{{ booking.price | currency:'EUR':undefined:undefined:'es' }}</div>
      </div>
    }
    <div class="col-12">
      <div class="d-flex flex-column gap-1 align-items-start">
        <b>Estado actual</b>
        <b [class]="booking.status | scoutCenterStatus:true" class="rounded-1 p-1">
          {{ booking.status | scoutCenterStatus }}
        </b>
        <div class="mt-3">
          @if (booking.status == 'CANCELED') {
            <div class="col-12">
              <b>Se ha denegado la reserva por el siguiente motivo:</b>
              <div>{{ booking.statusObservations }}</div>
            </div>
          } @else {
            <button
              pButton
              label="Cancelar Reserva"
              class="p-button-danger"
              (click)="cancelBooking()"
            ></button>
          }</div>
      </div>
    </div>
  </div>
</div>
