@if (formHelper.form) {
  <form class="form-container-basic" (ngSubmit)="submit()" [formGroup]="formHelper.form">
    <div class="row gy-4">
      <div class="col-12 col-xl-6 row gy-3 gx-2">
        <b class="fs-5 title-font mt-1">Datos de la asociada</b>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="name"
              id="name"
            />
            <label class="required" for="name">Nombre</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="surname"
              id="surname"
            />
            <label class="required" for="surname">Apellidos</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="feltName"
              id="feltName"
            />
            <label for="feltName">Nombre sentido</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <p-select
              [options]="genders"
              formControlName="gender"
              id="gender"
            />
            <label class="required" for="gender">Género</label>
          </p-float-label>
        </div>
        <app-id-document-form
          [parentForm]="formHelper.form"
          rowClass="row gx-2 gy-3"
          colClass="col-12 col-sm-6"
          labelClass="semi-required"
        ></app-id-document-form>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <p-datePicker
              id="birthday"
              formControlName="birthday"
            />
            <label class="required" for="birthday">Fecha de Nacimiento</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <p-select
              [options]="shirtSizes"
              formControlName="shirtSize"
              id="shirtSize"
              showClear
            />
            <label class="semi-required" for="shirtSize">Talla de camiseta</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="phone"
              id="phone"
            />
            <label for="phone">Teléfono</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="landline"
              id="landline"
            />
            <label for="landline">Teléfono Fijo</label>
          </p-float-label>
        </div>
        <div class="col">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="email"
              id="email"
            />
            <label for="email">Correo electrónico</label>
          </p-float-label>
        </div>
      </div>
      <div class="col row gy-3 gx-2 h-100">
        <b class="fs-5 title-font mt-1">Datos de dirección</b>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="birthplace"
              id="birthplace"
            />
            <label for="birthplace">Lugar de Nacimiento</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="birthProvince"
              id="birthProvince"
            />
            <label for="birthProvince">Provincia de Nacimiento</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="nationality"
              id="nationality"
            />
            <label for="nationality">Nacionalidad</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="address"
              id="address"
            />
            <label for="address">Dirección Postal</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="city"
              id="city"
            />
            <label for="city">Ciudad</label>
          </p-float-label>
        </div>
        <div class="col-12 col-sm-6">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="province"
              id="province"
            />
            <label for="province">Provincia</label>
          </p-float-label>
        </div>
        <div class="col">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="residenceMunicipality"
              id="residenceMunicipality"
            />
            <label class="semi-required" for="residenceMunicipality">Municipio de residencia</label>
          </p-float-label>
        </div>
      </div>
      <div class="col-12 ps-1">
        <p-float-label variant="on">
          <app-form-text-area
            formControlName="observations"
            [maxLength]="65535"
          />
          <label for="observations">Observaciones</label>
        </p-float-label>
      </div>
    </div>
    <div class="text-center text-danger">
      @if (formHelper.isDirtyAndInvalid()) {
        <small>Hay campos sin rellenar o incorrectos</small><br>
      }
    </div>
    <app-save-buttons
      saveType="submit"
      class="mt-3"
      [showCancelButton]="true"
      (onCancel)="onEditionStop.emit()"
      [saveLoading]="loading"
    ></app-save-buttons>
  </form>
}
