<div class="form-container mt-1">
  <form [formGroup]="formHelper.form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12 col-sm-4">
        <p-floatlabel variant="on">
          <p-datePicker
            id="issueDate"
            formControlName="issueDate"
            appendTo="body"
            showClear
          ></p-datePicker>
          <label class="required" for="issueDate">Fecha de Ejecución</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-4">
        <p-floatlabel variant="on">
          <p-datePicker
            id="dueDate"
            formControlName="dueDate"
            appendTo="body"
            showClear
          ></p-datePicker>
          <label class="required" for="dueDate">Fecha Valor</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-4">
        <p-floatlabel variant="on">
          <p-inputNumber
            id="amount"
            formControlName="amount"
            mode="currency"
            locale="es-ES"
            currency="EUR"
            [min]="0"
          ></p-inputNumber>
          <label class="required" for="amount">Importe</label>
        </p-floatlabel>
      </div>
      <div class="col-12">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="description"
            formControlName="description"
            maxlength="255"
          >
          <label class="required" for="description">Descripción</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="type"
            formControlName="type"
            appendTo="body"
            [options]="types"
            maxlength="255"
            (onChange)="onTypeChange()"
          >
            <ng-template pTemplate="item" let-item>
              {{ item | entryType }}
            </ng-template>
            <ng-template pTemplate="selectedItem" let-item>
              {{ item | entryType }}
            </ng-template>
          </p-select>
          <label class="required" for="type">Concepto Económico</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="account"
            formControlName="account"
            appendTo="body"
            [options]="accounts"
          />
          <label class="required" for="account">Cuenta</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="incomeId"
            formControlName="incomeId"
            appendTo="body"
            [options]="donationTypes?.incomeTypes"
            optionLabel="description"
            optionValue="id"
            (onChange)="onIncomeSelect()"
            [loading]="!donationTypes"
            [class]="formHelper.isDirtyAndInvalid() && formHelper.hasFormError('expenseIncomeRequired') ? 'ng-invalid ng-dirty' : ''"
            showClear
          />
          <label class="required" for="incomeId">Ingreso</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="expenseId"
            formControlName="expenseId"
            appendTo="body"
            [options]="donationTypes?.expenseTypes"
            optionLabel="description"
            optionValue="id"
            (onChange)="onExpenseSelect()"
            [loading]="!donationTypes"
            [class]="formHelper.isDirtyAndInvalid() && formHelper.hasFormError('expenseIncomeRequired') ? 'ng-invalid ng-dirty' : ''"
            showClear
          />
          <label class="required" for="expenseId">Gasto</label>
        </p-floatlabel>
      </div>
      <div class="col-12 mb-2">
        <p-floatlabel variant="on">
          <app-form-text-area
            id="observations"
            formControlName="observations"
            [maxLength]="511"
            [showErrorMessage]="formHelper.isDirtyAndInvalid('observations')"
          ></app-form-text-area>
          <label for="observations">Observaciones</label>
        </p-floatlabel>
      </div>
    </div>
    @if (typeIsDonation) {
      <div class="row" formGroupName="donor">
        <div class="col-12 d-flex gap-2">
          <div class="d-flex flex-column">
            <b class="mb-2">Datos del Donante</b>
            @if (hasDonated) {
              <p>
                Estos son los datos de la persona donante en el momento que se hizo esta donación. Sólo cambiar si hay
                un error. Si quieres cambiar la persona donante, edita los datos económicos de la asociada.
              </p>
            } @else {
              <p>
                Por defecto están los datos de la persona declarada como donante. Sólo cambiar si hay un error. Si quieres
                cambiar la persona donante, edita los datos económicos de la asociada.
              </p>
            }
            <label class="required" for="type">Tipo de persona</label>
            <p-select-button
              id="type"
              class="w-fit"
              [options]="personTypes"
              [allowEmpty]="false"
              formControlName="personType"
            ></p-select-button>
          </div>
        </div>
        <div class="col">
          <p-float-label variant="on">
            <input
              pInputText
              formControlName="name"
              id="name"
            />
            <label class="required" for="name">
              @if (donorIsReal) {
                Nombre
              } @else {
                Razón Social
              }
            </label>
          </p-float-label>
        </div>
        @if (donorIsReal) {
          <div class="col-12 col-sm-6">
            <p-float-label variant="on">
              <input
                pInputText
                formControlName="surname"
                id="surname"
              />
              <label for="surname">Apellidos</label>
            </p-float-label>
          </div>
        }
        <app-id-document-form
          [parentForm]="formHelper.form.get('donor')!"
          class="col-12"
          colClass="col-12 col-sm-6"
          labelClass="required"
        />
      </div>
    }
    <app-save-buttons
      saveType="submit"
      [cancelLabel]="entryId ? 'Borrar' : 'Cancelar'"
      [showCancelButton]="true"
      (onCancel)="cancelOrDelete()"
      [saveLoading]="loading"
      [cancelLoading]="deleteLoading"
    />
  </form>
</div>
