<div class="form-container mt-1">
  <form [formGroup]="formHelper.form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12 col-sm-4">
        <p-floatlabel variant="on">
          <p-datePicker
            id="issueDate"
            formControlName="issueDate"
            appendTo="body"
            showClear
          ></p-datePicker>
          <label class="required" for="issueDate">Fecha de Ejecución</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-4">
        <p-floatlabel variant="on">
          <p-datePicker
            id="dueDate"
            formControlName="dueDate"
            appendTo="body"
            showClear
          ></p-datePicker>
          <label class="required" for="dueDate">Fecha Valor</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-4">
        <p-floatlabel variant="on">
          <p-inputNumber
            id="amount"
            formControlName="amount"
            mode="currency"
            locale="es-ES"
            currency="EUR"
            [min]="0"
          ></p-inputNumber>
          <label class="required" for="amount">Importe</label>
        </p-floatlabel>
      </div>
      <div class="col-12">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="description"
            formControlName="description"
            maxlength="255"
          >
          <label class="required" for="description">Descripción</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="type"
            formControlName="type"
            appendTo="body"
            [options]="types"
            editable
            maxlength="255"
          />
          <label class="required" for="type">Concepto Económico</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="account"
            formControlName="account"
            appendTo="body"
            [options]="accounts"
          />
          <label class="required" for="account">Cuenta</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="incomeId"
            formControlName="incomeId"
            appendTo="body"
            [options]="donationTypes?.incomeTypes"
            optionLabel="description"
            optionValue="id"
            (onChange)="onIncomeSelect()"
            [loading]="!donationTypes"
            [class]="formHelper.isDirtyAndInvalid() && formHelper.hasFormError('expenseIncomeRequired') ? 'ng-invalid ng-dirty' : ''"
            showClear
          />
          <label class="required" for="incomeId">Ingreso</label>
        </p-floatlabel>
      </div>
      <div class="col-12 col-sm-6">
        <p-floatlabel variant="on">
          <p-select
            id="expenseId"
            formControlName="expenseId"
            appendTo="body"
            [options]="donationTypes?.expenseTypes"
            optionLabel="description"
            optionValue="id"
            (onChange)="onExpenseSelect()"
            [loading]="!donationTypes"
            [class]="formHelper.isDirtyAndInvalid() && formHelper.hasFormError('expenseIncomeRequired') ? 'ng-invalid ng-dirty' : ''"
            showClear
          />
          <label class="required" for="expenseId">Gasto</label>
        </p-floatlabel>
      </div>
      <div class="col-12 mb-2">
        <p-floatlabel variant="on">
          <app-form-text-area
            id="observations"
            formControlName="observations"
            [maxLength]="511"
            [showErrorMessage]="formHelper.isDirtyAndInvalid('observations')"
          ></app-form-text-area>
          <label for="observations">Observaciones</label>
        </p-floatlabel>
      </div>
    </div>
    <app-save-buttons
      saveType="submit"
      [cancelLabel]="entryId ? 'Borrar' : 'Cancelar'"
      [showCancelButton]="true"
      (onCancel)="cancelOrDelete()"
      [saveLoading]="loading"
      [cancelLoading]="deleteLoading"
    />
  </form>
</div>
