<div [class]="class">
  <div class="d-flex justify-content-center gap-2 align-items-center w-100">
    @if (showCancelButton) {
      <p-button
        [disabled]="saveLoading || cancelDisabled"
        [loading]="cancelLoading"
        [label]="cancelLabel"
        severity="danger"
        (click)="onCancel.emit()"
        [type]="cancelType"
      ></p-button>
    }
    @if (showSaveButton) {
      <p-button
        [disabled]="cancelLoading || saveDisabled"
        [loading]="saveLoading"
        [label]="saveLabel"
        (click)="onSave.emit()"
        [class]="saveClass"
        [icon]="saveIcon"
        [type]="saveType"
        [severity]="saveSeverity"
      ></p-button>
    }
  </div>
</div>
@if (blockOverlay && (saveLoading || cancelLoading)) {
  <div class="block-overlay"></div>
}
