<div [class]="class">
  @if (showErrorMessage) {
    <div class="w-100 text-center mb-1">
      <small class="text-danger">Rellene todos los campos correctamente</small>
    </div>
  }
  <div class="d-flex justify-content-center gap-2 align-items-center w-100">
    @if (showCancelButton) {
      <p-button
        [disabled]="saveLoading || cancelDisabled"
        [loading]="cancelLoading"
        [label]="cancelLabel"
        severity="danger"
        (onClick)="onCancel.emit()"
        [type]="cancelType"
      ></p-button>
    }
    @if (showSaveButton) {
      @if (saveSplitButtonModel) {
        <p-split-button
          [disabled]="cancelLoading || saveDisabled || saveLoading"
          [label]="saveLabel"
          (onClick)="onSave.emit()"
          [class]="saveClass"
          [icon]="saveLoading ? 'pi pi-spin pi-spinner' : saveIcon"
          [severity]="saveSeverity"
          [model]="saveSplitButtonModel"
          appendTo="body"
        ></p-split-button>
      } @else {
        <p-button
          [disabled]="cancelLoading || saveDisabled"
          [loading]="saveLoading"
          [label]="saveLabel"
          (onClick)="onSave.emit()"
          [class]="saveClass"
          [icon]="saveIcon"
          [type]="saveType"
          [severity]="saveSeverity"
        ></p-button>
      }
    }
  </div>
</div>
@if (blockOverlay && (saveLoading || cancelLoading)) {
  <div class="block-overlay"></div>
}
