<div class="container-fluid container-xl hide-overflow-x">
  <div class="d-flex align-items-center image-container w-100 col">
    <div class="text-center col-12 col-md-8 col-lg-6">
      <h1 class="text-white">SCOUTS 105<br>BENTAYA</h1>
      <h2 class="inspiration-title text-white">¡La Aventura de Ser Scout!</h2>
      <button
        class="btn btn-warning rounded-3"
        routerLink="/ser-scout"
      >
        <b>ÚNETE</b>
      </button>
    </div>
  </div>
  <div>
    <p-divider class="mt-3">
      <h2 class="mb-0 text-center">FORMULARIOS</h2>
    </p-divider>
    <div class="row row-cols-5 flex-nowrap overflow-x-auto">
      @for (card of formButtons; track $index) {
        <div
          class="form-card"
          [ngClass]="{'disabled': !card.link}"
        >
          <a class="text-decoration-none" [routerLink]="card.link">
            <div class="card h-100 mb-3">
              <img [src]="card.imgSrc" class="card-img-top" [alt]="card.title">
              <div class="card-body">
                <h5 class="card-title trueno-font fs-5">{{ card.title | uppercase }}</h5>
                <h5 class="card-text trueno-font fs-6 text-blue">{{ card.subtitle | uppercase }}</h5>
                <p class="card-text">{{ card.description }}</p>
              </div>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
<!--
  <div class="scouts-center-container mt-5 justify-content-center">
    <div class="text-center">
      <h2 class="inspiration-title mb-0 pt-3">Vive la aventura en nuestros<br></h2>
      <h2 class="trueno-title mb-0">CENTROS SCOUT</h2>
    </div>
    <div class="row m-0 p-4 align-items-center">
      <div class="col-7">
        <p-galleria
          [value]="this.images"
          [containerStyle]="{'width':'100%'}"
          [showItemNavigators]="true"
          [showThumbnails]="false"
          [showItemNavigatorsOnHover]="false"
        >
          <ng-template pTemplate="item" let-item>
            <img [src]="item.src" style="width: 100%;" alt="" class="rounded-3">
          </ng-template>
        </p-galleria>
      </div>
      <div class="col text-center">
        <p class="flex-column">
          Los Centros Scout son el lugar perfecto para disfrutar de actividades al aire libre y
          aprender en plena naturaleza. Ofrecemos espacios únicos para que los niños, niñas y
          jóvenes se conecten con el entorno y crezcan juntos.
        </p>
        <p>
          ¿Estás pensando en organizar una convivencia o actividad al aire libre con tu grupo o escuela?
          ¡Solicita uno de nuestros centros y haz que la experiencia sea inolvidable!
        </p>
        <button
          class="btn btn-warning mt-3 rounded-3"
          routerLink="/centros-scout/informacion"
        >
          <b>SABER MÁS</b>
        </button>
      </div>
    </div>
  </div>
-->
<!--
  <div class="justify-content-center text-center mt-4">
    <h2 class="trueno-title fs-1">¿Qué hacemos?</h2>
    <div class="d-flex flex-row justify-content-center mt-3">
      <div class="d-flex flex-column m-2">
        <img src="assets/home/valores.png" alt="">
        <img src="assets/home/grupos.png" alt="" class="mt-2">
      </div>
      <div class="d-flex flex-column m-2">
        <img src="assets/home/hacemos.jpg" alt="" class="rounded-4">
        <button
          class="btn mt-3"
          routerLink="/asociacion" fragment="que-hacemos"
        >
          LEER MÁS
        </button>
      </div>
      <div class="d-flex flex-column m-2">
        <img src="assets/home/aprender-jugando.png" alt="">
        <img src="assets/home/actividades.png" alt="" class="mt-2">
      </div>
    </div>
  </div>
-->
<!--
  <div class="info-container mt-4 d-flex flex-wrap justify-content-center">
    <div class="info-card">
      <h3>Información Sobre Nuestra Asociación</h3>
      <p>Cosas rápidas que puedes leer y aprender</p>
    </div>
    @for(card of cards; track card){
      <div class="association-card">
        <div [routerLink]="card.link" [target]="card.target">
          <div class="association-card-header">
            <h2>{{card.id}}</h2>
            <h3>{{card.title}}</h3>
          </div>
          <div class="association-card-content">
            <p>{{card.description}}</p>
          </div>
        </div>
      </div>
    }
  </div>
-->
</div>
