@mixin horizontal-strip($color, $right: false) {
  @if $right == true {
    direction: rtl;
  }
  .content {
    @if $right == true {
      color: var(--bentaya-dark-color);
      border-radius: 20px 0 0 20px;
    } @else {
      color: white;
      border-radius: 0 20px 20px 0;
    }
    background-color: $color;
    width: 80vw;
    min-width: 280px;
    max-width: 450px;
  }

  .fill {
    flex-grow: 1;
    width: 20vw;
    min-width: calc(100% - 450px);
    max-width: calc(100% - 280px);
  }

  width: 100vw;
  margin: 0 calc(-50vw + 50%);
  height: 5rem;
}

.strip-lis {
  @include horizontal-strip(#3C77E9);
}

.strip-hands {
  @include horizontal-strip(#9FAECA, true);
}

.strip-salute {
  @include horizontal-strip(#184295);
}

.strip-tent {
  @include horizontal-strip(#B5C9F0, true);
}

.image-container {
  background-image: url('/assets/home/principal-image.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 20px;

  h1 {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    background-image: url('/assets/home/principal-image.svg');
    background-position: center;
    background-size: contain;
    height: 350px;
  }

  @media (max-width: 420px) {
    h1, .inspiration-title {
      font-size: 2.5rem;
    }
  }
  @media (max-width: 350px) {
    h1, .inspiration-title {
      font-size: 2rem;
    }
  }
}

.form-card {
  padding: 0 0.3rem;
  text-align: center;
  min-width: 215px;

  .card {
    transition: transform .2s;

    &:hover h3, &:hover h4, &:hover img {
      transform: scale(1.02);
    }
  }

  .card-body {
    padding: 1rem 0.5rem;
  }

  %trueno-font {
    font-family: Trueno-Black, sans-serif;
  }

  h3 {
    @extend %trueno-font;
    color: var(--bentaya-main-color);
    font-size: 18px;
    text-wrap: nowrap;
  }

  h4 {
    @extend %trueno-font;
    color: var(--bentaya-main-color);
    font-size: 16px;
  }

  p {
    font-size: 15px
  }
}

.inspiration-title {
  font-family: Inspiration-Regular, sans-serif, Inter;
  font-size: 3rem;
  color: var(--bentaya-main-color);
}

.btn-yellow-bg {
  background-color: #004b93;
  color: #ffd94a;
}

.btn-bentaya {
  background-color: var(--bentaya-main-color);
  color: #ffffff;
  font-weight: bold;
}

.invert-on-md {
  @media (max-width: 767px) {
    h2 {
      color: var(--bentaya-dark-color);
    }
  }
}

@mixin background-overlay($color) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: $color;
  }
}

@media (max-width: 767px) {
  .light-bg {
    @include background-overlay(#f1e3b5);
  }

  .dark-bg {
    @include background-overlay(#e7d28d);
  }
}

@media (min-width: 768px) {
  .full-bg {
    @include background-overlay(#c5d6f5);
  }
}

.home-info-container {
  .info-card h2 {
    color: var(--bentaya-dark-color);
  }

  .row.row-cols-5 > div {
    min-width: 230px;
  }

  .card-container {
    max-width: 1000px;
    @media (max-width: 767px) {
      overflow-x: auto;
      overflow-y: visible !important;
    }
  }

  .card {
    @media (min-width: 768px) {
      min-height: 240px;
    }

    &:hover .card-body {
      transform: scale(1.02);
    }

    .card-title {
      font-family: Trueno-Black, sans-serif;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #044b93;
      @media (max-width: 767px) {
        color: #C59700;
      }
    }
  }
}
