<div class="row">
  @if (userIsSecretary) {
    <div class="col-12" [ngClass]="showGroup ? 'col-md' : 'col-sm'">
      <p-floatlabel variant="on">
        <p-inputgroup>
          <p-input-number
            [formControl]="census"
            id="census"
            [useGrouping]="false"
            prefix="35-105-"
            [min]="1"
            class="border-end-radius-0"
            [max]="canBeExplorer ? 2147483647 : firstExplorerCensus - 1"
          />
          <label class="semi-required" for="census">Censo</label>
          <p-inputgroup-addon>
            <p-button
              pTooltip="Asignar Siguiente Censo"
              text
              icon="fa-solid fa-clock-rotate-left"
              (onClick)="autoCompleteLastCensus()"
              [loading]="!this.lastCensus"
            />
          </p-inputgroup-addon>
          @if (canBeExplorer) {
            <p-inputgroup-addon>
              <p-button
                pTooltip="Asignar Siguiente Censo de Exploradora"
                text
                icon="fa-solid fa-dragon"
                (onClick)="autoCompleteLastExplorerCensus()"
                [loading]="!this.lastCensus"
              />
            </p-inputgroup-addon>
          }
        </p-inputgroup>
      </p-floatlabel>
    </div>
  }
  <div class="col-12 col-sm">
    <p-float-label variant="on">
      <p-select
        [options]="scoutTypes"
        [formControl]="scoutType"
        id="scoutType"
        (onChange)="updateGroupSelect($event.value)"
      />
      <label class="required" for="scoutType">Tipo de asociada</label>
    </p-float-label>
  </div>
  @if (showGroup) {
    <div class="col">
      <p-float-label variant="on">
        <p-select
          [options]="groups"
          [formControl]="groupId"
          optionLabel="name"
          optionValue="id"
          id="groupId"
          [loading]="!groups"
        />
        <label class="required" for="groupId">Unidad de la asociada</label>
      </p-float-label>
    </div>
  }
</div>

@if (userIsSecretary) {
  @if (canBeExplorer && explorerCensusIsGreaterThanLast) {
    <p-message severity="warn" class="mb-3">
      El último número censo de exploradora se actualizará al número {{ census.value }},
      cuando el último de la lista es el {{ lastExplorerCensus }}.
      Si deseas volver a cambiarlo tendrás que hacerlo desde la pestaña de ajustes.
    </p-message>
  } @else if (census.value < firstExplorerCensus && censusIsGreaterThanLast) {
    <p-message severity="warn" class="mb-3">
      El último número censo se actualizará al número {{ census.value }},
      cuando el último de la lista es el {{ lastCensus }}.
      Si deseas volver a cambiarlo tendrás que hacerlo desde la pestaña de ajustes.
    </p-message>
  } @else if (!census.value && scoutType.value !== 'INACTIVE') {
    <p-message severity="warn" icon="pi pi-exclamation-circle">
      Si no especificas un censo, la asociada se quedará como alta pendiente.
    </p-message>
  }
}
