<div class="container">
  <h1 class="text-center">SCOUTS EXPLORADORES DE LAS PALMAS</h1>
  <p>
    Scouts Exploradores de Las Palmas es una entidad meramente organizativa para la provincia de Las Palmas, no está
    registrada en ASDE como es nuestra OOFF (Organización Federada): Scouts Exploradores de Canarias, SEC. Esta
    entidad nos sirve de herramienta para el desarrollo de actividades de rama dentro de una de las dos provincias que
    conforma SEC, en este caso, Las Palmas.
  </p>
  <h3>En construcción...</h3>
</div>
