<p-tabs [value]="0">
  <p-tablist>
    <p-tab [value]="0">Datos</p-tab>
    <p-tab [value]="1">Contactos</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <div class="mb-1">
        <div>
          <b>Apellidos, Nombre: </b>
          <span>{{ scout.surname }}, {{ scout.name }}</span>
        </div>
        <div>
          <b>DNI o NIE: </b>
          <span>{{ scout.dni || "No especificado" }}</span>
        </div>
        <div>
          <b>Género: </b>
          <span>{{ scout.gender }}</span>
        </div>
        <div>
          <b>Fecha de Nacimiento: </b>
          <span>{{ scout.birthday | date:"dd/MM/yyyy" }}</span>
        </div>
        <div>
          <b>Talla: </b>
          <span>{{ scout.shirtSize || "No especificada" }}</span>
        </div>
        <div>
          <b>Municipio de residencia: </b>
          <span>{{ scout.municipality || "No especificado" }}</span>
        </div>
        <div>
          <b>Autorización de imagen: </b>
          <span>{{ scout.imageAuthorization ? "Sí" : "No" }}</span>
        </div>
        <div>
          <b>Datos Médicos: </b>
          <span>{{ scout.medicalData || "Ninguno" }}</span>
        </div>
        <div>
          <b>Unidad: </b>
          <span>{{ scout.groupId | group }}</span>
        </div>
          <div>
            <b>Observaciones: </b>
            <span>{{ scout.observations || "-" }}</span>
          </div>
          <div>
            <b>Progresiones: </b>
            <span>{{ scout.progressions || "-" }}</span>
          </div>
          <div>
            <b>Censo: </b>
            <span>{{ scout.census || "-" }}</span>
          </div>
      </div>
    </p-tabpanel>
    <p-tabpanel [value]="1">
      @for (contact of scout.contactList; track contact.id) {
        <div>
          <b>Nombre: </b>
          <span>{{ contact.name }}</span>
        </div>
        <div>
          <b>Parentesco: </b>
          <span>{{ contact.relationship || "No especificado" }}</span>
        </div>
        @if (contact.phone) {
          <div>
            <b>Teléfono: </b>
            <a class="uncolored text-decoration-none" href="tel:{{contact.phone}}">{{ contact.phone }}</a>
          </div>
        }
        @if (contact.email) {
          <div>
            <b>Correo: </b>
            <a class="uncolored text-decoration-none" href="mailto:{{contact.email}}">{{ contact.email }}</a>
          </div>
        }
        <hr>
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
