<div class="container-fluid container-xxl">
  @if (scout) {
    <div class="d-flex justify-content-between gap-2 overflow-hidden">
      <div class="d-flex flex-column flex-grow-1 justify-content-start">
        <div class="mb-2">
          <span class="fs-4" style="font-family: Trueno-Black, sans-serif;">
            {{ scoutPersonalData.name }} {{ scoutPersonalData.surname }}
            @if (scoutPersonalData.feltName) {
              ({{ scoutPersonalData.feltName }})
            }
          </span>
        </div>
        <div class="d-none d-sm-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
          <div class="d-flex flex-row flex-sm-column flex-wrap gap-2 justify-content-between overflow-ellipsis">
            <div class="text-nowrap overflow-ellipsis mw-100">
              @if (scoutPersonalData.idDocument) {
                <b>{{ scoutPersonalData.idDocument.idType }}:</b> {{ scoutPersonalData.idDocument.number || '-' }}
              } @else {
                <b>DNI:</b> -
              }
            </div>
            <div class="text-nowrap overflow-ellipsis mw-100" [title]="scout.scoutInfo?.census || '-'">
              <b>CENSO:</b> {{ scout.scoutInfo?.census || '-' }}
              <!--usar el censo general u otro en caso de no tener ese-->
            </div>
          </div>
          <div class="d-none d-md-flex flex-column justify-content-between">
            <div class="text-nowrap overflow-ellipsis mw-100">
              <b>RAMA:</b> {{ scout.scoutInfo?.group?.name || '-' }}
            </div>
            <div class="text-nowrap overflow-ellipsis mw-100">
              <b>UNIDAD:</b> {{ scout.scoutInfo?.group?.name || '-' }}
            </div>
          </div>
          <div class="d-none d-sm-flex flex-column justify-content-between">
            <div class="text-nowrap overflow-ellipsis mw-100">
              <b>GÉNERO:</b> {{ scoutPersonalData.gender }}
            </div>
            <div class="text-nowrap overflow-ellipsis mw-100">
              <b>EDAD:</b> 11 años
            </div>
          </div>
          <div class="d-none d-xl-flex flex-column gap-2 align-items-start flex-shrink-1 justify-content-between">
            <div>
              <p-tag
                styleClass="py-0 px-1"
                [value]="scout.scoutInfo?.active ? 'ALTA' : 'BAJA'"
                [severity]="scout.scoutInfo?.active ? 'success' : 'danger'"
              />
            </div>
            <div>
              <p-tag
                styleClass="py-0 px-1"
                [value]="scout.scoutInfo?.federated ? 'FEDERADO' : 'NO FEDERADO'"
                [severity]="scout.scoutInfo?.federated ? 'info' : 'warn'"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-block ms-3">
        <div class="border p-1 h-100" style="min-width: 120px; min-height: 120px; max-height: 150px;">
          <div class="w-100 h-100"
               style="background: url('/assets/home/actividades.png') center center / cover no-repeat;"></div>
        </div>
      </div>
    </div>
    <p-tabs scrollable [value]="0" class="main-info-panel">
      <p-tablist>
        <p-tab [value]="0" [disabled]="editing">Datos Personales</p-tab>
        @if (scout.scoutInfo) {
          <p-tab [value]="1" [disabled]="editing">Datos de Salud</p-tab>
          <p-tab [value]="2" [disabled]="editing">Datos Familiares</p-tab>
        }
        <p-tab [value]="3" [disabled]="editing">Datos Formativos</p-tab>
        <p-tab [value]="4" [disabled]="editing">Datos Asociativos</p-tab>
        <p-tab [value]="5" [disabled]="editing">Historial Scout</p-tab>
        <p-tab [value]="6" [disabled]="editing">Datos económicos</p-tab>
        <p-tab [value]="7" [disabled]="editing">Otros Datos</p-tab>
      </p-tablist>
      <p-tabpanels>
        <div class="position-relative">
          @if (!editing) {
            <p-button
              [icon]="editing ? 'pi pi-times' : 'pi pi-pencil'"
              [severity]="editing ? 'danger' : 'primary'"
              rounded
              outlined
              class="position-absolute end-0"
              size="small"
              (onClick)="editing = !editing"
            ></p-button>
          }
          <p-tabpanel [value]="0">
            @if (editing) {
              <app-personal-data-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
              />
            } @else {
              <app-personal-data [member]="scout"/>
            }
          </p-tabpanel>
          @if (scout.scoutInfo) {
            <p-tabpanel [value]="1">
              @if (editing) {
                <app-medical-data-form
                  [initialData]="scout"
                  (onEditionStop)="onEditionStop($event)"
                />
              } @else {
                <app-medical-data [member]="scout"/>
              }
            </p-tabpanel>
            <p-tabpanel [value]="2">
              @if (editing) {
                <app-contact-data-form
                  [initialData]="scout.scoutInfo.contactList"
                  [memberId]="scout.id"
                  (onEditionStop)="onEditionStop($event)"
                />
              } @else {
                <app-contact-data [contactList]="scout.scoutInfo.contactList"/>
              }
            </p-tabpanel>
          }
        </div>
      </p-tabpanels>
    </p-tabs>
  } @else {
    <app-basic-loading-info/>
  }</div>
