<div class="container-fluid container-xl">
  <div class="d-flex align-items-center mb-1 w-100 flex-wrap gap-2">
    <h1 class="mb-0">Calendario</h1>
    <div class="d-flex gap-2 ms-auto">
      <p-selectButton
        [options]="viewOptions"
        [(ngModel)]="currentView"
        (onChange)="changeView()"
        [allowEmpty]="false"
      >
        <ng-template #item let-item>
          <i [class]="item.icon"></i>
        </ng-template>
      </p-selectButton>
        @if (isScouter) {
          <p-toggle-button
            onIcon="pi pi-globe"
            offIcon="pi pi-globe"
            class="no-label"
            styleClass="squared"
            (onChange)="test($event)"
            title="Mostrar todos los eventos"
          ></p-toggle-button>
        }
      </div>
  </div>
  <div class="d-flex align-items-end justify-content-between gap-1 mb-2">
    <div class="current-date">
      @if (calendarView) {
        <div class="d-none d-sm-block">
          {{ calendarDate | date:"MMMM y":undefined:'es' | sentence }}
        </div>
        <div class="d-sm-none">
          {{ calendarDate | date:"MMM '\''yy":undefined:'es' }}
        </div>
      }
    </div>
    <div class="d-flex gap-1">
      @if (calendarView) {
        <p-button-group>
          <p-button
            size="small"
            icon="pi pi-chevron-left"
            variant="outlined"
            styleClass="squared"
            (click)="prev()"
          ></p-button>
          <p-button
            size="small"
            label="Hoy"
            (click)="today()"
            [style]="{'height': '32px'}"
          ></p-button>
          <p-button
            size="small"
            icon="pi pi-chevron-right"
            variant="outlined"
            styleClass="squared"
            (click)="next()"
          ></p-button>
        </p-button-group>
      }
      <p-button
        size="small"
        variant="outlined"
        icon="pi pi-bell"
        title="Suscribirse"
        styleClass="squared"
        (click)="openSubscribeDialog()"
      ></p-button>
      <p-button
        size="small"
        variant="outlined"
        icon="pi pi-calendar-plus"
        title="Añadir Actividad"
        styleClass="squared"
        (click)="openAddDialog()"
      ></p-button>
    </div>
  </div>
  <full-calendar #calendarComponent [options]="options"></full-calendar>
</div>
