<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <h1 class="mb-0 d-flex me-3">Lista de Donaciones</h1>
    <p-button
      label="Generar Modelo 182"
      icon="fa-solid fa-file-invoice"
      (onClick)="generateDownloadFile()"
    ></p-button>
  </div>
  <p-tabs [(value)]="selectedTab" (valueChange)="updateTab()" scrollable>
    <p-tablist>
      <p-tab [value]="0">
        <span>Formularios de Donación</span>
      </p-tab>
      <p-tab [value]="1">
        <span>Donaciones</span>
      </p-tab>
      <p-tab [value]="2">
        <span>Cuotas y Donaciones Asociativas</span>
      </p-tab>
    </p-tablist>
  </p-tabs>
  @if (selectedTab == 0) {
    <app-donation-form-list/>
  } @else if (selectedTab == 1) {
    <app-donation-list [donations]="donations"/>
  } @else {
    <app-fees-list/>
  }
</div>
