<div class="container">
  <div class="d-flex justify-content-start flex-wrap gap-2 align-items-center">
    <app-general-a-button
      icon="pi pi-arrow-left"
      class="fs-3 p-button-rounded"
      variant="outlined"
      (click)="goBack()"
      title="Atrás"
    ></app-general-a-button>
    <h1 class="mb-0">Gestor de Reservas Nº {{ id }}</h1>
  </div>
  <hr>
  @if (booking) {
    @if (booking.ownBooking) {
      <app-own-booking-detail [booking]="booking"></app-own-booking-detail>
    } @else {
      <app-booking-detail [booking]="booking"></app-booking-detail>
    }
    <app-booking-calendar
      [dateRanges]="dateRanges"
      [currentReservationId]="id"
      [calendarDate]="booking.startDate"
      (changeId)="reloadInfo($event)"
    ></app-booking-calendar>
  } @else {
    <app-basic-loading-info></app-basic-loading-info>
  }
</div>
