<div class="container">
  <div class="d-flex justify-content-start flex-wrap gap-2 align-items-center">
    <app-general-a-button
      icon="pi pi-arrow-left"
      class="fs-3 p-button-rounded"
      variant="outlined"
      (click)="goBack()"
      title="Atrás"
    ></app-general-a-button>
    <h2 class="mb-0">{{ booking?.scoutCenter!.name }} Nº{{ id }}</h2>
  </div>
  <hr>
  <app-booking-editor
    (cancelEdition)="editing = false"
    (bookingEdited)="loadBooking()"
    [editing]="editing"
  ></app-booking-editor>
  @if (!booking) {
    <app-basic-loading-info></app-basic-loading-info>
  } @else if (!editing) {
    <app-booking-detail
      [booking]="booking"
      (startEditing)="startBookingEdition()"
    ></app-booking-detail>
    <div class="d-flex justify-content-end mb-2">
      <p-toggle-button
        offIcon="fa-solid fa-file-circle-xmark"
        onIcon="fa-solid fa-file-circle-xmark"
        class="no-label"
        styleClass="squared"
        size="large"
        title="Mostrar reservas canceladas"
        [(ngModel)]="showCancelled"
        (onChange)="filterDateRanges()"
      ></p-toggle-button>
    </div>
    <app-booking-calendar
      [dateRanges]="dateRanges"
      [currentReservationId]="id"
      [calendarDate]="booking.startDate"
      (changeId)="reloadInfo($event)"
    ></app-booking-calendar>
  }
</div>
