<div class="d-flex flex-row justify-content-center align-items-center">
  <div class="flex-fill text-start w-100">
    <app-sidebar class="ms-4"></app-sidebar>
  </div>
  <div class="flex-fill text-center w-100" >
    <a routerLink="/inicio">
      <img src="assets/nav-bar/header-logo.png" alt="105 Bentaya">
    </a>
  </div>
  <div class="flex-fill text-end me-4 w-100">
    @if (authService.isLoggedIn()) {
      <p-button
        icon="pi pi-user"
        label="Mi Vivac"
        [text]="true"
        [plain]="true"
        [disabled]="loginDisabled"
        routerLink="user-home"
      ></p-button>
    } @else {
      <p-button
        icon="pi pi-user"
        label="Iniciar Sesión"
        [text]="true"
        [plain]="true"
        [disabled]="loginDisabled"
        routerLink="login"
      ></p-button>
    }
  </div>
</div>
