<div class="container">
  <h1>Lista de voluntariado</h1>
  <p-table
    #scouterTab
    showGridlines
    [value]="preScouters"
    responsiveLayout="stack"
    [loading]="!preScouters"
    breakpoint="767px"
  >
    <ng-template pTemplate="caption">
      <div class="ms-auto" style="text-align: right;">
          <span>
            {{ scouterTab.totalRecords }}
            {{ scouterTab.totalRecords == 1 ? "preinscripción hecha" : "preinscripciones hechas" }}
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre de el/la voluntario/a</th>
        <th>Fecha de nacimiento</th>
        <th>Género</th>
        <th class="w-min"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-preScouter>
      <tr class="stack-table-title">
        <td>
          <span class="p-column-title d-md-none">Nombre de el/la voluntario/a</span>
          <span>{{ preScouter.surname }}, {{ preScouter.name }}</span>
        </td>
        <td>
          <span class="p-column-title d-md-none">Fecha de nacimiento</span>
          <span>{{ preScouter.birthday }}</span>
        </td>
        <td>
          <span class="p-column-title d-md-none">Género</span>
          <span>{{ preScouter.gender }}</span>
        </td>
        <td>
          <div class="d-flex flex-row gap-2 justify-content-end w-100">
            <app-table-icon-button
              icon="pi pi-file-pdf"
              [disabled]="loading"
              (click)="downloadPreScouterAsPdf(preScouter)"
              title="Exportar como PDF"
            ></app-table-icon-button>
            <app-table-icon-button
              icon="pi pi-trash"
              [disabled]="loading"
              (click)="deleteScouter($event, preScouter)"
              severity="danger"
              title="Eliminar preinscripción"
            ></app-table-icon-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
