<div [ngClass]="{'container-fluid container-xxl': fromScoutList}">
  @if (!loading) {
    <div class="d-flex justify-content-between gap-1 overflow-hidden">
      <div class="d-flex flex-column flex-grow-1 justify-content-start">
        <div class="mb-2">
          <span class="fs-4" style="font-family: Trueno-Black, sans-serif;">
            @if (fromScoutList) {
              <i class="fa fa-arrow-left fs-5 cursor-pointer" routerLink="/scouts"></i>
            }
            {{ scoutPersonalData.name }} {{ scoutPersonalData.surname }}
            @if (scoutPersonalData.feltName) {
              ({{ scoutPersonalData.feltName }})
            }
          </span>
        </div>
        <div class="d-none d-sm-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-1">
          <div class="d-none d-md-flex column-container">
            <div class="info-container">
              @if (scoutPersonalData.idDocument) {
                <b>{{ scoutPersonalData.idDocument.idType }}:</b> {{ scoutPersonalData.idDocument.number || '-' }}
              } @else {
                <b>DNI:</b> -
              }
            </div>
            <div class="info-container">
              <b>GÉNERO:</b> {{ scoutPersonalData.gender }}
            </div>
            <div class="info-container">
              <b>EDAD:</b> {{ scoutPersonalData.birthday | age:false }}
            </div>
          </div>
          <div class="d-none d-sm-flex column-container">
            <div class="info-container">
              <b>RAMA:</b> {{ (scout.scoutInfo.scoutType | scoutSection:scout.scoutInfo.group | titlecase) || '-' }}
            </div>
            <div class="info-container">
              <b>UNIDAD:</b> {{ (scout.scoutInfo.scoutType | scoutGroup:scout.scoutInfo.group) || '-' }}
            </div>
            <div class="info-container">
              <b>SECCIÓN:</b> {{ (scout.scoutInfo.section) || '-' }}
            </div>
          </div>
          <div class="column-container">
            <div class="info-container" [title]="scout.scoutInfo?.census || '-'">
              <b>CENSO:</b> {{ scout.scoutInfo?.census | census }}
            </div>
            <div>
              <p-tag
                styleClass="py-0 px-1"
                [value]="scout.scoutInfo.status | scoutStatus | uppercase"
                [severity]="scout.scoutInfo.status | scoutStatus:true"
              />
            </div>
            <div>
              <p-tag
                styleClass="py-0 px-1"
                [value]="scout.scoutInfo.federated ? 'FEDERADA' : 'NO FEDERADA'"
                [severity]="scout.scoutInfo.federated ? 'info' : 'warn'"
              />
            </div>
          </div>
        </div>
        @if (scout.roleInfos.length > 0) {
          <div class="d-none d-md-flex row row-cols-1 row-cols-lg-3 gx-1">
            @for (specialMember of scout.roleInfos; track specialMember.id) {
              <div class="text-nowrap mw-100">
                <b>{{ specialMember.role | specialRole:true | uppercase }}:</b>
                {{ specialMember.roleCensus | census:{role: specialMember.role} }}
              </div>
            }
          </div>
        }
      </div>
      <div class="d-flex flex-column align-items-center gap-2">
        <div
          class="border h-100 rounded-5 d-none d-sm-block overflow-hidden"
          [ngClass]="{'mh-120': permission >= Permission.FULL_EDITION, 'mh-140': permission < Permission.FULL_EDITION }"
        >
          <img
            class="object-fit-cover h-100"
            style="width: 130px; border-radius: 28px" src="/assets/scout-user.png"
            alt="Scout"
          >
        </div>
        <ng-container *ngTemplateOutlet="secretaryButtons"/>
      </div>
    </div>
    <p-tabs scrollable [value]="selectedTab" (valueChange)="updateTab($any($event))" class="main-info-panel">
      @if (!secretaryEdition) {
        <p-tablist>
          @for (tab of shownTabs; track tab.id) {
            <p-tab [value]="tab.id" [disabled]="editing">{{ tab.label }}</p-tab>
          }
        </p-tablist>
      }
      <p-tabpanels>
        <div class="position-relative px-3">
          <p-button
            icon="pi pi-pencil"
            severity="primary"
            rounded
            outlined
            class="position-absolute end-0"
            [ngClass]="{'d-none': hideEditButton}"
            size="small"
            (onClick)="startEditing()"
          ></p-button>
          <p-tabpanel value="personal">
            @if (editing) {
              <app-personal-data-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
              />
            } @else {
              <app-personal-data [scout]="scout" [editable]="tabEditionAllowed"/>
            }
          </p-tabpanel>
          <p-tabpanel value="salud">
            @if (editing) {
              <app-medical-data-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
              />
            } @else {
              <app-medical-data [scout]="scout" [editable]="tabEditionAllowed"/>
            }
          </p-tabpanel>
          <p-tabpanel value="familiar">
            @if (editing) {
              <app-contact-data-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
              />
            } @else {
              <app-contact-data [contactList]="scout.contactList"/>
            }
          </p-tabpanel>
          <p-tabpanel value="asociativo">
            @if (editing) {
              <ng-container *ngTemplateOutlet="secretaryEditionInfo"/>
              <app-group-data-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
                [newScoutType]="newScoutType"
              />
            } @else {
              <app-group-data [scout]="scout" [editable]="tabEditionAllowed"/>
            }
          </p-tabpanel>
          <p-tabpanel value="scout">
            @if (editing) {
              <app-scout-history-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
              />
            } @else {
              <app-scout-history [scout]="scout"/>
            }
          </p-tabpanel>
          <p-tabpanel value="economico">
            @if (editing) {
              <app-economic-data-form
                [initialData]="scout"
                (onEditionStop)="onEditionStop($event)"
              />
            } @else {
              <app-economic-data
                [scout]="scout"
                [editable]="tabEditionAllowed"
                [canEditEntries]="permission >= Permission.FULL_EDITION"
              />
            }
          </p-tabpanel>
        </div>
      </p-tabpanels>
    </p-tabs>
  } @else {
    <app-basic-loading-info/>
  }</div>

<ng-template #secretaryButtons>
  @if (permission >= Permission.FULL_EDITION && fromFormStatus === "NONE") {
    @if (editing) {
      @if (secretaryEdition) {
        <p-button
          label="Cancelar"
          severity="danger"
          outlined
          size="small"
          styleClass="py-1"
          (onClick)="onEditionStop()"
        ></p-button>
      }
    } @else if (scout.scoutInfo.status === 'ACTIVE') {
      <p-button
        label="Dar de Baja"
        severity="danger"
        outlined
        size="small"
        styleClass="py-1"
        (onClick)="startSecretaryEdition()"
      ></p-button>
    } @else if (scout.scoutInfo.status !== 'INACTIVE') {
      <p-button
        label="Gestionar Alta"
        severity="info"
        outlined
        size="small"
        styleClass="py-1"
        (onClick)="startSecretaryEdition()"
      ></p-button>
    } @else if (scout.scoutInfo.status === 'INACTIVE') {
      <p-button
        label="Dar de Alta"
        severity="info"
        outlined
        size="small"
        styleClass="py-1"
        (onClick)="startSecretaryEdition()"
      ></p-button>
    }
  }
</ng-template>

<ng-template #secretaryEditionInfo>
  @if (secretaryEdition) {
    <b class="fs-5 title-font">
      @if (scout.scoutInfo.status === 'ACTIVE') {
        Dar de Baja
      } @else {
        Dar de Alta
      }
    </b>
    @switch (scout.scoutInfo.status) {
      @case ('ACTIVE') {
        <p>
          Si deseas dar de baja a esta scout, confirma que la fecha de baja es correcta y dale a guardar. Los
          usuarios asignados a esta scout perderán el acceso a la web.
        </p>
      }
      @case ('PENDING_NEW') {
        <div class="d-flex flex-row gap-1">
          <p>
            Hay un nuevo alta pendiente. Si ya has revisado todos los datos, <b>elige un censo</b> y dale a
            guardar para confirmar el alta. Si no quiere dar el alta, haga click en el botón de 'Eliminar'.
          </p>
          <p-button
            label="Eliminar"
            severity="danger"
            (onClick)="askForDelete()"
          />
        </div>

      }
      @case ('PENDING_EXISTING') {
        <p>
          Hay un nuevo alta pendiente. Es de una persona que <b>ya estuvo de alta</b>, por lo que no hay que
          asignar nuevo censo. Si ya has revisado todos los datos, dale a guardar para confirmar el alta. Si
          no la quiere dar de alta, elija 'Baja' como tipo de asociada.
        </p>
      }
      @case ('INACTIVE') {
        <p>
          Vuelve a dar de alta a esta scout eligiendo el tipo de asociada.
        </p>
      }
    }
  }
</ng-template>
