<div class="row">
  <div class="col-12 col-sm-6">
    <b class="fs-5 title-font">Datos de la asociada</b>
    <div class="d-flex flex-column">
      <app-basic-info label="Nombre" [value]="personalData.name"/>
      <app-basic-info label="Apellidos" [value]="personalData.surname"/>
      <app-basic-info label="Nombre Sentido" [value]="personalData.feltName" [hideIfNull]="true"/>
      <app-basic-info label="Género" [value]="personalData.gender"/>
      <app-basic-info
        label="Fecha de Nacimiento"
        [title]="personalData.birthday | date:'dd\' de \'MMMM\' de \'yyyy':undefined:'es'"
        [value]="personalData.birthday | date:'dd/MM/yyyy'"
      />
      <app-basic-info label="Edad" [value]="personalData.birthday | age"/>
      <app-basic-info
        [label]="personalData.idDocument | idDocumentType"
        [value]="personalData.idDocument | idDocument"
      ></app-basic-info>
      <app-basic-info label="Teléfono" [value]="personalData.phone"/>
      <app-basic-info label="Fijo" [value]="personalData.landline"/>
      <app-basic-info label="Correo electrónico" [value]="personalData.email"/>
      <app-basic-info label="Talla de camiseta" [value]="personalData.shirtSize"/>
      <app-basic-info label="Familia Numerosa" [value]="personalData.largeFamily | boolean"/>
      <app-basic-info label="Autorización de imagen" [value]="personalData.imageAuthorization | boolean"/>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <b class="fs-5 title-font">Datos de Origen Y Residencia</b>
    <app-basic-info label="Lugar de nacimiento" [value]="personalData.birthplace"/>
    <app-basic-info label="Provincia de nacimiento" [value]="personalData.birthProvince"/>
    <app-basic-info label="Nacionalidad" [value]="personalData.nationality"/>
    <app-basic-info label="Dirección Postal" [value]="personalData.address"/>
    <app-basic-info label="Ciudad" [value]="personalData.city"/>
    <app-basic-info label="Provincia" [value]="personalData.province"/>
    <app-basic-info label="Municipio de Residencia" [value]="personalData.residenceMunicipality"/>
    <div class="d-flex align-items-center gap-1 mt-1">
      <b class="fs-5 title-font">{{editable() ? 'Usuarios' : 'Usuarios asociados'}}</b>
      @if (editable()) {
        <p-tag
          class="inverted gray"
          value="Editar"
          (click)="editUsers()"
        />
      }
    </div>
    @if (usernames.length < 1) {
      @if (editable() && scout().scoutInfo.scoutType === "SCOUT") {
        <p-tag class="mt-1" severity="danger" icon="pi pi-exclamation-circle" value="No hay usuarios asignados"/>
      } @else {
        <p-tag class="mt-1" severity="secondary" value="No usuarios asignados"/>
      }
    }
    @for (username of usernames; track username) {
      <div class="mb-1">
        <b>{{ username.owner }}:</b> {{ username.email }}
        @if (editable() && username.owner === 'Otro') {
          <i
            class="pi pi-exclamation-circle align-middle text-danger fw-bold"
            pTooltip="Evita tener usuarios sin relación con la asociada"
          ></i>
        }
      </div>
    }
    @if (!editable()) {
      <small>
        Si cree que alguno de estos usuarios no debería tener acceso a los datos, avise a un scouter de su unidad
      </small>
    }
  </div>
  @if (personalData.observations) {
    <div class="col-12 mt-1">
      <b class="fs-5 title-font">Observaciones</b>
      <div>{{ personalData.observations }}</div>
    </div>
  }
  <div class="col-12 mt-3">
    <app-document-list
      [(documents)]="personalData.documents"
      [canEdit]="editable()"
      [canDelete]="editable()"
      [uploadPetition]="filePetition"
      [deletePetition]="deletePetition"
    />
  </div>
</div>
