<p-button
  class="p-button-icon-only expand-button d-sm-none"
  styleClass="solo"
  rounded
  icon="pi pi-bars"
  (onClick)="resizeMenu()"
></p-button>
<div>
  @if (smallMenu) {
    <div class="space-holder small" [ngClass]="{'animated': animate}"></div>
  } @else if (bigMenu) {
    <div class="space-holder" [ngClass]="{'big': expanded, 'small': !expanded, 'animated': animate}"></div>
  }
  <div [ngClass]="{'expanded': expanded}" class="sidebar animated">
    <p-button
      class="p-button-icon-only expand-button"
      styleClass="z-1"
      rounded
      [icon]="expanded ? 'pi pi-chevron-left' : 'pi pi-chevron-right'"
      (onClick)="resizeMenu()"
    ></p-button>
    <div class="d-flex flex-column h-100">
      <div class="d-flex justify-content-center align-items-center" style="height: 100px">
        <h3 class="text-white text-center mb-0 show-on-expanded cursor-default user-select-none">MI VIVAC</h3>
      </div>
      <div class="menu-buttons-container">
        <div class="d-flex flex-column menu-buttons align-items-start px-2 pb-2 gap-1">
          @for (item of items; track $index) {
            @if (item.divider) {
              <p-divider align="left" class="divider-menu show-on-expanded">
                <b class="cursor-default user-select-none">{{ item.divider }}</b>
              </p-divider>
            } @else {
              <a
                class="p-button p-button-text"
                [routerLink]="item.route"
                (click)="closeMenu()"
                [pTooltip]="expanded ? '' : item.label"
                showDelay="150"
                tooltipPosition="right"
                [ngClass]="{'selected': item.selected}"
              >
                <div class="d-flex align-items-center label-container">
                  @if (item.checked) {
                    <p-overlay-badge styleClass="lower" severity="danger">
                      <i pButtonIcon [class]="item.icon"></i>
                    </p-overlay-badge>
                  } @else {
                    <i pButtonIcon [class]="item.icon"></i>
                  }
                  <span class="show-on-expanded-width">{{ item.label }}</span>
                </div>
              </a>
            }
          }
        </div>
      </div>
      <div class="mt-auto menu-buttons p-2 border-top border-5 d-flex flex-column" style="border-color: #093a6f !important">
        @for (item of bottomItems; track $index) {
          <a
            class="p-button p-button-text w-fit"
            (click)="item?.command()"
            [routerLink]="item?.routerLink"
            [pTooltip]="expanded ? '' : item.label"
            showDelay="150"
            tooltipPosition="right"
          >
            <div class="d-flex align-items-center">
              <i pButtonIcon [class]="item.icon"></i>
              <span class="show-on-expanded-width">{{item.label}}</span>
            </div>
          </a>
        }
      </div>
    </div>
  </div>
  @if (showMask) {
    <div class="p-overlay-mask block-scroll"></div>
  }
</div>
