<div class="row row-cols-1 row-cols-sm-2 mb-2 g-2">
  <div>
    <p-multi-select
      [autofocusFilter]="false"
      [options]="centers"
      [showHeader]="false"
      (onChange)="getBookingDates()"
      (onClear)="getBookingDates()"
      appendTo="body"
      placeholder="Filtrar centros scout"
      styleClass="fw-normal w-100"
      showClear
      [(ngModel)]="scoutCenterFilter"
      [maxSelectedLabels]="10"
    >
      <ng-template let-label pTemplate="selectedItems">
        <div class="overflow-ellipsis">{{ label | join:undefined:scoutCenterPipe }}</div>
      </ng-template>
    </p-multi-select>
  </div>
  <div>
    <p-multi-select
      [autofocusFilter]="false"
      [options]="statuses"
      [showHeader]="false"
      (onChange)="getBookingDates()"
      (onClear)="getBookingDates()"
      appendTo="body"
      placeholder="Filtrar estados"
      styleClass="fw-normal w-100"
      showClear
      [(ngModel)]="statusFilter"
      [maxSelectedLabels]="10"
    >
      <ng-template let-label pTemplate="selectedItems">
        <div class="overflow-ellipsis">{{ label | join:undefined:statusPipe }}</div>
      </ng-template>
    </p-multi-select>
  </div>
</div>
<app-booking-calendar
  [dateRanges]="dateRanges"
  [loading]="loading"
  (changeId)="navigateToDetail($event)"
></app-booking-calendar>
