<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <h1 class="mb-0 d-flex me-3">Lista de facturas</h1>
    <div>
      <p-button
        title="Añadir factura"
        icon="pi pi-plus"
        (click)="openInvoiceFormDialog()"
      ></p-button>
    </div>
  </div>
  <p-table
    #dt
    showGridlines
    [value]="invoices"
    [lazy]="true"
    [totalRecords]="totalRecords"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,25,50,100,300]"
    (onLazyLoad)="loadUsersWithFilter($event)"
    [loading]="loading"
    [showLoader]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} facturas"
    sortField="invoiceDate"
    selectionMode="single"
    [sortOrder]="-1"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="invoiceDate">
          Fecha de Factura
          <p-sortIcon field="invoiceDate"></p-sortIcon>
        </th>
        <th scope="col">
          Genera
        </th>
        <th scope="col">
          Emite
        </th>
        <th scope="col">
          Subvención
        </th>
        <th scope="col">
          Concepto
        </th>
        <th scope="col" pSortableColumn="amount">
          Importe
          <p-sortIcon field="amount"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th scope="col">
          <p-date-picker
            selectionMode="range"
            styleClass="w-100 fw-normal"
            appendTo="body"
            [(ngModel)]="dateRange"
            (onClose)="filterDates()"
            (onClear)="filterDates()"
            readonlyInput
            showClear
          ></p-date-picker>
        </th>
        <th scope="col">
          <p-multiSelect
            [options]="invoiceData?.payers"
            (onChange)="dt.filter($event.value, 'payers', 'custom')"
            (onClear)="dt.filter(null, 'payers', 'custom')"
            showClear
            [autofocusFilter]="false"
            [maxSelectedLabels]="1"
            appendTo="body"
            optionLabel="payer"
            optionValue="id"
            styleClass="w-100 fw-normal"
          ></p-multiSelect>
        </th>
        <th scope="col">
          <input
            pInputText
            class="w-100"
            type="text"
            (input)="dt.filter($any($event.target).value, 'issuer', 'custom')"
          />
        </th>
        <th scope="col">
          <p-multiSelect
            [options]="invoiceData?.grants"
            (onChange)="dt.filter($event.value, 'grants', 'custom')"
            (onClear)="dt.filter(null, 'grants', 'custom')"
            showClear
            [autofocusFilter]="false"
            [maxSelectedLabels]="1"
            appendTo="body"
            optionLabel="grantName"
            optionValue="id"
            styleClass="w-100 fw-normal"
          ></p-multiSelect>
        </th>
        <th scope="col">
          <p-multiSelect
            [options]="invoiceData?.expenseTypes"
            (onChange)="dt.filter($event.value, 'expenseTypes', 'custom')"
            (onClear)="dt.filter(null, 'expenseTypes', 'custom')"
            showClear
            [autofocusFilter]="false"
            [maxSelectedLabels]="1"
            appendTo="body"
            optionLabel="expenseType"
            optionValue="id"
            styleClass="w-100 fw-normal"
          ></p-multiSelect>
        </th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-invoice
    >
      <tr pSelectableRow (click)="openInvoiceDetailDialog(invoice)">
        <td>
          {{ invoice.invoiceDate | date:"dd/MM/yyyy" }}
        </td>
        <td>
          {{ invoice.payer.payer }}
        </td>
        <td>
          {{ invoice.nif }} - {{invoice.issuer}}
        </td>
        <td>
          {{ invoice.grant?.grantName || 'Ninguna' }}
        </td>
        <td>
          {{ invoice.expenseType.expenseType }}
        </td>
        <td>
          {{ invoice.amount / 100 | currency:'EUR':undefined:undefined:'es' }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se han encontrado facturas</td>
      </tr>
    </ng-template>
  </p-table>
</div>
