<div class="options-container">
  <div class="options">
    @for (option of options; track $index) {
      <div
        class="option"
        [ngClass]="{'active': selectedIndex === $index}"
        [style.background-image]="'url(' + option.extras.image + ')'"
        (click)="selectOption($index)"
      >
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <i [class]="option.extras.icon"></i>
          </div>
          <div class="info">
            <div class="main">{{ option.scoutCenter.name }}</div>
            <div class="sub">{{ option.scoutCenter.name }}</div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
