<div class="container">
  <h1 class="text-center">HISTORIA DE SCOUTS 105 BENTAYA</h1>
  <h2 class="mb-4 text-center">65 Años de Escultismo</h2>
  <p>
    En el año 1956, un grupo de jóvenes descubrió a través de revistas y documentos las aventuras que corrían muchos
    otros, llamados Scouts, en diferentes partes del mundo. A lo largo del siguiente año, se consolidan de forma más
    organizada esas actividades scouts, dándose los primeros pasos para constituir una Tropa Scout.
  </p>
  <p>
    Se desarrolla una gran actividad, tanto social como educativa, sucediéndose campamentos, reuniones, charlas,
    excursiones, etc… El tiempo avanza, conforme se consolida el grupo, llegan algunas novedades: cambios de nombre,
    aparición de nuevas secciones educativas, integración de niñas y mujeres en el grupo, asignación del número 105,
    registro a Scouts de España como asociación y reconocimiento de la misma como de Utilidad Pública (1977).
  </p>
  <p>
    En 1978, tras 20 años, el colegio que nos había acogido hasta entonces nos comunica que debíamos dejar los locales
    ocupados. Este hecho supone un duro golpe para el Grupo, que ve cómo se reduce el número de miembros al no poder
    desarrollar regularmente sus actividades.
  </p>
  <p>
    A pesar de las dificultades, durante el verano de 1979 se participa con una tropa scout en el I Campamento
    Nacional de ASDE, celebrado en Tenerife, del mismo resulta el actual nombre del Grupo: “Bentaya”. En la siguiente
    ronda solar las reuniones se celebran en la calle, casi siempre en la Fuente Luminosa y en los locales de la Zona
    Scout de Las Palmas.
  </p>
  <!--p>INSERTAR IMAGEN</p-->
  <p>
    Hacia abril de 1980 se decide alquilar un local. Era el inicio de un largo peregrinar por locales alquilados y
    siempre con la misma historia: buscas, encuentras, arreglas, lo pones bonito y te echan. Si bien este peregrinar
    por locales podía presagiar malos tiempos para el Grupo, lo cierto es que el esfuerzo de todos hizo que se
    impusieran las actividades y el espíritu, provocando un incremento notorio en el número de asociados y lo que es
    más importante, un avance importante en la cantidad y calidad de nuestras actividades: educativas, culturales,
    sociales, medioambientales, deportivas, ocio y tiempo libre.
  </p>
  <!--p>INSERTAR IMAGEN</p-->
  <h3 class="pt-2">El inicio de una Nueva Aventura</h3>
  <p>
    En el año 1991, ante el aviso de tener que dejar el local que ocupábamos, considerando que el número de asociados
    rondaba ya los 225, vistas las dificultades para encontrar nuevo local y habida cuenta de los precios que se
    barajaban, decidimos lanzarnos a la aventura de comprar nuestro local, y como en el escultismo no existe el “im”
    de imposible, no sin dificultades logramos nuestro objetivo: nuestro actual local de la calle Arco 77, adquirido
    en febrero de 1992 e inaugurado en octubre. Las nuevas perspectivas generadas con el nuevo local nos obligan a
    acometer nuevos retos, convertirnos en Asociación con personalidad jurídica propia (1991), compra del local
    (1992), reconocimiento como Entidad Ciudadana (1993) y reconocimiento como Asociación de Utilidad Pública (1996).
    Además, se establecen colaboraciones con otras asociaciones: Adepsi, Síndrome de Down, El Risco, Cruz Roja,
    Unicef, FEAPS Canarias, Médicos del Mundo, AVAFES y muchas otras.
  </p>
  <p>
    El 50 aniversario (2007) marca claramente una nueva etapa, señalada por el reto educativo y dejando atrás las
    dificultades más materiales, pero enfrentándonos a nuevas dificultades derivadas de los cambios y la realidad
    social, de la falta de valores y de las limitaciones que la actividad de ocio y tiempo libre, la acción del
    voluntariado, encuentra en una sociedad de mayores riesgos aparentes, de mayor control a la libertad personal, de
    más requisitos administrativos y burocráticos y de una protección al medio ambiente que impide casi, vivir la
    naturaleza para llegar a quererla y respetarla. Sin embargo, también ha traído otras alegrías con la cesión de una
    nueva casa en propiedad, al pie del Roque Bentayga, que servirá como punto de referencia inolvidable para muchas
    caminatas y campamentos de muchos de nuestros scouts.
  </p>
  <h3 class="pt-2">Nuestro pedacito de Naturaleza</h3>
  <p>
    En los años venideros, se han abierto nuevos retos, aunque remarcamos uno es especial por el futuro que puede
    significar para nuestro grupo: “El campamento Bentaya”, en 2012 dimos el primer paso comprando un terrenito en
    Arucas, la finca Doñana, una finca agrícola de unos 45.000 m2, que esperamos, con toda la ilusión del mundo, se
    convierta en un Campamento Scout de referencia para nuestra isla y para todos los Scouts del mundo.
  </p>
  <p>
    A medida que pasan los años, se ha ido dando forma al Campamento Bentaya. De esta forma ha pasado de los 45.000 m2
    iniciales a casi 80.000 m2, dedicándole muchísimas horas de trabajo. En 2017 se inauguró el refugio Bentaya “Luis
    Martín”.
  </p>
  <!--p>INSERTAR IMAGEN</p-->
  <h3 class="pt-2">Un hito histórico</h3>
  <p>
    El año 2013 nos trajo una enorme alegría en forma de canción pues ese año por primera vez, ganamos el XXIX
    Festival Federal de la Canción Scout, “Largas Lunas” con la canción “Sigue tu ritmo”. Sin duda un momento para la
    historia e inolvidable.
  </p>
  <p>
    El año 2014 estuvo marcado por el centenario de Scouts de Canarias. Celebrándolo todos juntos con un inolvidable
    campamento en La Gomera que reunió a 700 scouts.
  </p>
  <p>
    En la Ronda Solar 2020-21 cumplimos 65 años, un sueño y un hecho histórico que no podría haber sido posible sin
    las más de 3000 personas que han pasado por nuestra asociación.
  </p>
</div>
