<div class="container-fluid">
  <div class="d-flex flex-wrap gap-2 align-items-center mb-1">
    <h1 class="mb-0">{{ isSecretary ? 'Censo Bentaya' : 'Lista de Educandas' }}</h1>
    <div class="d-flex flex-wrap-reverse gap-1 justify-content-end ms-auto">
      @if (tabValue !== "PENDING") {
        <p-selectButton
          [options]="mainQuickFilters"
          [(ngModel)]="selectedFilter"
          (onChange)="mainFilterChange()"
          [allowEmpty]="false"
          size="small"
          class="filter-button"
        />
      }
    </div>
  </div>
  <div class="d-flex flex-wrap-reverse gap-1 align-items-end" [ngClass]="{'mb-2': !isSecretary}">
    @if (isSecretary) {
      <p-tabs [(value)]="tabValue" (valueChange)="onPendingFilterChange($event)">
        <p-tablist>
          <p-tab value="PENDING">
            <span>Altas Pendientes</span>
            @if (pendingRegistrations) {
              <p-badge severity="danger" class="ms-1" size="small" [value]="pendingRegistrations.toString()"/>
            }
          </p-tab>
          <p-tab value="ALL">Censo</p-tab>
        </p-tablist>
      </p-tabs>
    }
    @if (tabValue !== "PENDING") {
      @if (selectedFilter === "GROUP") {
        <p-selectButton
          [(ngModel)]="groupFilterValue"
          [options]="groupQuickFilters"
          (onChange)="groupFilterChange()"
          [allowEmpty]="false"
          size="small"
          class="ms-auto filter-button"
        />
      } @else {
        <p-selectButton
          [(ngModel)]="activeFilterValue"
          [options]="activeQuickFilters"
          (onChange)="activeFilterChange()"
          [allowEmpty]="false"
          size="small"
          class="ms-auto filter-button"
        />
      }
    }
  </div>
  <p-context-menu #cm [model]="contextMenuItem"/>
  <p-table
    #dt
    responsiveLayout="scroll"
    [value]="scouts"
    [loading]="loading"
    selectionMode="single"
    showGridlines
    class="scout-list"

    paginator
    [rows]="25"
    [rowsPerPageOptions]="[10,25,50,100,300]"

    lazy
    (onLazyLoad)="loadData($event)"
    [totalRecords]="totalRecords"
    [lazyLoadOnInit]="false"

    sortField="personalData.surname"

    [contextMenu]="cm"
    [(contextMenuSelection)]="selectedScoutId"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between align-items-center">
        <span>Número de asociadas: {{ dt.totalRecords }}</span>
        <div class="d-none d-sm-flex align-items-center gap-2 flex-wrap">
          <p-button
            icon="pi pi-file-excel"
            [loading]="excelLoading"
            (click)="exportExcelScout()"
            severity="success"
            title="Descargar scouts como excel"
            size="small"
            label="Descargar"
            styleClass="px-2 py-1 rounded-3"
          ></p-button>
          @if (isSecretary || userGroup) {
            <app-general-a-button
              routerLink="/scouts/alta"
              variant="filled"
              icon="pi pi-user-plus"
              size="small"
              label="Alta"
              buttonClass="px-2 py-1 rounded-3"
            />
          }
        </div>
        <div class="d-flex d-sm-none align-items-center gap-1">
          <p-button
            icon="pi pi-file-excel"
            [loading]="excelLoading"
            (click)="exportExcelScout()"
            severity="success"
            title="Descargar scouts como excel"
            size="small"
          ></p-button>
          <app-general-a-button
            routerLink="/scouts/alta"
            variant="filled"
            icon="pi pi-user-plus"
            size="small"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="personalDataSurname">
          Nombre
          <p-sortIcon field="personalDataSurname"></p-sortIcon>
        </th>
        @if (selectedFilter !== 'GROUP') {
          <th pSortableColumn="groupOrder">
            Unidad
            <p-sortIcon field="groupOrder"></p-sortIcon>
          </th>
          <th>Rama</th>
        } @else {
          <th pSortableColumn="personalData.birthday">
            Año
            <p-sortIcon field="personalData.birthday"></p-sortIcon>
          </th>
        }
        <th pSortableColumn="personalDataBirthday">
          Nacimiento
          <p-sortIcon field="personalDataBirthday"></p-sortIcon>
        </th>
        <th pSortableColumn="personalDataGender">
          Género
          <p-sortIcon field="personalDataGender"></p-sortIcon>
        </th>
        <th>DNI</th>
        <th pSortableColumn="census">
          Censo
          <p-sortIcon field="census"></p-sortIcon>
        </th>
        <th>Correo electrónico</th>
      </tr>
      @if (tabValue !== 'PENDING') {
        <tr>
          <th>
            <input
              class="w-100"
              pInputText
              placeholder="Filtrar nombre y apellidos"
              (input)="dt.filter($any($event.target).value, 'name', 'custom')"
            >
          </th>
          @if (selectedFilter !== 'GROUP') {
            <th>
              <p-multiSelect
                [options]="groups"
                (onChange)="dt.filter($event.value, 'groupIds', 'custom')"
                (onClear)="dt.filter(null, 'groupIds', 'custom')"
                [showHeader]="false"
                [autofocusFilter]="false"
                [showClear]="true"
                appendTo="body"
                scrollHeight="300px"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100 fw-normal"
                placeholder="Filtrar Unidad"
              ></p-multiSelect>
            </th>
            <th>
              <p-multiSelect
                [options]="sections"
                (onChange)="dt.filter($event.value, 'sections', 'custom')"
                (onClear)="dt.filter(null, 'sections', 'custom')"
                [showHeader]="false"
                [autofocusFilter]="false"
                [showClear]="true"
                appendTo="body"
                scrollHeight="300px"
                styleClass="w-100 fw-normal"
                placeholder="Filtrar Rama"
              ></p-multiSelect>
            </th>
          } @else {
            <th></th>
          }
          <th>
            <p-date-picker
              #dp
              selectionMode="range"
              styleClass="w-100 fw-normal"
              appendTo="body"
              (onClose)="FilterUtils.filterDates(dt, 'filterDates', dp.value)"
              (onClear)="FilterUtils.filterDates(dt, 'filterDates')"
              showClear
              placeholder="Filtrar Fecha"
            ></p-date-picker>
          </th>
          <th>
            <p-multiSelect
              [options]="genders"
              (onChange)="dt.filter($event.value, 'genders', 'custom')"
              (onClear)="dt.filter(null, 'genders', 'custom')"
              [showHeader]="false"
              [autofocusFilter]="false"
              [showClear]="true"
              appendTo="body"
              scrollHeight="300px"
              styleClass="w-100 fw-normal"
              placeholder="Filtrar Género"
            ></p-multiSelect>
          </th>
          <th>
            <input
              class="w-100"
              pInputText
              placeholder="Filtrar DNI"
              (input)="dt.filter($any($event.target).value, 'idDocument', 'custom')"
            >
          </th>
          <th>
            <input
              class="w-100"
              pInputText
              placeholder="Filtrar censo"
              (input)="dt.filter($any($event.target).value, 'census', 'custom')"
            >
          </th>
          <th>
            <input
              class="w-100"
              pInputText
              placeholder="Filtrar correo"
              (input)="dt.filter($any($event.target).value, 'email', 'custom')"
            >
          </th>
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="body" let-scout>
      <tr
        pSelectableRow
        routerLink="/scouts/{{scout.id}}"
        [pContextMenuRow]="scout.id"
        [pContextMenuRowIndex]="3213"
        [ngClass]="{'bg-danger-subtle': scout.hasWarnings}"
      >
        <td>
          {{ scout.surname }}, {{ scout.name }}
          @if (scout.feltName) {
            {{ scout.feltName }}
          }
        </td>
        @if (selectedFilter !== 'GROUP') {
          <td>
            {{ scout.scoutType | scoutGroup:scout.group }}
          </td>
          <td>
            {{ scout.scoutType | scoutSection:scout.group | titlecase }}
          </td>
        } @else {
          <td>
            {{ currentYear - +(scout.birthday | date: "y")! | scoutYear:scout.scoutType:scout.group }}
          </td>
        }
        <td>
          <span>
            {{ scout.birthday | date: "dd/MM/y" }}
          </span>
        </td>
        <td>
          {{ scout.gender }}
        </td>
        <td>
          <span>
            {{ scout.idDocument | idDocument }}
          </span>
        </td>
        <td>
          {{ scout.census | census }}
        </td>
        <td>
          {{ scout.email ?? 'No Tiene' }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="99">No se han encontrado personas educandas los filtros seleccionados</td>
      </tr>
    </ng-template>
  </p-table>
</div>
