<div class="container">
  <h1 class="text-center">MISIÓN, VISIÓN Y VALORES</h1>
  <h3>Nuestra Misión...</h3>
  <p>
    Contribuir a la educación y al desarrollo de las personas, principalmente durante su infancia, adolescencia y
    juventud, a través de un sistema de valores basado principalmente en la Promesa y la Ley Scout, para ayudar a
    construir un mundo mejor. También tratamos de generar las condiciones para que las personas crezcan con unas
    capacidades que les permitan desarrollarse como adultas con un nivel de autonomía y liderazgo amplios, con
    espíritu crítico, democrático, emprendedor, responsable y solidario, al objeto de contribuir a crear un mundo más
    justo, equitativo y feliz.
  </p>
  <p>Esto pretendemos conseguirlo:</p>
  <ul style="padding-left: 1rem;">
    <li>
      Involucrándolas a lo largo de sus años de educación y formación, en un proceso de educación no formal.
    </li>
    <li>
      Utilizando un método educativo propio que hace de cada Scout, el principal agente de su desarrollo como persona
      autosuficiente, solidaria, responsable y comprometida.
    </li>
    <li>
      Ayudándolas a establecer un sistema de valores basado en los principios espirituales, sociales y personales
      expresados en la Promesa y la Ley Scout.
    </li>
    <li>
      Fomentando la participación social y la intervención medioambiental, con implicación y cooperación en acciones
      de voluntariado.
    </li>
  </ul>
  <h3>Nuestra Visión...</h3>
  <p>
    Vemos a Scouts 105 Bentaya como parte de un movimiento educativo que contribuye realmente, a la creación de un
    mundo mejor. Un Grupo dinámico e innovador con recursos adecuados, de estructuras sencillas y un proceso de
    decisión democrático donde la organización, la gestión, la participación y la comunicación son efectivas a todos
    los niveles.
  </p>
  <p>
    Entendemos que debemos estar liderando la propuesta de voluntariado en el tiempo libre, como un movimiento que
    influye en los valores educativos, con mayor presencia, implicación, intervención y compromiso social y
    medioambiental , con capacidad de hacer, proponer y denunciar, manteniendo siempre nuestros principios y valores
    Scouts y aquella forma de hacer y entender que nos hace diferentes.
  </p>
  <p>
    Un Grupo centrado en la consecución de su misión, con personas que trabajan unidas para desarrollar su completo
    potencial, apoyadas por personas adultas comprometidas, que desean y son capaces de llevar a cabo su papel
    educativo.
  </p>
  <p>
    Presente en todos los sectores de la sociedad, principalmente en el tercer sector, siendo una organización de
    servicio, independiente, autónoma, comprometida con el cambio social, desarrollando la formación de una persona
    íntegra.
  </p>
  <p>Ofrece un programa educativo sencillo, simplificado y transferible a todos los sectores sociales y transmitiendo
    en sus acciones, los valores Scouts con los que educa a sus miembros. Un programa educativo donde los objetivos se
    adaptan a las realidades personales y cuyas acciones y metas las fija básicamente cada persona, convertida en
    protagonista absoluta de su propio proceso educativo.
  </p>
  <h3>Nuestros Valores...</h3>
  <p>
    Son compartidos con el resto del Movimiento Scout Mundial y los transmitimos como una Asociación:
  </p>
  <ul style="padding-left: 1rem;">
    <li>
      <b>SCOUT</b>
      que siente el Escultismo como estilo de vida y método educativo. Como movimiento que educa, integra y participa
      utilizando su propio método educativo como elemento transformador de la sociedad y que persigue el desarrollo
      integral de la persona y En nuestro sentir de los valores , en nuestro modo de hacer y en nuestra historia.
    </li>
    <li>
      <b>ABIERTA</b>
      a nuevas ideas y a todas las personas sin ningún tipo de distinción.
    </li>
    <li>
      <b>VOLUNTARIA</b>
      tanto en el tiempo de permanencia como en el alcance del compromiso personal a adquirir.
    </li>
    <li>
      <b>PARTICIPATIVA</b>
      en su metodología educativa y en su función dentro de la sociedad
    </li>
    <li>
      <b>DEMOCRÁTICA</b>
      en la propia dinámica asociativa y en su concepción social, a la vez que buscadora del consenso.
    </li>
    <li>
      <b>CÍVICA</b>
      al educar, teniendo como fin el preparar buenos ciudadanos conscientes y coherentes con sus responsabilidades
      personales y sociales en todos los campos.
    </li>
    <li>
      <b>INDEPENDIENTE</b>
      de cualquier partido político u organización confesional, pero desarrollando una política eficaz en materia
      asociativa, de infancia y de juventud.
    </li>
    <li>
      <b>PLURAL</b>
      en creencias y manifestaciones espirituales, aceptando la existencia de confesiones religiosas y de creencias de
      índole personal o individual y enriqueciéndonos de todas ellas.
    </li>
    <li>
      <b>ACTUAL Y CRÍTICA</b>
      en sus planteamientos y acciones, al analizar constantemente los problemas y circunstancias del entorno que nos
      rodea.
    </li>
    <li>
      <b>SOLIDARIA, TOLERANTE E INTEGRADORA</b>
      con las realidades sociales y/o personales más desfavorecidas, con todas aquellas iniciativas que persigan
      promover la paz y la igualdad.
    </li>
    <li>
      <b>ACTIVA</b>
      con una actitud positiva de búsqueda hacia una mejora continua de la sociedad o del medio.
    </li>
    <li>
      <b>DEFENSORA DEL MEDIO AMBIENTE,</b>
      cultivando el respeto por el mismo, abogando por su conservación, recuperación y mejora, y contemplando la
      educación medioambiental en su método educativo.
    </li>
    <li>
      <b>IGUALITARIA</b>
      apostando por la igualdad de oportunidades en nuestros postulados pedagógicos, estructura, organización y en
      nuestra práctica habitual.
    </li>
    <li>
      <b>COMPROMETIDA</b>
      para colaborar en la educación integral del mundo infantil y juvenil, en el desarrollo social y en
      la mejora medioambiental, siguiendo el estilo propio del Escultismo.
    </li>
    <li>
      <b>CANARIA</b>
      propulsora de las señas de identidad canaria, a través de sus manifestaciones culturales, folclóricas,
      gastronómicas, artísticas, deportivas, sociales, intelectuales, etc…
    </li>
    <li>
      <b>CON VINCULACIÓN INTERNACIONAL</b>
      desde la perspectiva que le posibilita ser parte de la Hermandad Scout Mundial, que la vincula a más de 150
      países o territorios, y a más de 40 millones de scouts, bajo el respeto de las culturas e identidades propias.
    </li>
  </ul>
</div>
