<div class="info-container">
  @if (editable) {
    <div class="position-absolute" style="height: 1.75rem; right: 1rem;">
      <p-button styleClass="h-100 px-2" (click)="openFormDialog()" [disabled]="loading">Editar</p-button>
    </div>
  }
  <div class="mt-1">
    <div class="row">
      <div class="col-12 col-sm-4">
        <b>Tipo de Apunte</b>
        <div>{{ entry.type | entryType }}</div>
      </div>
      <div class="col-12 col-sm-4">
        <b>Fecha de Ejecución</b>
        <div>{{ entry.issueDate | date:"dd/MM/yyyy" }}</div>
      </div>
      <div class="col-12 col-sm-4">
        <b>Fecha Valor</b>
        <div>{{ entry.dueDate | date:"dd/MM/yyyy" }}</div>
      </div>
      <div class="col-12 col-sm-8">
        <b>Descripción</b>
        <div>{{ entry.description }}</div>
      </div>
      <div class="col-12 col-sm-4">
        <b>Importe</b>
        <div>{{ entry.amount! | currencyEuro }}</div>
      </div>
      <div class="col-12">
        @if (entry.incomeType) {
          <b>Ingreso</b>
          <div>{{ entry.incomeType.description }}</div>
        } @else {
          <b>Gasto</b>
          <div>{{ entry.expenseType.description }}</div>
        }
      </div>
      <div class="col-12">
        <b>Cuenta</b>
        <div>{{ entry.account }}</div>
      </div>
      <div class="col-12 mb-2">
        <b>Observaciones</b>
        <div>{{ entry.observations ?? 'Ninguna' }}</div>
      </div>
      @if (entry.type === "DONATION") {
        @let donor = entry.donor!;
        <div class="col-12 col-sm-8">
          @if (donor.personType === 'REAL') {
            <b>Nombre y apellidos del donante</b>
            <div>{{ donor.name }} {{ donor.surname }}</div>
          } @else {
            <b>Razón social del donante</b>
            <div>{{ donor.name }}</div>
          }
        </div>
        <div class="col">
          <b> {{ donor.idDocument | idDocumentType }} del donante</b>
          <div>{{ donor.idDocument | idDocument }}</div>
        </div>
      }
      @if (showRoute) {
        <div class="mb-0">
          <div style="height: 1.75rem; right: 1rem;">
            <p-button
              styleClass="h-100 px-2"
              label="Ir a Asociada"
              (onClick)="navigateToScout()"
            />
          </div>
        </div>
      }
    </div>
  </div>
</div>
